{% extends 'layouts/mail.twig' %}

{% block content %}
	<div style="font: 14px/130% 'PT Sans', 'PT Sans Bold', Arial, Helvetica, sans-serif; color: #333;">
		{{ Yii.t('signup', 'Welcome!') }}<br>
		<br>
		{{ Yii.t('signup', 'To complete registration on :site-link site please go to:', {':site-link': C.Html.link(host|default(App.request.hostInfo), this.createAbsoluteUrl('main/index'), {style: "font: 14px/130% 'PT Sans', 'PT Sans Bold', Arial, Helvetica, sans-serif; color: #397FB9; text-decoration: underline;"})}) }}
		<br>
		<br>
		<span style="background-color: #ECF0F5; max-width: 500px; padding: 15px; display: inline-block;">
			{% set confirmLink = App.createAbsoluteUrl('main/signUpConfirm', { hash: model.confirmHash }) %}
			<a style="font: 14px/130% 'PT Sans', 'PT Sans Bold', Arial, Helvetica, sans-serif; color: #397FB9; text-decoration: underline;" href="{{ confirmLink }}">{{ confirmLink }}</a>
		</span>
	</div>
{% endblock %}
