{% extends 'layouts/mail.twig' %}

{% block content %}
	<div style="font: 14px/130% 'PT Sans', 'PT Sans Bold', Arial, Helvetica, sans-serif; color: #333;">
		{{ Yii.t('signup', 'Hello :nickname', {':nickname': model.nickname}) }}.<br>
		<br>
		{{ Yii.t('signup', 'You have successfully registered on :site-link website.', {':site-link': C.Html.link(host|default(App.request.hostInfo), this.createAbsoluteUrl('main/index'), {style: "font: 14px/130% 'PT Sans', 'PT Sans Bold', Arial, Helvetica, sans-serif; color: #397FB9; text-decoration: underline;"})}) }}<br>
		{{ Yii.t('signup', 'Start playing right now and good luck at the poker tables') }}<br>
	</div>
{% endblock %}
