{% extends 'layouts/mail.twig' %}

{% block content %}
	<div style="font: 14px/130% 'PT Sans', 'PT Sans Bold', Arial, Helvetica, sans-serif; color: #333;">
		{{ Yii.t('mail', 'Hello!') }}<br>
		<br>
		{{ Yii.t('mail', 'Someone requested a password reset for your account on :site-link. If you didn\'t send the request, please disregard this letter.', {':site-link': C.Html.link(host|default(App.request.hostInfo), this.createAbsoluteUrl('main/index'), {style: "font: 14px/130% 'PT Sans', 'PT Sans Bold', Arial, Helvetica, sans-serif; color: #397FB9; text-decoration: underline;"})})}}
		<br>
		{{ Yii.t('mail', 'If it was you, follow the link. You will be automatically logged in, then a new password will be sent to your email. You can change it to any other using settings in your profile.') }}
		<br>
		<br>
		<br>
		<span style="background-color: #ECF0F5; max-width: 500px; padding: 15px; display: inline-block;">
			<a style="font: 14px/130% 'PT Sans', 'PT Sans Bold', Arial, Helvetica, sans-serif; color: #397FB9; text-decoration: underline;" href="{{ confirmLink }}">{{ confirmLink }}</a>
		</span>
	</div>
{% endblock %}
