{% extends 'layouts/mail.twig' %}

{% block content %}
	<div style="font: 14px/130% 'PT Sans', 'PT Sans Bold', Arial, Helvetica, sans-serif; color: #333;">
		{{ Yii.t('mail', 'Hello :nickname', {':nickname': model.nickname}) }}.
		<br>
		<br>
		{{ Yii.t('mail', 'Your password on :site-link site was successfully reset.', {':site-link': C.Html.link(host|default(App.request.hostInfo), this.createAbsoluteUrl('main/index'), {style: "font: 14px/130% 'PT Sans', 'PT Sans Bold', Arial, Helvetica, sans-serif; color: #397FB9; text-decoration: underline;"})}) }}
		<br>
		{{ Yii.t('mail', 'Your new password is :new-password.', {':new-password': password}) }}
	</div>
{% endblock %}
