{% if App.user.getFlash('support_success') %}
	<div class="form-message form-message_success">
		<p>Your message has been sent.</p>
		<p>Our customer support team member will response as soon as possible.</p>
	</div>
{% endif %}