/******************************** button ********************************/

$b: ".button";

#{$b}_play {
//	background: #FFED19;
	@include background-image(linear-gradient(rgba(#FFED19, .1) 40%, #E99F02 70%));
//	@include border-radius(10px);
	@include image-with-dimentions("section/playnow.png");
	display: inline-block;
}

#{$b}__fb {
	display: block;
	@include background(linear-gradient(bottom, rgb(18, 82, 127) 0%, rgb(22, 96, 147) 28%, rgb(45, 154, 204) 92%, rgb(45, 154, 204) 100%));
	@include box-shadow(0 1px 3px 0 rgba(#000, .5), inset 0 1px 0 0 rgba(#fff, .5));
	@include border-radius(5px);
	@include text-shadow(0px 1px 1px rgba(6, 20, 52, 0.5));
	border: 1px solid #1069A1;
//	padding: 0 40px 0 30px;
	color: #fff;
	text-decoration: none;
	&:hover {
		background: rgb(18, 82, 127);
	}
}
