/******************************** toolbar ********************************/

$b: ".carousel";

#{$b}  {
        max-width: 1080px; 
        margin: 0p auto;
        width:100%;
        margin-bottom: 60px;
}

#{$b}-wrapper {
        margin: 10px 30px;
        overflow: hidden; 
        position:relative;
}

#{$b}-items {
        width: 10000px; 
        position: relative; 
}

#{$b}-block {
        float: left; 
        width: 280px; 
        padding: 10px; 
        
        img{
                display:block;
        }
}

 

#{$b}-button {
        width: 11px;
        height: 18px;
        position: relative;
        top: 80px;
        cursor: pointer;
        text-decoration:none;
        outline: 0;
}

#{$b}-button-left{
        float: left;
        background: url(/img/carousel/left.png);
}
#{$b}-button-right{
        float: right;
        background: url(/img/carousel/right.png);
}