/******************************** casino ********************************/

$b: ".casino";

#{$b} {
	text-align: center;
}

#{$b}__content {
	@extend %clearfix;
}

#{$b}__title {
	@include image-with-dimentions("fancybox/casino-title.png");
	display: inline-block;
	margin-bottom: 20px !important;
}

#{$b}-poker {
	width: 33%;
	float: left;
	text-align: center;
	border-right: 1px solid #FFDF46;
}

#{$b}-roulette {
	width: 33%;
	float: left;
	text-align: center;
	border-left: 1px solid #FFDF46;
}

#{$b}-slots {
	width: 33%;
	float: left;
	text-align: center;
}

#{$b}-popup {

	@include after {
		position: absolute;
		top: 50%;
		margin-top: -172px;
		left: -340px;
		@include image-with-dimentions("fancybox/casino-left.png");
	}

	@include before {
		position: absolute;
		top: 50%;
		margin-top: -137px;
		right: -338px;
		@include image-with-dimentions("fancybox/casino-right.png");
	}
}

#casino {
	display: none;
}
