/******************************** common ********************************/

//colors
//$white: #FFF;
//$black: #000;
//$orange: #E88900;
//$yellow: #F4C572;
//$grey: #655746;
//$blue: #4C4D63;
//$brown: #433A31;
//$brown-medium: #9E764B;
//$brown-light: #e5ded2;
//

//grid
$susy: (
	global-box-sizing: border-box
);





//font

//@mixin fontMuseoSuperLight {
//	font-family: "Museo Sans W01 100", Helvetica, Arial, sans-serif;
//	font-weight: 100;
//}
//
//@mixin fontMuseoLight {
//	font-family: "Museo Sans W01 300", Helvetica, Arial, sans-serif;
//	font-weight: 200;
//}
//
//@mixin fontMuseoLightPost {
//	font-family: "Museo Sans W01 300", Helvetica, Arial, sans-serif !important;
//	font-weight: 200;
//}
//
//@mixin fontMuseo {
//	font-family: "Museo Sans W01 500", Helvetica, Arial, sans-serif;
//	font-weight: 300;
//}
//
//@mixin fontMuseoBold {
//	font-family: "Museo Sans W01 700", Helvetica, Arial, sans-serif;
//	font-weight: 400;
//}
//
//@mixin fontMuseoSuperBold {
//	font-family: "Museo Sans W01 900", Helvetica, Arial, sans-serif;
//	font-weight: 500;
//}

//html and body

//html, body {
//min-height: 100%;
//height: 100%;
//}

body {
	font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
	font-weight: 400;
	position: relative;
	height: 100%;

	&.bg {
		background: #212121;
		padding-top: 50px;
	}

}

.cell {
	display: table-cell;
	width: inherit;
	height: inherit;
	vertical-align: middle;
}

.last {
	margin-right: 0 !important;
}

.wrapper {
	@include container(1600px);
}

.wrapper_inner {
	padding-top: 350px;
}

.wrapper_chips {
	padding-top: 160px;
}

.facebook-container {
	margin-top: 120px;
}

.addthis_native_toolbox {
	float: right;
	margin: 15px 5px 20px 0;
}

#___plusone_0 {
	width: 55px !important;
}

.clear {
	clear: both;
}

.date {
	margin: 0;
	font-size: 16px;
}

.back {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	margin-left: -25px;
}

.link {
	color: #FFE046;

	&:hover {
		text-decoration: none;
	}
}

.btn-casino__coming-soon {
	position: relative;

	&:hover {
		&:after {
			display: block;
			content: 'Coming soon';
			position: absolute;
			font-size: 45px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 6px;
			background: #5B090D;
		}
	}
}