/******************************** currency ********************************/

$b: ".currency";

#{$b} {
	margin: 20px 0;
	padding: 6px;
	background-color: #B90F0C;
	@include border-radius(5px);
	@include container(100%);
	@extend %clearfix;
}


#{$b}__item {
	@include span(5 of 12);
	@include border-radius(3px);
	padding: 6px 0;
	margin-right: .7%;
	background-color: #810A08;
	font-size: 16px;
	color: #FFF;
}

#{$b}__name {
	color: rgba(#FFF, .5)
}

#{$b}__total {

}

#{$b}__icon {
	float: left;
	margin: 7px 15px 0 15px;
}

#{$b}__btn {
	display: inline-block;
	width: 105px;
	height: 44px;
	margin-top: 7px;
	margin-left: 3px;
	line-height: 44px;
	font-size: 17px;
	font-weight: 700;
	color: #5F1E20;
	text-align: center;
	text-decoration: none;
	@include box-shadow(0 7px 10px  rgba(#000, .7));
	@include background-image(linear-gradient(top,  #ffed19 0%, #ffc500 34%, #ffac00 68%, #fd8c00 100%));
	@include border-radius(5px);
}