/******************************** data-list ********************************/

$b: ".data-list";


#{$b} {
	@include container(100%);
	@extend %clearfix;
}

#{$b}_column_one {
	#{$b}__item {
		width: 100%;
		padding-bottom: 10px;
		margin: 0 0 10px 0;
	}

	#{$b}__item-img {
		width: 36px;
		height: 36px;
	}

	#{$b}__item-name {
		margin-top: -5px;
	}

	#{$b}__item-content {
		width: 78%;
	}

}

#{$b}_line {
	#{$b}__item {
		@include span(2.2 of 12);
		padding-bottom: 10px;
		margin-bottom: 20px;
	}

	#{$b}__item-img {
		float: none;
		border: 3px solid #909090;
		@include border-radius(5px);
	}

	#{$b}__item-content {
		width: 78%;
		float: none;
		line-height: 100%;
	}

	#{$b}__item-name {
		margin-top: 8px;
	}

	#{$b}__item-total {
		font-size: 12px;
	}

	#{$b}__item-status {
		left: 0;

		@include after {
			display: none;
		}

		&.online {
			color: rgba(#FFF, .5);
			@include after {
				display: none;
			}
		}
	}
}

#{$b}_achievements {
	#{$b}__item {
		@include span(2.4 of 12);
	}


	#{$b}__item-content {
		width: 85%;
	}

	#{$b}__item-img {
		float: none;
		border: 3px solid #B90F0C;
		@include border-radius(5px);
	}

}

#{$b}_achievements_available {
	#{$b}__item-img {
		border-color:  #909090;
	}

  #{$b}__item-name {
		color:  #909090;
  }

}


#{$b}__item {
	@include span(3.6 of 12);
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-right: gutter(2);

	&:nth-of-type(3n) {
		margin-right: 0;
	}
//	border-bottom: 1px solid rgba(#FFF, .1);
}

#{$b}__item-img {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 20px;
	@include box-sizing(border-box);

	img {
		display: block;
		width: 100%;
		height: 100%;
	}
}


#{$b}__item-content {
	float: left;
	width: 57%;
}

#{$b}__item-name {
	display: block;
	margin-top: -5px;
	font-size: 16px;
	color: #FFE230;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#{$b}__item-total {
	display: block;
	font-size: 14px;
	color: rgba(#fff, .5);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#{$b}__item-status {
	position: relative;
	left: 10px;
	top: -5px;
	display: inline-block;
//	margin-top: 4px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: rgba(#FFF, .5);
	line-height: 120%;

	@include after {
		position: absolute;
		top: 3px;
		left: -10px;
		width: 6px;
		height: 6px;
		@include border-radius(3px);
		background-color: rgba(#FFF, .5);
	}

	&.online {
		color: #82DF00;

		@include after {
			background-color: #82DF00;
		}
	}
}





