/******************************** error-block ********************************/

$b: ".error-block";

#{$b} {
  background: image-url("pages/bg.jpg") 50% 0 no-repeat;
  height: 680px;
  width: 100%;
  padding-top: 180px;
  text-align: center;

  h1 {
	margin: 0;
	display: inline-block;
	@include image-with-dimentions("error.png");
  }
}
