/******************************** facebook ********************************/

$b: ".facebook";

#{$b}-btn {
	background: image-url('/img/section/p-fb.png') 0 0 no-repeat;
	width: 210px;
	height: 76px;
	display: inline-block;

	&:hover {
		background-position: 0 100%;
	}
}

#{$b}-btn_cs {
	background: image-url('/img/section/cs-fb.png') 0 0 no-repeat;
	width: 210px;
	height: 76px;
	display: inline-block;

	&:hover {
//		background-position: 0 100%;
	}
}
