/******************************** features ********************************/

$b: ".features";

#{$b}-content {
	position: absolute;
	top: 190px;
	right: 0;
}

#{$b} {
	@include container(650px);
  	@extend %clearfix;
	width: 650px;
	position: relative;
//	left: -20px;
	margin: 35px 0 46px 0 ;
}

#{$b}__item {
	@include span(28%);
	text-align: center;

	img {
		display: inline-block;
	}

	p {
		font-size: 14px;
		font-weight: 700;
		color: #FFF;
		line-height: 125%;
		@include text-shadow(2px 2px 2px rgba(#000, .4));
		margin: 0;
	}
}

.feature__text {
	margin-top: -10px;
}