/******************************** feature-list ********************************/

$b: ".feature-list";

#{$b} {
	margin-top: 30px;
	margin-left: 51px;
}

#{$b}__item {
	margin-top: 11px;
	position: relative;

	@include after {
		width: 6px;
		height: 6px;
		background-color: #FFE046;
		@include border-radius(3px);
		position: absolute;
		top: 10px;
		left: -16px;
	}
}

#{$b}_roulette {
	#{$b}__item {
		margin-top: 8px;
	}
}