/******************************** feedback ********************************/

$b: ".feedback";

#{$b} {
//	background: #FFF;
	padding: 30px 40px 0 0;
}

#{$b}__title {
	font-size: 28px;
	font-weight: 400;
	color: #FFE046;
	margin: 0;
}

#{$b}__text {
	font-size: 16px;
	color: #FFF;
}