/******************************** flag ********************************/

@import "lang/*.png";

$lang-spacing: 5px;

@mixin lang-sp($name) {
	@include lang-sprite($name);
	width: lang-sprite-width($name);
	height: lang-sprite-height($name);
}


$b: ".flag";

#{$b} {
	display: inline-block;
	position: relative;

	@include before {
		position: absolute;
		top: 0;
		left: 0;
	}
}


#{$b}_en {
	text-indent: 60px;
	@include before {
		@include lang-sp("en-us");
	}
}

//#{$b}_en#{$b}_usa {
//	text-indent: 24px;
//	@include before {
//		@include lang-sp("en-us");
//	}
//}

#{$b}_ru {
	@include before {
		@include lang-sp("russian");
	}
}

#{$b}_fr {
	@include before {
		@include lang-sp("french");
	}
}

#{$b}_de {
	@include before {
		@include lang-sp("german");
	}
}

#{$b}_it {
	@include before {
		@include lang-sp("italian");
	}
}

#{$b}_es {
	@include before {
		@include lang-sp("spanish");
	}
}

#{$b}_ko {
	@include before {
		@include lang-sp("korean");
	}
}

#{$b}_jp {
	@include before {
		@include lang-sp("japanese");
	}
}

#{$b}_th {
	@include before {
		@include lang-sp("thailand");
	}
}

#{$b}_zh_cn,  #{$b}_zh {
	@include before {
		@include lang-sp("chineese");
	}
}

