/******************************** footer ********************************/

$b: ".footer";

#{$b} {
	position: relative;
	@include container(1024px);
	margin-top: 64px;
	margin-bottom: 20px;

	&:after {
		@include image-with-dimentions("footer/chips.png");
		position: absolute;
		top: -360px;
		left: 50%;
		margin-left: -399px;
	}
}

#{$b}__title {
	margin: 0 0 4px 0;
	font-size: 13px;
	font-weight: 400;
	color: rgba(#FFF, .3);
	text-transform: uppercase;
}

#{$b}__top {
	@extend %clearfix;
}


#{$b}__subscribe {
	@include span(6 of 12);

//	li {
//		display: inline-block;
//		margin-right: gutter(4);
//	}
//
//	a {
//		font-size: 18px;
////		font-weight: 700;
//		color: #FFF;
//		text-decoration: none;
//
//		&:hover {
//			text-decoration: underline;
//		}
//	}
}

#{$b}__social {
	@include span(6 last of 12);
	margin-top: 25px;
	text-align: right;

	li {
		display: inline-block;
		margin-right: gutter(6);

		&:last-child {
			margin-right: 6px;
		}
	}

	a {
		display: block;
		width: 30px;
		height: 30px;
	}

	.fb {
		background: image-url("footer/fb.png");
	}

	.tw {
		background: image-url("footer/tw.png");
	}

	.gl {
		background: image-url("footer/gl.png");
	}

	.inst {
		background: image-url("footer/inst.png");
	}

}

#{$b}__bottom {
	@extend %clearfix;
	margin-top: 23px;
	padding-top: 23px;
	border-top: 1px solid rgba(#FFF, .1);
}

#{$b}__copy {
	position: relative;
	margin: 0;
	@include span(6 of 12);
	font-size: 13px;
	color: rgba(#FFF, .3);
//	padding-left: 142px;
	vertical-align: top;
	line-height: 37px;
}

#{$b}__logo {
	@include image-with-dimentions("footer/copy.png");
	display: inline-block;
	margin-right: gutter(5);
	outline: none;
}

#{$b}__legal {
	@include span(6 last of 12);
	text-align: right;

	li {
		display: inline-block;
		margin-right: gutter(4);

		&:last-child {
			margin-right: 6px;
		}
	}

	a {
		font-size: 13px;
		color: rgba(#FFF, .3);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

#{$b}-legal-text {
	margin-bottom: 20px;
	font-size: 14px;
	color: #fff;
}