/******************************** form ********************************/

$b: ".form";

#{$b} {
//	background: #FFF;


	input[type="text"], input[type="email"] {
		width: 345px;
		height: 40px;
		padding-left: 10px;
		@include border-radius(5px);
		border: 1px solid #BBBBBB;
		outline: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;

		&.error {
			border: 1px solid #EA6750;
		}
	}

	textarea {
		width: 445px;
		height: 90px;
		padding: 5px;
		@include border-radius(5px);
		border: 1px solid #BBBBBB;
		resize: none;
		outline: none;
		font-size: 14px;

		&.error {
			border: 1px solid #EA6750;
		}
	}
}

#{$b}_settings {
  #{$b}__field {
	display: inline-block;
  }

  #{$b}__label {
	display: inline-block;
	width: 120px;
}

#{$b}__button {
  	margin-left: 123px;
}
}

#{$b}__row {
	margin-bottom: 15px;
}

#{$b}__field {
	margin-top: 5px;
}

#{$b}__label {
	font-size: 16px;
	color: #FFF;

	.required {
		display: none;
	}

	&.error {
		color: #EA6750;
	}
}

#{$b}__button {
	min-width: 154px;
	height: 45px;
	margin-top: 5px;
	background: #FFAC00;
	@include background-image(linear-gradient(rgba(#FFED19, 1) 0%, #E99F02 70%));
	@include border-radius(5px);
	@include box-shadow(0 5px 10px rgba(#000, .5));
	font-family: "PT Sans Narrow",​Helvetica,​Arial,​sans-serif;
	border: none;
	outline: none;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #611E23;

	&:hover {
		background: rgba(#FFAC00, .8);
	}
}


#{$b}-message {
	margin-bottom: 0;
	color: #EA6750;
}

#{$b}-switcher {
        height: 42px;
        margin-left: -10px;
        
        a {
                display: inline-block;
                text-decoration: none;
                font-family: "PT Sans Narrow",​Helvetica,​Arial,​sans-serif;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
                margin: 0;
                padding: 0;
                float: left;
                width: 215px;
                height: 93px;
                display: inline-block;
                margin: 15px 20px 15px 0;
                background-color: transparent;
                background-repeat: no-repeat;
                outline: 0;
                @include border-radius(5px);
                
                
                
        }
}

#{$b}-switcher__poker {
        background-image: url(/img/section/switch-poker.png);
}

#{$b}-switcher__roulette {
        background-image: url(/img/section/switch-roulette.png);
}

#{$b}-switcher__slots {
        background-image: url(/img/section/switch-slots.png);
}

#{$b}-switcher_on {
        background-position: 0 0;
        color: #601e22;
}

#{$b}-switcher_off {
      	background-position: 0 -93px;
        color: #fff;
}

.errorSummary ul {
	display: none;
}