/******************************** ft-store ********************************/

$b: ".ft-store";

#{$b} {
	@include container(1024px);
}

#{$b}__item {
	@include span(2.4 of 12);
	height: 67px;
	background-color: rgba(#000, .7);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	@include border-radius(10px);
//	@include gutter(5.5);
}

#{$b}__item_ap {
	background-image: image-url("section/ft-apple.png");
//	background-position: 50% 85%;
}

#{$b}__item_gl {
	background-image: image-url("section/ft-google.png");
//		background-position: 50% 60%;
}

#{$b}__item_fb {
	background-image: image-url("section/ft-fb.png");
}

#{$b}__item_win {
	background-image: image-url("section/ft-win.png");
}

#{$b}__item_amazon {
	background-image: image-url("section/ft-amazon.png");
}