/******************************** features ********************************/

$b: ".game-available";

#{$b} {
        margin-bottom: 60px;
        
        .ft-store__item {
                margin-right: 10px; 
        }
}

