/******************************** features ********************************/

$b: ".game-features";

#{$b}__content {
        width: 600px;
        float: left;
}

#{$b}__play {
        width: 301px;
        float: right;
        height: 410px;
        margin-right: -50px ;
        padding: 200px 40px 0 40px;
        background: url(/img/section/features.png) no-repeat 0px 40px;
}

#{$b}-list {
	margin-top: 30px;
	margin-left: 51px;
}

#{$b}-list__item {
	margin-top: 30px;
	position: relative;

	@include after {
		width: 6px;
		height: 6px;
		background-color: #FFE046;
		@include border-radius(3px);
		position: absolute;
		top: 10px;
		left: -16px;
	}
}