/******************************** header ********************************/

$b: ".header";

#{$b} {
	position: relative;
	@include image-with-dimentions("header/bg.png");
	width: 100%;
	@include background-size(100% 100%);

	@include after {
		width: 100%;
		height: 50px;
		@include background-image(linear-gradient(rgba(#212121, .1) 40%, #212121 100%));
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

#{$b}__right {
	@include image-with-dimentions("header/right-angle.png");
	position: absolute;
	top: 0;
	right: 0;
}

#{$b}__left {
	@include image-with-dimentions("header/left-angle.png");
	position: absolute;
	top: 0;
	left: 0;
}

#{$b}__content {
	width: 100%;
	max-width: 571px;
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin-left: -285px;
	text-align: center;
}

#{$b}__text {
	display: inline-block;
	margin: 0;
	position: absolute;
}

#{$b}__text_1 {
	@include image-with-dimentions("header/text-1.png");
	left: 50%;
	top: 183px;
	margin-left: -165px;
//	@include breakpoint(max-width 1450px) {
//		top: 183px;
//	}
}

#{$b}__text_2 {
	left: 0;
	top: 635px;

	width: 100%;
	text-align: center;
	font-family: Press Gothic;
//	font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
	font-size: 27px;
	color: #F7CD00;
	letter-spacing: 1px;
//	color: #F4D813;
	@include text-shadow(2px 2px 2px rgba(#000, .2));


	span {
		display: inline-block;
		width: 180px;
		line-height: 130%;
	}
//	@include breakpoint(max-width 1450px) {
//		top: 635px;
//
//		span {
//			display: inline-block;
//			width: 180px;
//			line-height: 130%;
//		}
//	}

}

#{$b}-play {
	@include image-with-dimentions("header/play.png");
	display: inline-block;
}

