/******************************** icons ********************************/

$b: ".icon";

@import "icons/*.png";

//$icons-spacing: 5px;

@mixin icons-sp($name) {
	@include icons-sprite($name);
	width: icons-sprite-width($name);
	height: icons-sprite-height($name);
}


#{$b} {
	display: inline-block;
}

#{$b}_chips {
	@include icons-sp("chips");
}

#{$b}_coins {
	@include icons-sp("coins");
}

