/******************************** lang-toolbar ********************************/

$b: ".lang-toolbar";

#{$b} {
	
        position: absolute;
        right: 40px;
        margin-top: 15px;
}

#{$b}__label {
	font-size: 15px;
	color: rgba(100%,100%,100%, .5);
	margin: 0 0 0 0;
}

#{$b}__btn {
	position: relative;
	padding-left: 28px;
	font-size: 19px;
	font-weight: 100;
	color: #FFF !important;
	text-decoration: none;
	line-height: 100%;
	z-index: 11;

	@include after {
		@include lang-sp("ok");
		background-repeat:  no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -5px;
		right: -22px;
	}
}

#{$b}__btn_en {
	padding-left: 0;
	text-indent: 52px !important;
}
