/******************************** lang-switcher ********************************/

$b: ".lang-switcher";

#{$b} {
	margin: 30px 30px;
}

#{$b}__flag {
	@include gutter(2);
	font-size: 16px;
	color: #FFF;
	line-height: 100%;
//	padding: 10px 10px 10px 40px;
	padding: 10px 0;
	width: 115px;
	text-indent: 40px;
	margin-left: -10px;
	text-decoration: none;
	@include border-radius(5px);

	&.active {
		background: rgba(0,0,0, .2);
	}

	&.flag_us {
		width: 101px;
	}

	@include before {
		top: 50% !important;
		left: 10px !important;
		margin-top: -8px;
	}
}

.lang-soon {
	@include image-with-dimentions("lang/soon.png");
	display: none;
}


#lang {
	display: none;
}




