/******************************** legal ********************************/

$b: ".legal";

#{$b} {
	min-width: 960px;
	position: relative;
	color: #FFF;
	margin-bottom: 50px;
	z-index: 20;

	a {
		color: #FFE046;

		&:hover {
			text-decoration: none;
		}
	}
}

#{$b}_bg {
	background: image-url("legal/angle.png") 685px 0 no-repeat, image-url("legal/bg.jpg") 50% 0 no-repeat;

	@include breakpoint(max-width 1300px) {
		background-position: 400px 0;
	}
}

#{$b}__logo {
	@include image-with-dimentions("legal/logo.png");
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

#{$b}__title {
	margin-bottom: 30px;
}


