/******************************** location ********************************/

$b: ".location";

#{$b} {

}


#{$b}__title {
	display: inline-block;
	padding-right: 40px;
}

#{$b}__set {
	position: relative;
	font-size: 16px;
	color: #FFE500;
	border-bottom: 1px dashed #FFE500;
}

#{$b}__icon {
	position: absolute;
	left: -17px;
	top: 0px;
}