/******************************** online ********************************/

$b: ".online";

#{$b} {
	text-align: left;
	position: absolute;
	top: -235px;
	left: 0;
}

#{$b}__label {
	margin: 0;
}

#{$b}__total {
	margin: 9px 0 11px -3px;
}

#{$b}__button {
	text-align: center;
}
