/******************************** legal ********************************/

$b: ".pages";

#{$b} {
	min-width: 960px;
	position: relative;
	color: #FFF;
	margin-bottom: 50px;
	z-index: 20;
    padding-top: 160px;

	
        
        h1 {
                color: #FFE046;
                font-size: 30px;
				font-weight: 100;
        }
        
        h3 {
            font-size: 26px;
        }
        
        li {
            font-size: 20px;
        }
}

#{$b}_no_padding {
	padding-top: 0;
}

#{$b}_bg {
	background: image-url("pages/angle.png") 1140px 0 no-repeat, image-url("pages/bg.jpg") 50% 0 no-repeat;

	@include breakpoint(max-width 1300px) {
		background-position: 400px 0;
	}
}

#{$b}__logo {
	@include image-with-dimentions("pages/logo.png");
	position: absolute;
	top: 0;
	right: 0;
	z-index: 7777;
}

#{$b}__title {
	margin-bottom: 30px;
}

#{$b}-line {
        width: 220px;
        display: block;
        margin: 45px 0 35px 0;
        border-top: 1px solid #FFE046;
}

#{$b}-description {
        font-size: 20px;
        max-width: 700px; 
}

#{$b}-play{
        position: absolute;
        top: 100px;
        right: 0;
        width: 235px;
        height: 253px;
        background: url(/img/section/features.png) no-repeat;
        background-size: 100% 100%;
        
        .btn {
                margin-top: 100px;
                width: 220px;
                background-size: 100% 100%;
                font-size: 40px;
                height: 81px;
                line-height: 75px;
        }
}

#{$b}-post {
        position: relative;
}

#{$b}-post__content {
        width: 520px;
        float: right;
        padding-right: 260px;
        
        .addthis_native_toolbox {
                float: left;
        }
	
	a {
	    color: #ffe046;
	}
}

#{$b}-post__img {
        float: left;
        width: 170px;
}


