/******************************** pagination ********************************/

$b: ".pagination";

#{$b} {
        list-style: outside none none;
        overflow: hidden;
        padding: 0;
        margin: 20px 0;
        
        li {
                float: left;
        }
}


#{$b}__link {
        a, span {
                width: 42px;
                height: 44px;
                text-align: center;
                line-height: 44px;
                display: block;
                text-decoration: none;
        }
    
        a {
                color: #fff;
                
                &:hover {
                        text-decoration: underline;
                }
        }
        
        &.active span {
		background: url(/img/section/pagination.png) no-repeat;
                color: #601E22;
	}
}
