/******************************** promotions ********************************/

$b: ".press";

#{$b} {
        max-width: 740px;
}

#{$b}__item {
	padding: 30px 0 10px 0;
	border-bottom: #4D4D4D 1px solid;
	@extend %clearfix;
}

#{$b}__img {
	width: 150px;
	height: 94px;
	float: left;

	img {
		display: block;
		width: 100%;
		height: 100%;
	}
}



#{$b}-content {
        float: right;
        width: 560px;
        display: inline-block;
        
        h3 {
                font-size: 26px;
                margin: 10px 0;
                
                a {
                    color: #fff;
                    text-decoration: none;
                }
        }
        
        p {
                font-size: 16px;
        }
        
        .addthis_native_toolbox {
            float: left !important;
        }
}