/******************************** promotions ********************************/

$b: ".promotions";

#{$b} {
        max-width: 740px;
}

#{$b}__item {
        padding: 30px 0;
        border-bottom: #4D4D4D 1px solid;
		@extend %clearfix;
}

#{$b}__img {
	width: 327px;
	height: 182px;
	float: left;

	img {
		display: block;
		width: 100%;
		height: 100%;
	}
}


#{$b}-content {
        float: right;
        width: 390px;
        display: inline-block;
        
        h3 {
                font-size: 26px;
                margin: 10px 0;
        }
        
        p {
                font-size: 16px;
        }
}

#{$b}-more-link {
        color: #FFE046; 
}

#{$b}-more-link:hover {
        text-decoration: none;
}