/******************************** user-block ********************************/

$b: ".profile-user";

#{$b} {
	@extend %clearfix;
	font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}

#{$b}__image-wr {
	width: 120px;
	height: 120px;
	float: left;
	padding-right: 40px;
}

#{$b}__image {
	display: block;
	width: 100%;
	height: 100%;
}

#{$b}__data {
	display: inline-block;
}

#{$b}__name {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 26px;
	font-weight: 700
}

#{$b}__id {
	font-size: 16px;
	color: rgba(#FFF, .6);
}

#{$b}__id-data {
	color: #FFF;
}


#{$b}__status {
	margin-top: 15px;
}

