/******************************** profile-statistics ********************************/

$b: ".profile-statistics";

#{$b} {
	display: table;
	width: 100%;
	font-size: 16px;
	color: #FFF;
}


#{$b}__title {
	font-size: 26px;
	font-weight: 700;
}


#{$b}__item {
	display: table-cell;
	border-left: 1px solid rgba(#FFF, .1);
	padding-left: 40px;

	&:first-child {
		border-left: none;
		padding-left: 0;
	}
}

#{$b}__item-title {
	font-size: 14px;
	line-height: 130%;
	color: rgba(#FFF, .5);
}

#{$b}__item-text {
	font-size: 16px;
}

#{$b}__item-more {
	display: block;
	font-size: 16px;
	line-height: 110%;
	color: #FFE130;
	text-decoration: none;

	&:hover {
		color: rgba(#FFE130, .6);
	}
}