/******************************** progress-bar ********************************/

$b: ".progress-bar";

#{$b} {
	position: relative;
	width: 100%;
	max-width: 400px;
	padding: 4px;
	background-color: #222222;
	@include border-radius(10px);
}

#{$b}__inner {
	height: 15px;
	width: 100%;
	@include background-image(linear-gradient(top,  #ffed19 0%, #ffc500 34%, #ffac00 68%, #fd8c00 100%));
	@include border-radius(10px);
}

#{$b}__total {
	position: absolute;
	right: -50px;
	top: 1px;
}