/******************************** section ********************************/

$b: ".section";

#{$b} {
	position: relative;
	top: 170px;
	left: 0;
	z-index: 10;
}

#{$b}__bg {
	height: 520px;
	width: 100%;
	background:
		image-url("section/bg_dec.png"),
		image-url("section/bg.jpg");

	background-position: 100% 100%, 0 0;
	background-repeat: no-repeat, repeat;
//	@include box-shadow(0 -10px 0 0 green inset);
	@include transform-origin(0, 0);
	@include transform(skewY(-11deg));

	@include  after {
		width: 100%;
		height: 10px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: rgba(#8C0D14, .3);
	}

	@include  before {
//		width: 100%;
//		max-width: 600px;
//		height: 50px;
//		position: absolute;
//		left: 0;
//		top: -25px;
//		background: rgba(#601E23, .3);
////		@include transform-origin(0, 0);
////		@include transform(skewY(-11deg));
	}
}

#{$b}__bg_cup {
	@include before {
		@include image-with-dimentions("section/cup.png");
		position: absolute;
		top: -300px;
		left: 0;
	}
}

#{$b}__top {
	width: 100%;
	width: 600px;
	height: 300px;
//	background: image-url("section/bg_1.jpg")  0 0;
	background: #3D0E16;
	position: absolute;

}

#{$b}__bottom {
	width: 100%;
	width: 500px;
	height: 300px;
	//	background: image-url("section/bg_1.jpg")  0 0;
	background: #3D0E16;
	position: absolute;


	@include after {
		width: 100%;
		height: 30px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: rgba(#000, .5);
	}
}

#{$b}__player {
	position: absolute;
	bottom: 0;
}

#{$b}__content {
	position: absolute;
}


#{$b}_origin {

	#{$b}__top {
		top: -200px;
		left: 0;
		@include transform-origin(0, 0);
		@include transform(skewY(8deg));
	}

	#{$b}__bottom {
		bottom: 250px;
		right: 0;
		@include transform-origin(0, 0);
		@include transform(skewY(20deg));
	}


	#{$b}__player {
		right: 0;
	}

	#{$b}__content {
		top: -88px;
		left: 150px;
	}

}


#{$b}_reverse {

	#{$b}__top {
		height: 320px;
		width: 545px;
		top: -75px;
		right: 0;
		@include transform-origin(0, 0);
		@include transform(skewY(-22deg));
	}

	#{$b}__bottom {
		top: 0;
		left: 0;
	}

	#{$b}__bg {
		background:
			image-url("section/bg_dec_reverse.png"),
			image-url("section/bg.jpg");

		background-position: 0 0, 0 0;
		background-repeat: no-repeat, repeat;
		@include transform-origin(100%, 100%);
		@include transform(skewY(11deg));

	}

	#{$b}__player {
		left: 70px;
	}

	#{$b}__content {
		width: 100%;
		max-width: 650px;
		top: -100px;
		right: 100px;
	}

}

#{$b}_triangle {
	@include before {
		@include image-with-dimentions("section/triangle.png");
		position: absolute;
		top: 130px;
		left: 0;
	}
}
