/******************************** shop-chips ********************************/

$total-columns: 12;
$column-width: 70px;
$gutter-width: 10px;
$grid-padding: 0px;

.shop-chips {
	margin-top: 30px;
//	padding: 20px 40px 25px 30px;
}


.shop-chips__section_coins {
	margin-top: 70px;
}

.shop-chips__section__title {
	h1 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.shop-chips__section__content {
	@include container(640px);
	max-width: 640px !important;
	margin-left: 0 !important;
}

.shop-chips__item {
	@include box-sizing(border-box);
	@include span-columns(3.9, 12);
	@include gutter(11);
	&:nth-of-type(3n) {
		@include omega;
	}
	margin-top: 10px;
	@include media(850px, 768px) {
		@include span-columns(6, 12);
		@include remove-nth-omega(3n);
		&:nth-of-type(2n) {
			@include omega;
		}
	}
	@include media(610px) {
		@include span-columns(6, 12);
		@include remove-nth-omega(3n);
		&:nth-of-type(2n) {
			@include omega;
		}
	}
	@include media(410px) {
		@include span-columns(12, 12);
		@include remove-nth-omega(2n);
	}


}

.item-buy {
	min-height: 210px;
	position: relative;
	background-color: rgba(#000, .4);
	@include border-radius(7px);
//	&:hover {
//		background-color: darken(#F2F8FB, 3%);
//	}
}

@for $i from 1 through 7 {

	.shop-chips__section_chips .item-buy_#{$i} {
		@extend .item-buy;

		.item-buy__img {
			background: image-url("/img/shop-icons/chips/item-icon-#{$i}.png") no-repeat 50% 100%;
			//width: image-width("shop-icons/chips/item-icon-#{$i}.png");
			width: 100%;
			margin: 0 auto 5px auto;
			height: 70px;
			padding-top: 20px;
		}
	}
}

@for $i from 1 through 5 {

	.shop-chips__section_coins .item-buy_#{$i} {
		@extend .item-buy;

		.item-buy__img {
			background: image-url("/img/shop-icons/coins/item-icon-#{$i}.png") no-repeat 50% 100%;
			//width: image-width("shop-icons/coins/item-icon-#{$i}.png");
			width: 100%;
			margin: 0 auto 5px auto;
			height: 70px;
			padding-top: 20px;
		}
	}
}

.item-buy__time {
	@include border-radius(3px);
	height: 24px;
	line-height: 25px;
	width: 70px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFF;
	font-size: 17px;
	background-color: rgba(#0A253E, .66);
	position: relative;
	top: 5px;
	left: 5px;
}

.item-buy__percent {
	display: none;
	width: 56px;
	height: 23px;
	line-height: 24px;
	text-align: center;
	background: image-url("/img/shop-icons/flag.png") no-repeat 0 0;
	color: #FFF;
	font-size: 14px;
	position: absolute;
	top: 5px;
	right: 0;

}

.item-buy__description {
	@include box-sizing(border-box);
	height: 60px;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #FFF;
	margin-bottom: 0;

	span {
		color: #FFF;
		font-size: 26px;
		display: block;
		padding-top: 2px;
	}
}

.item-buy__button {
	width: 100px;
	height: 34px;
	line-height: 34px;
	margin: 0 auto;
	display: block;
	font-size: 17px;
	text-align: center;
	background-color: #FFED19;
	@include background-image(linear-gradient(rgba(#FFED19, .1) 40%, #E99F02 70%));
	@include border-radius(5px);
	color: #5F1E21;
	text-decoration: none;

	&:hover {
		@include background-image(linear-gradient(rgba(#FFED19, .1) 40%,  #FFED19 70%));
	}
}

