/******************************** simple-content ********************************/

.simple-content {
	padding: 30px 0 0;

	&__title {
		color: #fff;
		margin-top: 0;
	}

	&__container {
		height: 100%;
	}

	&__container_xsolla {
		height: 700px;

		@include media($ipad-landscape) {
			height: 1300px;
		}
	}
}