/******************************** status ********************************/

$b: ".status";

#{$b} {

}

#{$b}__text {
	margin: 0;
	position: relative;
	right: -25px;
	display: inline-block;
	font-size: 16px;
	color: #FFE500;
	border-bottom: 1px dashed #FFE500;
}

#{$b}__icon {
	position: absolute;
	left: -25px;
	top: 5px;
}

#{$b}__block {
	display: none;
}

#{$b}__block_edit {
	display: inline-block;
}

#{$b}__field {
	height: 20px;
	width: 230px;
	font-size: 14px;
	text-indent: 5px;
	outline: none;
}
