/******************************** store ********************************/

$b: ".store";

#{$b} {
	@include container(520px);
	width: 525px;
	margin: 0;
}

#{$b}__item {
	@include span(46%);
	height: 87px;
	background-color: rgba(#48000B, .7);
	background-repeat: no-repeat;
	background-position: 50% 65%;
	margin: 15px 15px 0 0;
	@include border-radius(10px);
}

#{$b}__item_ap {
	background-image: image-url("section/apple.png");
	background-position: 50% 85%;
}

#{$b}__item_gl {
	background-image: image-url("section/google.png");
}

#{$b}__item_fb {
	background-image: image-url("section/fb.png");
}

#{$b}__item_win {
	background-image: image-url("section/win.png");
}

#{$b}__item_amazon {
	background-image: image-url("section/amazon.png");
}
