/******************************** subsection ********************************/

$b: ".subsection";

#{$b} {
	position: relative;
	@include image-with-dimentions("subsection/bg.jpg");
	width: 100%;
	background-repeat: no-repeat;
	margin-top: 40px;
}

#{$b}__content {
	width: 100%;
	max-width: 450px;
	position: absolute;
	top: 0;
	right: 100px;
	text-align: center;
}

#{$b}-play {
	@include image-with-dimentions("subsection/play.png");
	display: inline-block;
}

#{$b}_field {
	position: relative;
	top: -100px;
	@include image-with-dimentions("subsection/bg_field.jpg");
	width: 100%;
	background-position: 98% 0;
	background-repeat: no-repeat;

	#{$b}__content {
		position: absolute;
		top: 80px;
		left: 150px;
		z-index: 11;
	}
}