/******************************** switcher ********************************/

$b: ".switcher";

#{$b} {
	width: 100%;
	max-width: 160px;
	height: 40px;
	background-color: #570302;
	margin-bottom: 35px;
	@extend %clearfix;
	@include border-radius(3px);
}

#{$b}__item {
	display: block;
	@include span(6 of 12);
	@include background-image(linear-gradient(top,  #390303 0%, #570301 34%, #570301 68%, #560302 100%));
	line-height: 40px;
	text-align: center;
	font-weight: 700;
	@include border-radius(3px);
	cursor: pointer;

	&:last-child {
		@include last;
	}
}

#{$b}__item_active {
	@include background-image(linear-gradient(top,  #ffed19 0%, #ffc500 34%, #ffac00 68%, #fd8c00 100%));
	color: #570302;
}

