/******************************** tab ********************************/

$b: ".tab";

#{$b}__title {
	margin: 0 0 50px 0;
	font-size: 38px;
	color:  #FFF;
	font-weight: 400;
}

#{$b}__section {
	margin-top: 60px;
}

#{$b}__section_statistics {
	margin-top: 50px;
}

#{$b}__section_first {
	margin-top: 0;
}

#{$b}__section-title {
	font-size: 26px;
	color: #FFF;
	margin-top: 0;
}

#{$b}__layout {
	@include container(100%);
	@extend %clearfix;
}

#{$b}__layout-left {
	@include span(6 of 12);
}

#{$b}__layout-right {
	@include span(6 last of 12);
}

#{$b}__section-title {
	font-size: 26px;
	color: #FFF;
}


#{$b}__section-more {
	text-decoration: none;
	font-size: 16px;
	color: #FFE230;

	&:hover {
		color: rgba(#FFE230, .7);
	}
}





