/******************************** tabs ********************************/

.ui-tabs-nav {
	width:100%;
//	max-width: 660px;
	display:table;
	table-layout: fixed;

}

.ui-state-default {
	display:table-cell !important;
	height: 50px;
	line-height: 50px;
	text-align: center;
	@include border-top-radius(5px);
	@include box-sizing(border-box);
	&:first-child {
		border-left: none;
	}
	@include respond-to(480px) {
		display: block;
		@include border-radius(0);
		text-align: left;
		&:last-child {
			margin-bottom: 10px;
		}
	}

	.ui-tabs-anchor {
		.account-list-item__text {
			color: #FFE500;
			border-bottom: 1px dashed #FFE500;
		}

	}

	&:first-child {

		.ui-tabs-anchor {
			margin-left: 0;
		}

	}
}

.ui-state-active {
	border-bottom: none;
	@include respond-to(480px) {
		border: none;
		margin-bottom: 2px;
	}

	a {
		color: white;
	}
}

.ui-tabs-active {
	.ui-tabs-anchor {
		background-color: rgba(#000, .7) !important;

		.account-list-item__text {
			border-bottom: 1px dashed transparent;
			color: #FFF;
		}
	}
}


.ui-tabs-anchor {
	background-color: rgba(#000, .3);
	@include border-top-radius(5px);
	color: white;
	font-size: 19px;
	text-decoration: none;
	display: block;
	margin-left: 2px;
	text-align: center;

	&:hover {
		background-color: rgba(#000, .7);
		color: white;
	}
	@include respond-to(620px) {
		font-size: 14px;
	}
	@include respond-to(480px) {
		font-size: 19px;
	}
}

.ui-tabs-panel {
	padding: 40px;
	@include box-sizing(border-box);
	background-color: rgba(#000, .3);
	min-height: 420px;
	@include border-bottom-radius(5px);
}

.ui-tabs-panel_active {
	background-color: rgba(#000, .7);
}

//.categories__section_page {
//	@include border-top-radius(5px);
//}
//
//.categories__section_jackpot {
//	background: transparent;
//}