/******************************** text ********************************/

$b: ".text";

#{$b}_title {
	position: relative;
	top: -8px;
	margin: 0;
	font-size: 38px;
	font-weight: 400;
	@include text-shadow(2px 2px 2px rgba(#000, .4));
	line-height: 122%;
	color: #FFE046;
}

#{$b}_title_big {
	font-size: 60px;
}

#{$b}_line {
	padding-bottom: 32px;
	@include after {
		width: 160px;
		height: 1px;
		background: #FFE046;
		position: absolute;
		bottom: 0;
	}
}

#{$b}_text {
	font-size: 19px;
//	font-weight: 700;
	@include text-shadow(2px 2px 2px rgba(#000, .4));
	color: #FFF;
	line-height: 145%;
	margin-top: 23px;
}

#{$b}_line#{$b}_right {

	@include after {
		right: 0;
	}
}

#{$b}_line#{$b}_left {

	@include after {
		left: 0;
	}
}

#{$b}_right {
	text-align: right;
}

#{$b}_left {
	text-align: left;
}


