/******************************** toolbar ********************************/

$b: ".toolbar";

#{$b} {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	left: 0;
	opacity: 1;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;
	height: 50px;
}

#{$b}-menu {
	float: left;
	height: 50px;
	line-height: 50px;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	position: relative;
}

#{$b}-menu__item {
	display: inline-block;
	height: 50px;
	margin: 0;
	padding: 0 20px;
	position: relative;
	vertical-align: top;

	a {
		outline: none;
		display: inline-block;
		height: 50px;
		line-height: 50px;
		transition: all 0.3s ease 0s;
		color: #fff;
		font-size: 19px;
		position: relative;
		font-weight: 100;
		text-decoration: none;
		font-family: "PT Sans Narrow", Helvetica, Arial, sans-serif;

	}

	&:hover, &.active {
		a {
			color: #FFE330;
			border-bottom: 1px solid #FFE330;
		}
	}
}

#{$b}-menu__item:first-child {
	padding: 0 20px 0 0;
}

#{$b}-games {
	width: 100%;
	display: none;
	height: 100px;
	background-color: rgba(19, 19, 19, 0.79);
	position: fixed;
	top: 50px;
	z-index: 88888;

}

#{$b}-games__item {
	position: relative;
	width: 190px;
	height: 68px;
	display: inline-block;
	margin: 15px 20px 15px 0;
	padding-left: 70px;
	@include box-sizing(border-box);
	background-color: rgba(29, 29, 29, 0.3);
	border-radius: 5px;
	background-repeat: no-repeat;
	// background-position: 10px center;
	outline: 0;
	background: rgba(0, 0, 0, .3);
	line-height: 0.2;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	@include transition(all, 1s ease);


		 &::before {
			 content: '';
			 position: absolute;
			 top: 5px;
			 left: 5px;
			  @include image-with-dimentions("toolbar/toolbar-icons.png");
				width: 56px;
				height: 56px;
		 }

		 p {
			 padding: 5px 0 0 0;
			 font-size: 16px;
		 }
}

#{$b}-games__item_poker::before {
	background-position: 0 0;
}

#{$b}-games__item_slots::before {
	background-position:100% 0;
}

#{$b}-games__item_roulette::before {
		background-position: 50% 0;
}

#{$b}-sign-in {
	float: right;
	position: relative;
	margin-top: 13px;
	right: 160px;

	a {
		font-size: 19px;
		font-weight: 100;
		color: #FFF;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

#{$b}-sign-in__nicmane {
	color: #ffe330;
	margin-right: 20px;
}
