/******************************** user-data ********************************/

$b: ".user-data";

#{$b} {
	display: table;
	width: 100%;
	font-size: 16px;
	color: #FFF;
}

#{$b}__row {
	display: table-row;

	&:first-child {
		#{$b}__cell_inner {
			border-bottom: 1px solid rgba(#FFF, .6);
		}
	}
}

#{$b}__cell {
	display: table-cell;
	padding: 0;
}

#{$b}__cell_inner {
	padding: 10px 0;
	@extend %clearfix;
}

#{$b}__cell_title {
	width: 140px;
	color: rgba(#FFF, .5);

	#{$b}__cell_inner {
		margin-right: 20px;
	}
}

#{$b}__level {
	margin-right: 45px;
}

#{$b}__progress-bar {
	float: right;
	width: 88%;
}

#{$b}__location {


}

#{$b}__set-location {

}

#{$b}__set-location-icon {

}

