{% extends 'layouts/admin.twig' %}

{% block content %}
	{% set form = this.beginWidget('CActiveForm', { htmlOptions: {enctype: 'multipart/form-data'}, enableAjaxValidation: false }) %}

	<div class="row">
		<div class="col-sm-6">
			{{ include('common/form/text.twig', { form: form, model: model, field: 'alias' }) }}
		</div>
		<div class="col-sm-6">
			{{ include('common/form/text.twig', { form: form, model: model, field: 'title' }) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			{{ include('common/form/textarea.twig', { form: form, model: model, field: 'overview' }) }}
		</div>
		<div class="col-sm-6">
			{{ include('common/form/textarea.twig', { form: form, model: model, field: 'content' }) }}
		</div>
	</div>
		
	<div class="row">
		<div class="col-sm-6">
			{{ include('common/form/textarea.twig', { form: form, model: model, field: 'keywords' }) }}
		</div>
		<div class="col-sm-6">
			{{ include('common/form/textarea.twig', { form: form, model: model, field: 'description' }) }}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			{% for image in model.images %}
				<img src="{{ image }}" alt="">
			{% endfor %}
			{{ include('common/form/file.twig', { form: form, model: model, field: 'images[]' }) }}
		</div>
		<div class="col-sm-6">
			{{ include('common/form/text.twig', { form: form, model: model, field: 'publicationDate', htmlOptions: {class: 'form-control js-datepicker'} }) }}
		</div>
	</div>

	<div class="form-group">
		{{ include('common/form/checkbox.twig', { form: form, model: model, field: 'active', htmlOptions: model.isNewRecord? {checked: true}: {} }) }}
	</div>

	<button class="btn btn-primary">Save</button>
	{% do this.endWidget() %}
{% endblock %}