{% extends 'layouts/admin.twig' %}

{% block content %}
	<div class="row">
		<div class="form-group">
			<a class="btn btn-success btn-big" href="{{ this.createUrl(createRoute|default('admin/pressCreate')) }}">Add new item</a>
		</div>

		{% if models|length %}
			{% set model = models|first %}
			<table class="table table-hover">
				<thead>
				<tr>
					<td>
						{{ model.getAttributeLabel('id') }}
					</td>
					<td>
						{{ model.getAttributeLabel('alias') }}
					</td>
					<td>
						{{ model.getAttributeLabel('title') }}
					</td>
					<td>
						{{ model.getAttributeLabel('overview') }}
					</td>
					<td>
						{{ model.getAttributeLabel('publicationDate') }}
					</td>
					<td></td>
				</tr>
				</thead>
				<tbody>
				{% for model in models %}
					<tr class="{{ model.active? '': 'danger' }}">
						<td>{{ model.id }}</td>
						<td>{{ model.alias }}</td>
						<td>
							{{ Html.link(model.title, this.createUrl(itemRoute|default('admin/pressItem'), {id: model.id})) }}
						</td>
						<td>{{ model.overview }}</td>
						<td>{{ model.publicationDate }}</td>
						<td>
							<a href="{{ this.createUrl(deleteRoute|default('admin/pressDelete'), {id: model.id}) }}" class="btn btn-danger js-ajax-delete">x</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>Nothing to show</p>
		{% endif %}
	</div>
{% endblock %}

