@charset "UTF-8";
/******************************** help ********************************/
.help-section {
  font-family: Helvetica,​Arial,​sans-serif;
  margin-bottom: 8px;
  border-top: 1px solid #ddd;
}
.help-section header {
  margin-bottom: 50px;
}
.help-section header img {
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.4);
}
.help-section .title {
  display: inline-block;
  position: relative;
  margin: 15px 0 10px 0;
  font-size: 20px;
  color: #a56600;
  padding-left: 20px;
  cursor: pointer;
}
.help-section .title::before {
  position: absolute;
  left: 0;
  content: "+";
}
.help-section .title.active::before {
  content: "-";
}
.help-section h3 {
  margin: 25px 0 10px 0;
  font-size: 18px;
  color: #0077aa;
}
.help-section h4 {
  font-size: 18px;
  margin: 20px 0 10px 0;
  color: #0077aa;
}
.help-section .content {
  display: none;
}
.help-section .content p {
  margin: 5px 0;
  font-size: 15px;
  color: #333333;
}
.help-section .content ul:not(.vip) {
  list-style-type: circle;
  margin-left: 30px;
}
.help-section .content li {
  font-size: 14px;
}
.help-section .content li img {
  vertical-align: middle;
  margin-right: 15px;
}
.help-section .content li p {
  display: inline-block;
}
.help-section .content li:after {
  content: '';
  display: table;
  clear: both;
}
.help-section figure {
  text-align: center;
  margin: 20px 0;
}
.help-section figcaption {
  font-size: 12px;
}
