/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

html,
body {
  min-height: 100%;
}

body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background-color: #024183;
  color: #ffffff;
}

body,
td,
th {
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

a:link, a:visited {
  color: #8ee5ff;
}
a:hover {
  color: #6cc3dd;
}

.lottery {
  margin: 0 auto;
  max-width: 1136px;
  width: 94%;
}

.lottery ul {
  padding-left: 0;
  list-style: none;
}

.lottery ul li {
  padding-top: 1%;
  padding-bottom: 1%;
}

.lottery ul li:last-child {
  border-bottom: 0;
}

.lottery ul li img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  margin: 12px 0 12px 0;
}

.spliter {
  bottom: 0;
  width: 100%;
  height: 25px;
  text-align: center;
  margin-top: 4%;
}

.spliter-center {
  background: url("/images/triangle.png");
  background-position: center center;
  margin: 0 auto;
  width: 50px;
  height: 25px;
  display: inline-block;
}

.spliter_left {
  float: left;
}

.spliter_right {
  float: right;
}

.spliter__item {
  height: 1px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 12px;
  display: inline-block;
  width: -moz-calc(50% - 50px);
  width: -webkit-calc(50% - 50px);
  width: -o-calc(50% - 50px);
  width: calc(50% - 50px);
}

.lottery h1 {
  font-weight: 500;
}
