.pluso {
        float: right;
       
}

a.pluso-more {
        display: none !important;
}

a.pluso-google{
	background: transparent url(/img/footer/gl.png) no-repeat 0 0 !important;
	width: 30px !important;
	height: 30px !important;
	background-position: 0 0 !important;
        outline: 0;
        margin-left: 25px !important;
}

a.pluso-google:hover {
	background-position: 0 -30px !important; 
}

a.pluso-twitter {
    	background: transparent url(/img/footer/tw.png) no-repeat 0 0 !important;
	width: 30px !important;
	height: 30px !important;
	background-position: 0 0 !important;
        outline: 0;
         margin-left: 25px!important;
}

a.pluso-twitter:hover {
 	background-position: 0 -30px !important;    
}

a.pluso-facebook{
 	background: transparent url(/img/footer/fb.png) no-repeat 0 0 !important;
	width: 30px !important;
	height: 30px !important;
	background-position: 0 0 !important; 
        outline: 0;
         margin-left: 25px!important;
}

a.pluso-facebook:hover {
 	background-position: 0 -30px !important;    
}