
@font-face {
	font-family: 'Press Gothic';
	src: url('/fonts/Press_Gothic_Pro_0-webfont.eot');
	src: url('/fonts/Press_Gothic_Pro_0-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Press_Gothic_Pro_0-webfont.woff2') format('woff2'),
	url('/fonts/Press_Gothic_Pro_0-webfont.woff') format('woff'),
	url('/fonts/Press_Gothic_Pro_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

.btn {
        width: 325px;
        height: 119px;
        display: block;
        background: url(../img/btn.png) no-repeat;
        text-decoration: none;
        color: #85201E;
        font-size: 54px;
        text-align: center;
        line-height: 110px;
        font-weight: 100;
        -moz-text-shadow: 0px 1px 1px rgba(254, 242, 121, 1);
        -webkit-text-shadow: 0px 1px 1px rgba(254, 242, 121, 1);
        -o-text-shadow: 0px 1px 1px rgba(254, 242, 121, 1);
        text-shadow: 0px 1px 1px rgba(254, 242, 121, 1);
        font-family: Press Gothic;
        font-style: normal;
        text-transform: uppercase;  
        outline: 0;
        border: 0;
}

.btn-big {
        background: url(/img/btn-big.png) no-repeat;
}

.btn-popup {
	display: inline-block;
	background: url(../img/fancybox/btn.png) no-repeat;
	width: 330px;
}

.btn-casino {
	display: inline-block;
	background: url(/img/btn-casino.png) no-repeat;
	-moz-box-shadow: 0 5px 10px rgba(0,0,0, .5);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0, .5);
	box-shadow: 0 5px 10px rgba(0,0,0, .5);
	width: 210px;
	height: 76px;
	font-size: 45px;
	line-height: 85px;
}


.btn:hover {
        outline: 0;
        border: 0;
        color: #9E2B26;
}

.slide {
        height: 990px;
        width: 100%;
        min-width: 980px;
}

.slide1{
        background: url(/img/001.jpg) no-repeat center top;

}

@media (max-width: 1450px){
	.slide1{
		background: url(/img/001.jpg) no-repeat center top;

	}
}

.slide2{
        background: url(/img/002.jpg) no-repeat center top;

}

.slide3{
        background: url(/img/003.jpg) no-repeat center top;

}

.slide4{
        background: url(/img/004.jpg) no-repeat center top;
}

.slide5{
        background: url(/img/005.jpg) no-repeat center top;
        height: 630px;
}

.wrapper {
        width: 960px;
        position: relative;
        height: 100%;
        margin: 0 auto;
}

.slide1 .play-now {
        position: relative;
		top: 408px;
        margin: 0 auto;
}

/*@media (max-width: 1450px){*/
	/*.slide1 .play-now {*/
		/*top: 408px;*/
	/*}*/
/*}*/

.slide2 .play-now {
        position: absolute;
        float: right;
        bottom: -40px;
        right: 0;
        margin-right:-10px;
}

.slide3 .play-now {
        position: absolute;
        float: left;
        bottom: 0px;
        margin-left: -10px;
}

.slide4 .play-now {
        position: static;
        margin-left: -10px;
		margin-top: 40px;
}

#poker .play-now , #roulette .play-now {
        margin: 0 auto;
    
}

.ft-store.top {
	padding-top: 115px;
}

.footer:after {
        background: none !important;
}

.store-content {
	position: absolute;
	top: -135px;
}

.store a:hover {
        background-position: 0 -87px;
}




.footer__logo {
	float: left;
}

.footer__social a:hover {
        background-position: 0 -30px;   
    
}

.ft-store__item,
.store__item_ap,
.store__item_gl,
.store__item_fb,
.store__item_win {
        background-position: 0 0;
}

.store__item_amazon{
	background-position: 0 3px;
}

.store__item, .ft-store__item {
        background-color: transparent !important;
      
}

.store__item:hover{
        background-position: 0 -87px;
}

.ft-store__item:hover{
        background-position: 0 -67px;
}






/******************************** store ********************************/
.popup-store {
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	display: inline-block;
	margin: 0;
}
.casino .popup-store {
	max-width: 255px;
	width: 255px;
	display: inline-block;
	margin: 0;
}
.popup-store:after {
	content: " ";
	display: block;
	clear: both;
}

.popup-store__item {
	width: 210px;
	float: left;
	margin-right: 5.26316%;
	height: 76px;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 15px 8px 0 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;

}

.casino .popup-store__item {
	width: 116px;
	margin-right: 3.26316%;
	height: 41px;
	margin: 10px 5px 0 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;

}

.popup-store__item_ap {
	background-image: url('../img/section/p-apple.png');
	background-position: 0 0;
}

.coming-soon .popup-store__item_ap {
    background-image: url('../img/section/cs-apple.png');
    
}

.popup-store__item_gl {
	background-image: url('../img/section/p-google.png');
	margin-right: 0;
}

.coming-soon .popup-store__item_gl {
    background-image: url('../img/section/cs-google.png');

}

.popup-store__item_fb {
	background-image: url('../img/section/p-fb.png');
}

.coming-soon .popup-store__item_fb {
        background-image: url('../img/section/cs-fb.png');
}

.popup-store__item_win {
	background-image: url('../img/section/p-win.png');
}

.coming-soon .popup-store__item_win {
        background-image: url('../img/section/cs-win.png');
}

.popup-store__item_amazon {
	background-image: url('../img/section/p-amazon.png');
	margin-right: 0;
}

.coming-soon .popup-store__item_amazon {
	background-image: url('../img/section/p-amazon.png');
}

.popup-store__item:hover {
        background-position: 0 -76px;
}

.casino .popup-store__item:hover {
	background-position: 0 -41px;
}

.play-now-content {
	position: absolute;
	top: 470px;
	right: 0;
}


/******************************** fancybox ********************************/
.fancybox-overlay {
	background: rgba(0, 0, 0, 0.7);
}

.fancybox-wrap, .fancybox-outer, .fancybox-skin {
	background: #B3101E;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.fancybox-wrap.support {
	background: #FFF;
}

.fancybox-inner {
	background: url('../img/section/bg.jpg?1424148864') 0 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.fancybox-wrap.support .fancybox-inner {
	background: #FFF !important;
}

.fancybox-inner h2 {
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 0;
}
.fancybox-inner h2.title-poker {
	background-image: url('../img/fancybox/play-now/title-poker.png');
	background-position: 50% 0;
	width: 555px;
	height: 57px;
}
.fancybox-inner h2.title-roulette {
	background-image: url('../img/fancybox/play-now/title-roulette.png');
	width: 598px;
	height: 57px;
}
.fancybox-inner p {
	font-size: 28px;
	color: #FFDF46;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	margin-top: 0.5em;
}
.fancybox-inner a + p {
	font-size: 22px;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 0 30px;
}

.fancybox-close {
	background-image: url('../img/fancybox/close.png?1424148864');
	width: 16px;
	height: 16px;
	top: 10px;
	right: 10px;
}

.support .fancybox-close {
	background-image: url('../img/fancybox/close-form.png');
	width: 16px;
	height: 16px;
	top: 15px;
	right: 15px;
}

.fancybox-close:hover {
	opacity: .8;
}

#poker, #roulette {
	position: relative;
	display: none;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}