{% extends 'layouts/common.twig' %}
{% block content %}
	<div class="wrapper">
		<a class="pages__logo" href="/"></a>
	</div>
	<div class="pages pages_bg">

		<div class="wrapper">
			<div class="text_block promotions">
				<h1>Promotions</h1>
				<span class="pages-line"></span>

				{% for item in promoItems %}
					<div class="promotions__item">
						<div class="promotions__img">
							{% set image = item.getImage() %}
							{% if image %}
								<img src="{{ image }}" width="327" height="182">
							{% endif %}
						</div>
						<div class="promotions-content">
							<h3>{{ item.title }}</h3>

							{{ item.overview }}

							<a class="promotions-more-link"
							   href="{{ this.createUrl('promotions/item', {alias: item.alias}) }}">Learn
								more</a>
						</div>
					</div>
				{% endfor %}
				
				{{ include('common/pagination.twig') }}

				{#{{ include('main/pagination.twig') }}#}
				{{ include('main/facebook-container.twig') }}
			</div>

		</div>
	</div>


	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

