{% extends 'layouts/common.twig' %}
{% set metaKeywords = promo.keywords %}
{% set metaDescription = promo.description %}
{% block content %}
	<div class="wrapper">
		<a class="pages__logo" href="/"></a>
	</div>
	<div class="pages pages_bg">

		<div class="wrapper">
			<a class="back" href="{{ this.createUrl('promotions/index') }}">← Back</a>

			<h1>Promotions</h1>
			<span class="pages-line"></span>

			<div class="pages-post">

				<div class="pages-play">
					<a id="play-now-btn" target="_blank" href="#casino" class="btn play-now fancy-casino">{{ Yii.t("ingame", "play-now-btn") }}</a>
				</div>


				<div class="pages-post__img">
					{% set image = promo.getImage() %}
					{% if image %}
						<img src="{{ image }}" width="150" height="83">
					{% endif %}
				</div>
				<div class="pages-post__content">

					<p class="date">{{ promo.publicationDate|date('d M Y') }}</p>

					<h3>{{ promo.title }}</h3>

					{{ promo.overview }}
					{{ promo.content }}

					<div class="addthis_native_toolbox"></div>

				</div>

				<div class="clear"></div>
			</div>
			{{ include('main/facebook-container.twig') }}

		</div>
	</div>


	<div class="wrapper">

		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

