<!DOCTYPE html>
<html>
<head>
	<title>Manchester United Poker - Free to Play on your mobile device, social network or online</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{#<link rel="stylesheet" type="text/css" href="/vendor/fancybox/jquery.fancybox.css">#}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/datepicker/jquery-ui-1.11.4.custom/jquery-ui.min.css">

	{# remove it to file #}
	<style type="text/css">
		input.error, textarea.error {
			border: 1px red solid !important;
		}

		label.error {
			color: #ff0000 !important;
		}
	</style>
</head>

<body>
<div class="container">
	<div class="row" style="padding-top: 10px;">
		{{ Nav.getMenu('admin').setHtmlOptions({class: 'nav nav-tabs'}).render({}, true) }}
	</div>

	<div style="margin: 20px 0;">
		{{ block('content') }}
	</div>
</div>

<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/datepicker/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>