<!DOCTYPE html>
<html>
<head>
	<meta name="google-site-verification" content="sBfm4F9T96AQQGr6xZpTwcFyCOxFJRUIAFvTZUtWelI" />
	<title>Manchester United Poker - Free to Play on your mobile device, social network or online</title>
	<meta charset="UTF-8">
	{% if metaKeywords is not empty   %}
	<meta name="keywords" content="{{ metaKeywords }}" />
	{% endif %}
	{% if metaDescription is not empty %}
	<meta name="description" content="{{ metaDescription }}" />
	{% endif %}
	{#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/vendor/fancybox/jquery.fancybox.css"/>
	<link rel="stylesheet" type="text/css" href="/css/main.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" href="/vendor/preloader/jpreloader.css"/>

</head>

{% set ROLE_ADMIN = 'admin' %}
{% if not App.user.isGuest and App.user.role != ROLE_ADMIN %}
	{% set profile = App.player.profile %}
{% endif %}

<body class="bg">
<div class="toolbar">
	<div class="wrapper toolbar__inner">
		{{ Nav.getMenu('top').setHtmlOptions({class: 'toolbar-menu'}).render({itemCssClass: 'toolbar-menu__item'}, true) }}

		<div class="toolbar-sign-in">
			{% if not App.user.isGuest and App.user.role != ROLE_ADMIN %}
				{#<span class="toolbar-sign-in__nicmane">{{ profile['nickname'] }}</span>#}
				<a href="{{ this.createUrl('main/signOut') }}">Sign Out</a>
			{% else %}
				<a href="{{ this.createUrl('main/signIn') }}">Sign In</a>
			{% endif %}
		</div>
		<div class="lang-toolbar">
			{% set lang_name = App.language %}
			{% if App.language == 'en' %}
				{% set lang_name = 'ENG' %}
			{% endif %}
			<a href="#lang"
			   class="lang lang-toolbar__btn lang-toolbar__btn_{{ App.language }} flag flag_{{ App.language }} flag_usa js-flag">{{ lang_name }}</a>
		</div>

		<div id="lang">
			<div class="lang-switcher">
				<p>{{ Yii.t("ingame", "lang-title") }}</p>
				{% for languageCode, language in App.params.languages %}
					{% if language['site'] == true %}
						{% set link = this.createUrl(this.route, this.actionParams|merge({lang: languageCode})) %}
						{% set class = languageCode == App.language? 'active': '' %}
						<a href="{{ link }}" data-lang="{{ languageCode }}"
						   class="{{ class }} flag flag_{{ languageCode }} flag_usa lang-switcher__flag">{{ language['originalTitle'] }}</a>
					{% endif %}
				{% endfor %}
				<div class="lang-soon"></div>
			</div>
		</div>
	</div>
</div>

<div class="toolbar-games">
	<div class="wrapper">
		<a class="toolbar-games__item toolbar-games__item_poker"
		   href="{{ this.createUrl('main/games', this.actionParams|merge({name: 'poker'})) }}"><p>Social</p>poker</a>
			 <a class="toolbar-games__item toolbar-games__item_slots"
					href="{{ this.createUrl('main/games', this.actionParams|merge({name: 'slots'})) }}"><p>Social</p>slots</a>
		<a class="toolbar-games__item toolbar-games__item_roulette"
		   href="{{ this.createUrl('main/games', this.actionParams|merge({name: 'roulette'})) }}"><p>Social</p>roulette</a>
	</div>
</div>

{{ block('content') }}
{{ include('main/casino-popup.twig') }}

<script src="/js/{{ constant('APPLICATION_MODE') == 'production'? 'main.min.js': 'main.js' }}"></script>
<script src="/js/dark.js"></script>
<script src="/js/facebook-auth-js-sdk/facebook.js"></script>
{{ block('scripts') }}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-531ff68d79255e1f"
		async="async"></script>

<!-- GOOGLE ANALYTICS -->
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', 'UA-32533540-14', 'auto');
	ga('send', 'pageview');
</script>
<!-- END GOOGLE ANALYTICS -->

{# Facebook social plugin code #}
<div id="fb-root"></div>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=361272397238551";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
