{% extends 'layouts/common.twig' %}

{% block content %}
	<div class="pages pages_bg">
		<div class="simple-content wrapper">
			{% if title is not empty %}
				<h1 class="simple-content__title">{{ Yii.t('common', title) }}</h1>
			{% endif %}

			<div class="simple-content__container simple-content__container_{{ containerCssClass }}">
				{{ content }}
			</div>
		</div>
	</div>
{% endblock %}
