<a href="#"
   class="button__fb sign-in__fb-btn js-facebook-auth"
   data-sign-fb-url="{{ this.createUrl('main/signInWithFacebook') }}"
   data-app-id="{{ App.params.itemAt('facebookAppId') }}">{{ Yii.t('signin', 'Connect with Facebook') }}</a>