{% extends 'layouts/common.twig' %}
{% block content %}
        <div class="wrapper">
                <a class="pages__logo" href="/"></a>
        </div>
	<div class="pages pages_bg">
		
                <div class="wrapper">
			<div class="text_block press">
				<h1>About</h1>
                                <span class="pages-line"></span>

                                <div class="text_block">
                                    <p>Manchester United Social Casino, is the destination website that represents the Global Partnership between Manchester United Football Club and KamaGames®.</p>

                                        <p>Manchester United Social Casino is where Social Casino game players can learn about new games, promotions, and general news about the Partnership.</p>

                                        <p>KamaGames is a Global Developer and Publisher of Social Games for Mobile Platforms, Online, Facebook, Steam, Xbox Live & Playstation Network. 
                                            The company possesses wide experience in successful game production. The flagship game of the company - Pokerist® Texas Poker - has been featured in top positions in Grossing Charts on 
                                            the AppStore and Google Play for the past three years and currently KamaGames has achieved over 80+ Mil downloads.</p>

                                        <p>As the Official Social Casino Games Partner of Manchester United, KamaGames® will launch a portfolio of Social Casino Games that will carry the Manchester United crest, imagery and theme. 
                                            The first of these games will include multiple versions of Social Poker, Roulette & Blackjack games. KamaGames looks forward to engaging with Manchester United’s worldwide audience of 
                                            fans and followers.</p>

                                        <p>Manchester United is one of the most popular and successful sports teams in the world, playing one of the most popular spectator sports on Earth. Through our 137-year heritage we 
                                            have won 62 trophies, enabling us to develop the world’s leading sports brand and a global community of 659 million followers. Our large, passionate community provides Manchester 
                                            United with a worldwide platform to generate significant revenue from multiple sources, including sponsorship, merchandising, product licensing, new media & mobile, broadcasting and match day.</p>
                                </div>

                                
                                {{ include('main/facebook-container.twig') }}
			</div>
			
		</div>
	</div>


	<div class="wrapper">

		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

