{% extends 'layouts/common.twig' %}
{% block content %}
        <div class="wrapper">
                <a class="pages__logo" href="/"></a>
        </div>
	<div class="pages pages_bg">

        <div class="wrapper">
			<div class="text_block press">
				<h1>My Profile</h1>
                <span class="pages-line"></span>
				<div id="tabs" class="account js-account-scroll">
					<ul class="account__list">
						<li class="account-list-item"><a href="#profile"><span class="account-list-item__text">Profile</span></a></li>
						<li class="account-list-item"><a href="#friends"><span class="account-list-item__text">Friends</span></a></li>
						<li class="account-list-item"><a href="#statistics"><span class="account-list-item__text">Statistics</span></a></li>
						<li class="account-list-item"><a href="#achievements"><span class="account-list-item__text">Achievements</span></a></li>
						<li class="account-list-item"><a href="#property"><span class="account-list-item__text">Property</span></a></li>
						<li class="account-list-item"><a href="#settings"><span class="account-list-item__text">Settings</span></a></li>
					</ul>
					<!--/categories__list -->
					<div id="profile" class=" tab ui-tabs-panel_active">
						<div class="profile-user">
							<div class="profile-user__image-wr">
								<img src="/img/profile/ava.jpg" class="profile-user__image"  alt="User" />
							</div>
								<h2 class="profile-user__name">Alexander Nevmerejskyi</h2>
								<div class="profile-user__id">User ID: <span class="profile-user__id-data"> 45682469563</span></div>
								<div class="profile-user__status">
									<div class="status">
										<p class="status__text" tabindex="0"><i class="fa fa-newspaper-o status__icon"></i>Edit your status</p>
										<form class="status__block" action="">
											<input class="status__field" placeholder="Write something..." type="text"/>
										</form>
									</div>
								</div>
						</div><!--/profile user -->
						<div class="currency">
							<div class="currency__item">
								<i class="currency__icon icon icon_chips"></i>
								<span class="currency__name">Chips</span>
								<div class="currency__total">$10, 0123, 131, 32</div>
							</div>
							<div class="currency__item">
								<i class="currency__icon icon icon_coins"></i>
								<span class="currency__name">Gold coins</span>
								<div class="currency__total">$54,3221</div>
							</div>
							<a class="currency__btn" href="#">Get More</a>
						</div><!--/currency -->
						<div class="user-data">
							<div class="user-data__row">
								<div class="user-data__cell user-data__cell_title">
									<div class="user-data__cell_inner">Level</div>
								 </div>
								<div class="user-data__cell">
									<div class="user-data__cell_inner">
										<span class="user-data__level">81</span>
										<div class="user-data__progress-bar">
											<div class="progress-bar">
												<div class="progress-bar__inner"></div>
												<span class="progress-bar__total">35%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="user-data__row">
								<div class="user-data__cell user-data__cell_title">
									<div class="user-data__cell_inner">Location</div>
								</div>
								<div class="user-data__cell">
									<div class="user-data__cell_inner">
										<div class="location">
											<span class="location__title">New York (US)</span>
											<span class="location__set"><i class="fa fa-map-marker location__icon"></i> Set</span>
										</div>
									</div>
								</div>
							</div>
						</div><!--/user-data -->
						<section class="tab__section tab__section_statistics">
							<h3 class="tab__section-title">Statistics</h3>
							<ul class="profile-statistics">
								<li class="profile-statistics__item">
									<div class="profile-statistics__item-title">Played games</div>
									<div class="profile-statistics__item-text">185 312 790</div>
								</li>
								<li class="profile-statistics__item">
									<div class="profile-statistics__item-title">Games won</div>
									<div class="profile-statistics__item-text">80%</div>
								</li>
								<li class="profile-statistics__item">
									<div class="profile-statistics__item-title">Tournaments played</div>
									<div class="profile-statistics__item-text">4 863</div>
								</li>
								<li class="profile-statistics__item">
									<a class="profile-statistics__item-more js-account-link" data-tag="#statistics" href="{{ this.createUrl('main/account') }}">More<br />statistics</a>
								</li>
							</ul>
						</section><!--/tab-section -->
						<section class="tab__section">
							<h3 class="tab__section-title">Friends</h3>
							<ul class="data-list">
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
							</ul>
							<a class="tab__section-more js-account-link" data-tag="#friends" href="{{ this.createUrl('main/account') }}">More</a>
						</section><!--/tab-section -->
						<div class="tab__layout">
							<div class="tab__layout-left">
								<section class="tab__section">
									<h3 class="tab__section-title">Achievements</h3>
									<ul class="data-list data-list_column_one">
										<li class="data-list__item">
											<div class="data-list__item-img"><img src="" alt=""/></div>
											<div class="data-list__item-content">
												<a href="" class="data-list__item-name">Welcome to the club</a>
												<span class="data-list__item-total">Ready 100%</span>
											</div>
										</li>
										<li class="data-list__item">
											<div class="data-list__item-img"><img src="" alt=""/></div>
											<div class="data-list__item-content">
												<a href="" class="data-list__item-name">Welcome to the club</a>
												<span class="data-list__item-total">Ready 100%</span>
											</div>
										</li>
										<li class="data-list__item">
											<div class="data-list__item-img"><img src="" alt=""/></div>
											<div class="data-list__item-content">
												<a href="" class="data-list__item-name">Welcome to the club</a>
												<span class="data-list__item-total">Ready 100%</span>
											</div>
										</li>
									</ul>
									<a class="tab__section-more js-account-link" data-tag="#achievements" href="{{ this.createUrl('main/account') }}">More</a>
								</section>
							</div>
							<div class="tab__layout-right">
								<section class="tab__section">
									<h3 class="tab__section-title">Property</h3>
									<ul class="data-list data-list_column_one">
										<li class="data-list__item">
											<div class="data-list__item-img"><img src="" alt=""/></div>
											<div class="data-list__item-content">
												<a href="" class="data-list__item-name">Ingots</a>
												<span class="data-list__item-total">$ 250,000</span>
											</div>
										</li>
										<li class="data-list__item">
											<div class="data-list__item-img"><img src="" alt=""/></div>
											<div class="data-list__item-content">
												<a href="" class="data-list__item-name">Ingots</a>
												<span class="data-list__item-total">$ 250,000</span>
											</div>
										</li>
										<li class="data-list__item">
											<div class="data-list__item-img"><img src="" alt=""/></div>
											<div class="data-list__item-content">
												<a href="" class="data-list__item-name">Ingots</a>
												<span class="data-list__item-total">$ 250,000</span>
											</div>
										</li>
									</ul>
									<a class="tab__section-more js-account-link" data-tag="#property" href="{{ this.createUrl('main/account') }}">More</a>
								</section>
							</div>
						</div>
					</div>
					<div id="friends" class="friends tab">
						{#{{ include('main/category-block.twig', {'games': games['jackpots']}) }}#}
						<section class="tab__section tab__section_first">
							<h3 class="tab__section-title">Friends</h3>
							<div class="switcher">
								<span class="switcher__item switcher__item_active">All</span>
								<span class="switcher__item">Online</span>
							</div>
							<ul class="data-list">
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Denis</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">Online</span>
									</div>
								</li>
							</ul>
						</section><!--/tab-section -->
					</div>
					<div id="statistics" class="statistics">
						<h2 class="tab__title">My statistics</h2>
						<section class="tab__section">
							<ul class="profile-statistics">
								<li class="profile-statistics__item">
									<div class="profile-statistics__item-title">Played games</div>
									<div class="profile-statistics__item-text">185 312 790</div>
								</li>
								<li class="profile-statistics__item">
									<div class="profile-statistics__item-title">Games won</div>
									<div class="profile-statistics__item-text">80%</div>
								</li>
								<li class="profile-statistics__item">
									<div class="profile-statistics__item-title">Tournaments played</div>
									<div class="profile-statistics__item-text">4 863</div>
								</li>
								{#<li class="profile-statistics__item">#}
									{#<a class="profile-statistics__item-more" href="">More<br />statistics</a>#}
								{#</li>#}
							</ul>
						</section>
						<section class="tab__section">
							<div id="currency"></div>
						</section>
						<section class="tab__section">
							<div id="games"></div>
						</section>
					</div>
					<div id="achievements" class="achievements">
						<h2 class="tab__title">My achievements</h2>
						<section class="tab__section tab__section_first">
							<ul class="data-list data-list_line data-list_achievements">
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
							</ul>
						</section>
						<section class="tab__section tab__section_first">
							<h3 class="tab__section-title">Available Achievements</h3>
							<ul class="data-list data-list_line data-list_achievements data-list_achievements_available">
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Four of Kind II</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
							</ul>
						</section>
					</div>
					<div id="property" class="property tab">
						<h2 class="tab__title">My property</h2>
						<section class="tab__section tab__section_first">
							<h3 class="tab__section-title">Boats</h3>
							<ul class="data-list data-list_line">
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
							</ul>
						</section>
						<section class="tab__section tab__section_first">
							<h3 class="tab__section-title">House</h3>
							<ul class="data-list data-list_line">
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
							</ul>
						</section>
						<section class="tab__section tab__section_first">
							<h3 class="tab__section-title">Transport</h3>
							<ul class="data-list data-list_line">
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
							</ul>
						</section>
						<section class="tab__section tab__section_first">
							<h3 class="tab__section-title">Treasures</h3>
							<ul class="data-list data-list_line">
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status online">8 month ago</span>
									</div>
								</li>
								<li class="data-list__item">
									<div class="data-list__item-img"><img src="" alt=""/></div>
									<div class="data-list__item-content">
										<a href="" class="data-list__item-name">Child bike</a>
										<span class="data-list__item-total">$ 350,456,678</span>
										<span class="data-list__item-status">8 month ago</span>
									</div>
								</li>
							</ul>
						</section>
					</div>
					<div id="settings" class="tab">
						<h2 class="tab__title">Account Settings</h2>
						<section class="tab__section tab__section_first">
							<form class="form form_settings" id="settings" action="">
								<div class="form__row">
									<label class="form__label" for="">Your name</label>
									<div class="form__field">
										<input type="text"/>
									</div>
								</div>
								<section class="tab__section">
									<h3 class="tab__section-title">Change Password</h3>
									<div class="form__row">
										<label class="form__label" for="">Current Password</label>
										<div class="form__field">
											<input type="email"/>
										</div>
									</div>
									<div class="form__row">
										<label class="form__label" for="">New Password</label>
										<div class="form__field">
											<input type="email"/>
										</div>
									</div>
									<div class="form__row">
										<label class="form__label" for="">Repeat password</label>
										<div class="form__field">
											<input type="email"/>
										</div>
									</div>
									<div class="form__row">
										<input class="form__button" type="submit" value="Save">
									</div>
								</section>
							</form>
						</section>
					</div>
				</div>


                 {{ include('main/facebook-container.twig') }}
			</div>

		</div>
	</div>


	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

