{% extends 'layouts/common.twig' %}
{% block content %}
	<div class="legal legal_bg">
		<div class="wrapper wrapper_inner">
			<a class="legal__logo" href="/"></a>
			{#<div class="lang-toolbar">#}
			{#&#123;&#35;<p class="lang-toolbar__label">Language:</p>&#35;&#125;#}
			{#<a href="#lang" class="lang lang-toolbar__btn flag flag_{{ App.language }} js-flag">{{ App.language }}</a>#}
			{#</div>#}
			<h2>Manchester United Social Poker Ticket Giveaway</h2>

			<p>Manchester United Social Casino, powered by KamaGames is excited to announce two new free ticket giveaway
				promotions for featured United matches against Aston Villa on 4 April, and against Man City on 12
				April.</p>

			<p>During each day of the promotion, two tickets will be granted to a winner randomly selected by KamaGames.
				In total 5 sets of two-tickets will be awarded during the Manchester United vs. Aston Villa promotion
				and 7 sets of two-tickets will be awarded during the Manchester United vs. Manchester City
				promotion.</p>

			<p>The Manchester United vs. Aston Villa promotion will run over the period of 23-27 March, while the
				Manchester United vs. Manchester City promotion will run over the period of 1-7 April, and is available
				to all Registered players of the Manchester United Social Poker or Social Roulette games.</p>

			<p>In addition, one 2nd-prize winner each day of the promotions will receive two Manchester United
				Tee-Shirts.</p>

			<p>Download the games and register now! <a href="http://manutdsocialcasino.com/en/">www.ManUtdSocialCasino.com</a>
			</p>

			<h3>Terms and Conditions:</h3>

			<p>Random Drawing. Winners announced daily via social media. No purchase necessary.</p>

			<p>Registered Social Poker or Social Roulette players only. Winners will be contacted via their registered
				email. Winners are responsible for their own travel arrangements. All winners selected by KamaGames in
				its sole discretion.</p>
		</div>
	</div>


	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

