{% extends 'layouts/common.twig' %}

{% block content %}
    
<div class="pages pages_no_padding pages_bg">
    <div class="wrapper wrapper_chips">
		<a class="legal__logo" href="/"></a>
	<div class="shop-chips">
		<div class="shop-chips__section shop-chips__section_chips">
			<div class="shop-chips__section__title">
				<h1 class="text_title text_line">{{ Yii.t('store', 'Buy chips') }}</h1>

				<p>{{ Yii.t('store', 'Don`t&nbsp;let the game stop! At&nbsp;any time and from any device you can buy chips, which are needed in&nbsp;order to&nbsp;win') }}</p>
			</div>
			<!--/ shop-chips__section__title -->
			<div class="shop-chips__section__content">
				{% for price in data['normal']['chips'] %}
					<div class="shop-chips__item">
						<div class="item-buy_{{ loop.index }}">
							{#<div class="item-buy__time" title="{{ Yii.t('buy-chips','Offer expiration time') }}">15:29
							</div>#}
							{% if (price['bonusMultiplier']) %}
								<div class="item-buy__percent">+{{ App.numberFormatter.formatPercentage(price['bonusMultiplier']) }}</div>
							{% endif %}
							<div class="item-buy__img"></div>

							{% if (price['itemAmount'] < 1000000) %}
								{% set amountDigit = price['itemAmount'] // 1000 %}
								{% set amountCurrency = 'K' %}
							{% else %}
								{% set amountDigit = price['itemAmount'] // 1000000 %}
								{% set amountCurrency = 'M' %}
							{% endif %}
							<p class="item-buy__description">
								{% if (price['bonusMultiplier']) %}
								{{ amountDigit ~ amountCurrency ~ ' + ' ~ price['bonusMultiplier'] * amountDigit ~ amountCurrency }}
								{{ Yii.t('store', 'FOR FREE') }}
								{% endif %}

								<br>
								<span>{{ (price['bonusMultiplier'] + 1) * amountDigit ~ amountCurrency }}</span></p>
							<a href="{{ App.createUrl('profile/buyChips', {mode: 'normal', type: 'chips', position: loop.index0}) }}"
							   class="button item-buy__button{{ App.user.isGuest? ' js-go-sign-in': '' }}
                           data-sign-in="{{ App.createUrl(App.user.loginUrl[0]) }}">{{ App.numberFormatter.formatCurrency(price['itemCost'], 'USD') }}</a>
						</div>
					</div><!--/ shop-chips__item -->
				{% endfor %}
			</div>
			<!--/ shop-chips__section__content -->
		</div>
		<!--/shop-chips-section -->

		<div class="shop-chips__section shop-chips__section_coins">
			<div class="shop-chips__section__title">
				<h1 class="text_title text_line">{{ Yii.t('store', 'Buy gold coins') }}</h1>

				<p>{{ Yii.t('store', 'Buy gold coins and spend them on&nbsp;exclusive gifts and property') }}</p>
			</div>
			<!--/ shop-chips__section__title -->
			<div class="shop-chips__section__content">
				{% for price in data['normal']['gold'] %}
					<div class="shop-chips__item">
						<div class="item-buy_{{ loop.index }}">
							{#<div class="item-buy__time" title="{{ Yii.t('buy-chips','Offer expiration time') }}">15:29
							</div>#}
							{% if (price['bonusMultiplier']) %}
								<div class="item-buy__percent">+{{ App.numberFormatter.formatPercentage(price['bonusMultiplier']) }}</div>
							{% endif %}
							<div class="item-buy__img"></div>

							<p class="item-buy__description">
								{% if (price['bonusMultiplier']) %}
								{{ App.numberFormatter.formatDecimal(price['itemAmount']) ~ ' + ' ~ App.numberFormatter.formatDecimal(price['itemAmount'] * price['bonusMultiplier']) }}
								{{ Yii.t('store', 'FOR FREE') }}
								{% endif %}

								<br>
								<span>{{ App.numberFormatter.formatDecimal(price['itemAmount'] * (price['bonusMultiplier'] + 1)) }}</span></p>
							<a href="{{ App.createUrl('profile/buyChips', {mode: 'normal', type: 'gold', position: loop.index0}) }}"
							   class="button item-buy__button{{ App.user.isGuest? ' js-go-sign-in': '' }}
                           data-sign-in="{{ App.createUrl(App.user.loginUrl[0]) }}">{{ App.numberFormatter.formatCurrency(price['itemCost'], 'USD') }}</a>
						</div>
					</div><!--/ shop-chips__item -->
				{% endfor %}
			</div>
			<!--/ shop-chips__section__content -->
		</div>
		<!--/shop-chips-section -->
		<br>
		<p>{{ Yii.t('store', 'Learn more about buying chips and gold coins in&nbsp;<a class="link" href=":url">frequently asked questions</a> list', {':url': this.createUrl('howto/support') ~ '#financial'}) }}</p>
	</div><!--/ shop-chips -->
		{{ include('main/footer.twig') }}
    </div>
</div>
{% endblock %}
