<div id="casino" class="casino">
	<h2 class="casino__title"></h2>
	<div class="casino__content">
		<div class="casino-poker">
			<p>{{ Yii.t("ingame", "casino-text-1") }}</p>
			{#<a class="facebook-btn" href="https://apps.facebook.com/manutdsocialpoker/" target="_blank"></a>#}
			<a class="btn btn-casino" href="{{ this.createUrl('main/playNow') }}" target="_blank">Play now</a>
			<p>{{ Yii.t("ingame", "popup-text-2") }}</p>
			<div class="popup-store">
				<a class="popup-store__item popup-store__item_ap" href="https://itunes.apple.com/app/id947856678" target="_blank"></a>
				<a class="popup-store__item popup-store__item_gl" href="https://play.google.com/store/apps/details?id=com.kamagames.texaspokermu" target="_blank"></a>
				<a class="popup-store__item popup-store__item_win" href="http://www.windowsphone.com/en-us/store/app/manchester-united-social-poker/f7a9b108-b47a-4164-bd11-5f9fc1ff361e" target="_blank"></a>
				<a class="popup-store__item popup-store__item_amazon" href="http://www.amazon.com/KamaGames-Manchester-United-Social-Poker/dp/B00T9UPAAC/ref=sr_1_2?s=mobile-apps&ie=UTF8&qid=1424251869&sr=1-2&keywords=kamagames" target="_blank"></a>
				<a class="popup-store__item popup-store__item_fb" href="https://apps.facebook.com/manutdsocialpoker/" target="_blank"></a>
			</div>
		</div>
		<div class="casino-slots">
			<p>Play Social Slots now</p>
			<a class="btn btn-casino btn-casino__coming-soon">Play now</a>
			<p>{{ Yii.t("ingame", "popup-text-2") }}</p>
			<div class="popup-store">
				<a class="popup-store__item popup-store__item_ap" href="https://itunes.apple.com/us/app/manchester-united-social-slots/id1058789250?ls=1&mt=8" target="_blank"></a>
				<a class="popup-store__item popup-store__item_gl" href="https://play.google.com/store/apps/details?id=com.kamagames.slotsmu" target="_blank"></a>
			</div>
		</div>
		<div class="casino-roulette">
			<p>{{ Yii.t("ingame", "casino-text-2") }}</p>
			<a class="btn btn-casino btn-casino__coming-soon">Play now</a>
			<p>{{ Yii.t("ingame", "popup-text-2") }}</p>
			<div class="popup-store">
				<a class="popup-store__item popup-store__item_ap" href="https://itunes.apple.com/app/id951094676" target="_blank"></a>
				<a class="popup-store__item popup-store__item_gl" href="https://play.google.com/store/apps/details?id=com.kamagames.roulettemu" target="_blank"></a>
				<a class="popup-store__item popup-store__item_win" href="https://www.windowsphone.com/s?appid=B95C77C1-8286-4B56-BEAD-EE74E9FD4C42" target="_blank"></a>
				<a class="popup-store__item popup-store__item_amazon" href="http://www.amazon.com/dp/B00U7YXHHM" target="_blank"></a>
				<a style="float: right" class="popup-store__item popup-store__item_fb" href="https://apps.facebook.com/manutdsocialroulette/" target="_blank"></a>
			</div>
		</div>
		
	</div>
</div>