{% extends 'layouts/common.twig' %}
{% block content %}
	<div class="wrapper">
		<div class="error-block">
			<h1>Error {{ error['code'] }}</h1>

			<p>{{ error['message']|default('Page not found') }}</p>
		</div>
	</div>
{% endblock %}