{% extends 'layouts/common.twig' %}
{% block content %}
		<div class="error-block">
			<div class="wrapper">
				<h1></h1>
				<p class="text_text">Oops! Sorry, page not found!</p>
				<a class="link" href="/">Back to main page</a>
			</div>
		</div>

{% endblock %}