{% extends 'layouts/common.twig' %}

{% block content %}
	<div class="legal legal_bg">
		<div class="wrapper wrapper_inner">
			<a class="legal__logo" href="/"></a>


			<h2>Have you played with Man Utd yet?</h2>

			<p>Manchester United Social Casino, powered by KamaGames, is offering you the chance to get involved in
				the ultimate fan experience prize draw!</p>

			<p>Download now and you could be on your way to a match in Old Trafford or to watch the team train at
				the AON training complex. Plus tons of signed jerseys must be won.</p>

			<h3>How to enter</h3>
			<ul>
				<li> - Download one of the official Man Utd Social Casino apps for one entry to the draw</li>
				<li> - Play for free to earn further entries and chances to win</li>
			</ul>

			<p style="margin-top: 3em">It’s 100% free to play, so get involved now and join thousands of other fans
				from around the world at the tables for the ultimate Man Utd experience.</p>

			<p>The winner will be selected randomly at the end of the promotion. The promotion will run from 2 May
				until 6 June 2015.</p>

			<h3>Terms and Conditions:</h3>

			<p>Random Drawing. Winners announced via social media. No purchase necessary. Registered Social Poker or
				Social Roulette players only. Players must enter a valid email address after downloading to be
				eligible for the draw. Winners will be contacted via their registered email. Each winner (and each
				winner’s guest, as applicable) will be required to give their consent to the following: (i) for the
				winner’s name to be disclosed to any person requesting that KamaGames confirms the identity of the
				winner; and (ii) for the winner’s name and/or photograph to be published for promotional purposes.
				All winners selected by KamaGames in its sole discretion. Entry into the contest can also be made
				at <a class="link" href="http://bit.ly/1KznbqV">http://bit.ly/1KznbqV</a>. There is no cash
				alternative and there is no alternative prize to the stated prize. However we reserve the right to
				replace the Prize with an alternative prize of equal or greater value.
			</p>
		</div>
	</div>


	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

