<div class="facebook-container">
        <div class="layout-container facebook-wrapper">
                <div class="fb-like-box" data-href="https://www.facebook.com/MUSocialCasino" data-width="960"
                         data-height="230" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false"
                         data-show-border="false"></div>
        </div>
</div>
