<div id="footer" class="footer">

	<div class="footer__top">
		<div class="footer__subscribe">
			<form class="subscribe" action="">
				<label class="subscribe__label" for="subscribe">{{ Yii.t("ingame", "footer-subscribe-title") }}</label>
				<input class="subscribe__input" type="text" name="Subscribers[email]" id="Subscribers_email"  placeholder="{{ Yii.t("ingame", "footer-subscribe-placeholder") }}">
				<input class="subscribe__btn" type="button" value="{{ Yii.t("ingame", "footer-subscribe-button") }}"/>
                                <div class="subscribe__success">Thank You!</div>
                                <div class="subscribe__error"></div>
			</form>
		</div>
		<ul class="footer__social">
			<li><a class="fb" href="https://www.facebook.com/MUSocialCasino" target="_balnk"></a></li>
			<li><a class="tw" href="https://twitter.com/MUSocialCasino" target="_balnk"></a></li>
			<li><a class="gl" href="https://google.com/+manutdsocialcasino" target="_balnk"></a></li>
			<li><a class="inst" href="http://instagram.com/manutdsocialcasino/" target="_balnk"></a></li>
		</ul>
	</div>
	<div class="footer__bottom">
		<p class="footer-legal-text">{{ Yii.t("ingame", "footer-legal") }}</p>
		<p class="footer__copy"><a href="http://kamagames.com" class="footer__logo" target="_balnk"></a><span>&copy; 2015 KamaGames. {{ Yii.t("ingame", "footer-rights") }}</span></p>
		<ul class="footer__legal">
			<li><a href="{{ this.createUrl('feedback/support') }}">{{ Yii.t("ingame", "footer-support") }}</a></li>
			<li><a href="{{ this.createUrl('main/tos') }}">{{ Yii.t("ingame", "footer-tos") }}</a></li>
			<li><a href="{{ this.createUrl('main/policy') }}">{{ Yii.t("ingame", "footer-policy") }}</a></li>
		</ul>
	</div>
                
        <div class="addthis_native_toolbox"></div>

</div>
