{% extends 'layouts/common.twig' %}
{% block content %}
	<div class='slide slide1'>
		<div class="wrapper">
			<a class="legal__logo" href="/"></a>

			<p class="header__text header__text_1"></p>

			<div class="header__text header__text_2"><span>{{ Yii.t("ingame", "header-text-2") }}</span></div>
			<a class="btn play-now fancy-casino" href="#casino">{{ Yii.t("ingame", "play-now-btn") }}</a>
		</div>
	</div>

	<div class='slide slide2'>
		<div class="wrapper">
			<a class="btn play-now fancy-casino" href="#casino">{{ Yii.t("ingame", "play-now-btn") }}</a>

			<div class="store-content">
				<h2 class="text_title text_line">{{ Yii.t("ingame", "section-1-title") }}</h2>

				<p class="text_text">{{ Yii.t("ingame", "section-1-text") }}</p>

				<div class="store">
					<a href="https://itunes.apple.com/app/id947856678" class="store__item store__item_ap"></a>
					<a href="https://play.google.com/store/apps/details?id=com.kamagames.texaspokermu"
					   class="store__item store__item_gl"></a>
					<a href="http://www.amazon.com/KamaGames-Manchester-United-Social-Poker/dp/B00T9UPAAC/ref=sr_1_2?s=mobile-apps&ie=UTF8&qid=1424251869&sr=1-2&keywords=kamagames"
					   class="store__item store__item_amazon"></a>
					<a href="http://www.windowsphone.com/en-us/store/app/manchester-united-social-poker/f7a9b108-b47a-4164-bd11-5f9fc1ff361e"
					   class="store__item store__item_win"></a>
					<a href="https://apps.facebook.com/manutdsocialpoker/" class="store__item store__item_fb"></a>
				</div>
			</div>
			<div class="play-now-content">
				<h2 class="text_title text_right text_line">{{ Yii.t("ingame", "section-2-title") }}</h2>

				<p class="text_text text_right">{{ Yii.t("ingame", "section-2-text") }}</p>
			</div>
		</div>
	</div>

	<div class='slide slide3'>
		<div class="wrapper">
			<a class="btn play-now fancy-casino" href="#casino">{{ Yii.t("ingame", "play-now-btn") }}</a>

			<div class="features-content">
				<h2 class="text_title text_title_big">{{ Yii.t("ingame", "section-3-title") }}</h2>

				<p class="text_title">{{ Yii.t("ingame", "section-3-text") }}</p>
				<ul class="features">
					<li class="features__item">
						<img src="/img/features/img_1.png" alt=""/>
						<p class="features__text">{{ Yii.t("ingame", "section-3-item-1") }}</p>
					</li>
					<li class="features__item">
						<img src="/img/features/img_2.png" alt=""/>
						<p class="features__text">{{ Yii.t("ingame", "section-3-item-2") }}</p>
					</li>
					<li class="features__item">
						<img src="/img/features/img_3.png" alt=""/>
						<p class="features__text">{{ Yii.t("ingame", "section-3-item-3") }}</p>
					</li>
				</ul>
				<ul class="feature-list">
					<li class="feature-list__item text_text">{{ Yii.t("ingame", "section-3-list-item-1") }}</li>
					<li class="feature-list__item text_text">{{ Yii.t("ingame", "section-3-list-item-2") }}</li>
					<li class="feature-list__item text_text">{{ Yii.t("ingame", "section-3-list-item-3") }}</li>
					<li class="feature-list__item text_text">{{ Yii.t("ingame", "section-3-list-item-4") }}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class='slide slide4'>
		<div class="wrapper">
			<div class="online">
				<p class="online__label text_text">{{ Yii.t("ingame", "section-4-label") }}</p>

				<p class="online__total text_title text_title_big" id="players-online"></p>

			</div>
			<div class="roulette-content">
				<h2 class="text_title text_title_big">{{ Yii.t("ingame", "section-5-title") }}</h2>

				<p class="text_title text_line">{{ Yii.t("ingame", "section-5-title-2") }}</p>

				<p class="text_text">{{ Yii.t("ingame", "section-5-text") }}</p>
				<ul class="feature-list feature-list_roulette">
					<li class="feature-list__item text_text">{{ Yii.t("ingame", "section-4-list-item-1") }}</li>
					<li class="feature-list__item text_text">{{ Yii.t("ingame", "section-4-list-item-2") }}</li>
					<li class="feature-list__item text_text">{{ Yii.t("ingame", "section-4-list-item-3") }}</li>
					<li class="feature-list__item text_text">{{ Yii.t("ingame", "section-4-list-item-4") }}</li>
					<li class="feature-list__item text_text">{{ Yii.t("ingame", "section-4-list-item-5") }}</li>
				</ul>
				<a class="btn btn-big play-now  fancy-casino" href="#casino">{{ Yii.t("ingame", "play-now-btn") }}</a>
			</div>
		</div>
	</div>


	<div class='slide slide5'>
		<div class="wrapper">
			<div class="ft-store top">
				{{ include('main/facebook-container.twig') }}
			</div>

			{{ include('main/footer.twig') }}
		</div>
	</div>

{% endblock %}

