{% extends 'layouts/common.twig' %}

{% block content %}
	<div class="legal legal_bg">
		<div class="wrapper wrapper_inner">
			<a class="legal__logo" href="/"></a>

			<h2>Wayne Rooney Signed Jersey Promotion</h2>

			<p>Manchester United Social Casino, powered by KamaGames, is excited to announce its latest Giveaway
				Promotion. Fans have a chance to win a Manchester United jersey signed by Wayne Rooney.</p>

			<p>How do you enter? Visit <a class="link" href="http://www.ManUtdSocialCasino.com">www.ManUtdSocialCasino.com</a>.
				Download either Social Poker or Social Roulette, register & play … It’s that easy!</p>

			<p>The winner will be selected randomly at the end of the promotion. The promotion will run from the
				21st April until the 25th May 2015.</p>

			<h3>Terms and Conditions:</h3>

			<p>Random Drawing. Winners announced via social media. No purchase necessary. Registered Social Poker or
				Social Roulette players only. Winners will be contacted via their
				registered email. Each Winner (and each Winner’s guest, as applicable) will be required to give
				their consent to the following: (i) for the Winner’s name to be disclosed
				to any person requesting that KamaGames confirms the identity of the Winner; and (ii) for the
				Winner’s name and/or photograph to be published for promotional purposes.
				All winners selected by KamaGames in its sole discretion. Entry into the contest can also be made at
				<a class="link" href="http://bit.ly/1K4YsKN">http://bit.ly/1K4YsKN</a> . There is no cash
				alternative and there
				is no alternative prize to the stated Prize. However we reserve the right to replace the Prize with
				an alternative prize of equal or greater value.</p>
		</div>
	</div>


	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>

{% endblock %}



