<ul class="pagination">
	<li class="pagination__link active">
		<span>1</span>
	</li>
	<li class="pagination__link ">
		<a href="#">2</a>
	</li>
	<li class="pagination__link ">
		<a href="#">3</a>
	</li>
	<li class="pagination__link ">
		<a href="#">4</a>
	</li>
	<li class="pagination__link pagination__link_separator">
		<span>…</span>
	</li>
	<li class="pagination__link ">
		<a href="#">82</a>
	</li>
</ul>