{#{% extends 'layouts/common.twig' %}#}

{% block content %}
	<div style="text-align: center; padding-top: 15px;">
		<iframe scrolling="no" style="border: 0; width: 100%; height: 755px;" src="{{ url }}"></iframe>
	</div>
{% endblock %}

