{% extends 'layouts/common.twig' %}
{% block content %}
	<div class="legal legal_bg">
		<div class="wrapper wrapper_inner">
			<a class="legal__logo" href="/"></a>
			{#<div class="lang-toolbar">#}
				{#&#123;&#35;<p class="lang-toolbar__label">Language:</p>&#35;&#125;#}
				{#{% set lang_name = App.language %} #}
                                {#{% if App.language == 'en' %}#}
                                    {#{%  set lang_name = 'ENG' %}#}
                                {#{% endif %}#}
				{#<a href="#lang" class="lang lang-toolbar__btn flag flag_{{ App.language }} js-flag">{{ lang_name  }}</a>#}
			{#</div>#}

			<h2 class="legal__title text_title text_line">{{ Yii.t("policy", "policy-title") }}</h2>
			{#<p class="time">{{ Yii.t("policy", "policy-data") }}</p>#}
			<p class="time">{{ Yii.t("policy", "policy-main-1") }}</p>
			<p class="time">{{ Yii.t("policy", "policy-main-2") }}</p>


			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-defintions-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-defintions-1") }}</p>
				<p>{{ Yii.t("policy", "policy-defintions-2") }}</p>
				<p>{{ Yii.t("policy", "policy-defintions-3") }}</p>
				<p>{{ Yii.t("policy", "policy-defintions-4") }}</p>
				<p>{{ Yii.t("policy", "policy-defintions-5") }}</p>
				<p>{{ Yii.t("policy", "policy-defintions-6") }}</p>
				<p>{{ Yii.t("policy", "policy-defintions-7") }}</p>
				<p>{{ Yii.t("policy", "policy-defintions-8") }}</p>
			</div>

			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-intro-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-intro-1") }}</p>
				{#<p>{{ Yii.t("policy", "policy-intro-2") }}</p>#}
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-collect-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-collect-0") }}</p>
				<p>{{ Yii.t("policy", "policy-collect-1") }}</p>
				<ul class="sub-list">
					<li>{{ Yii.t("policy", "policy-collect-1-1") }}</li>
					<li>{{ Yii.t("policy", "policy-collect-1-2") }}</li>
					<li>{{ Yii.t("policy", "policy-collect-1-3") }}</li>
					<li>{{ Yii.t("policy", "policy-collect-1-4") }}</li>
					<li>{{ Yii.t("policy", "policy-collect-1-5") }}</li>
					<li>{{ Yii.t("policy", "policy-collect-1-6") }}</li>
					<li>{{ Yii.t("policy", "policy-collect-1-7") }}</li>
					<li>{{ Yii.t("policy", "policy-collect-1-8") }}</li>
				</ul>
				<p>{{ Yii.t("policy", "policy-collect-1-9") }}</p>
				<p>{{ Yii.t("policy", "policy-collect-2") }}</p>
				<p>{{ Yii.t("policy", "policy-collect-2-1") }}</p>
				<p>{{ Yii.t("policy", "policy-collect-2-2") }}</p>
				<p>{{ Yii.t("policy", "policy-collect-3") }}</p>
				<p>{{ Yii.t("policy", "policy-collect-3-1") }}</p>
				<p>{{ Yii.t("policy", "policy-collect-3-2") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-uses-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-uses-1") }}</p>
				<ul class="sub-list">
					<li>{{ Yii.t("policy", "policy-uses-1-1") }}</li>
					<li>{{ Yii.t("policy", "policy-uses-1-2") }}</li>
					<li>{{ Yii.t("policy", "policy-uses-1-3") }}</li>
					<li>{{ Yii.t("policy", "policy-uses-1-4") }}</li>
					<li>{{ Yii.t("policy", "policy-uses-1-5") }}</li>
				</ul>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-disclose-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-disclose-0") }}</p>
				<p>{{ Yii.t("policy", "policy-disclose-1") }}</p>
				<p>{{ Yii.t("policy", "policy-disclose-2") }}</p>
				<p>{{ Yii.t("policy", "policy-disclose-3") }}</p>
				<p>{{ Yii.t("policy", "policy-disclose-4") }}</p>
				<p>{{ Yii.t("policy", "policy-disclose-5") }}</p>
				<p>{{ Yii.t("policy", "policy-disclose-6") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-children-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-children-1") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-protect-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-protect-1") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-access-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-access-1") }}</p>
				<p>{{ Yii.t("policy", "policy-access-2") }}</p>
				<p>{{ Yii.t("policy", "policy-access-3") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-terms-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-terms-1") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-changes-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-changes-1") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("policy", "policy-contact-title") }}</h3>
				<p>{{ Yii.t("policy", "policy-contact-1") }}</p>
				<p>{{ Yii.t("policy", "policy-contact-2") }}</p>
				<p>{{ Yii.t("policy", "policy-contact-3") }}</p>
			</div>

		</div>
	</div>

	<div class="wrapper">

		{{ include('main/footer.twig') }}
	</div>
{% endblock %}