{% extends 'layouts/common.twig' %}
{% block content %}
        <div class="wrapper">
                <a class="pages__logo" href="/"></a>
        </div>
	<div class="pages pages_bg">

                <div class="wrapper">
			<div class="text_block press">
				<h1>Press</h1>
                                <span class="pages-line"></span>
				<p class="pages-description">Make your first deposit at and opt in to receive a bonus cash unlocks as you play real-money poker games, making the tables even more inviting than ever.</p>
                                <div class="press__item">
                                        {#<img src="/img/press/mu.jpg" width="150" height="94" />#}
                                        <div class="press-content">
                                                <p class="date">12 May 2015</p>
                                                <h3>Windows Сentral | Cloud Raiders for Windows Phone gets war dragons and more in latest update</h3>
                                                <p>Social and mobile game developer and publisher Game Insight is celebrating St. Patrick’s Day in a big way, updating many of its mobile titles with leprechauns, pots of gold and other items and quests to help gamers feel festive.</p>
                                                <div class="addthis_native_toolbox"></div>
                                        </div>
                                        <div class="clear"></div>
                                </div>

                                <div class="press__item">
                                        <img src="/img/press/mu.jpg" width="150" height="94" />
                                        <div class="press-content">
                                                <p class="date">12 May 2015</p>
                                                <h3>Adweek.com | Game Insight Celebrates St. Patrick’s Day with Mobile Game Updates</h3>
                                                <p>Social and mobile game developer and publisher Game Insight is celebrating St. Patrick’s Day in a big way, updating many of its mobile titles with leprechauns, pots of gold and other items and quests to help gamers feel festive.</p>
                                                <div class="addthis_native_toolbox"></div>
                                        </div>
                                        <div class="clear"></div>
                                </div>

                                <div class="press__item">
                                        <img src="/img/press/mu.jpg" width="150" height="94" />
                                        <div class="press-content">
                                                <p class="date">12 May 2015</p>
                                                <h3>Toucharcade.com | GDC 2015: ‘X-Mercs’ from Game Insight Combines ‘XCOM’ with ‘Clash of Clans’</h3>
                                                <p>Social and mobile game developer and publisher Game Insight is celebrating St. Patrick’s Day in a big way, updating many of its mobile titles with leprechauns, pots of gold and other items and quests to help gamers feel festive.</p>
                                                <div class="addthis_native_toolbox"></div>
                                        </div>
                                         <div class="clear"></div>
                                </div>

                                <div class="press__item">
                                        <img src="/img/press/mu.jpg" width="150" height="94" />
                                        <div class="press-content">
                                                <p class="date">12 May 2015</p>
                                                <h3>Windows Сentral | Cloud Raiders for Windows Phone gets war dragons and more in latest update</h3>
                                                <p>Social and mobile game developer and publisher Game Insight is celebrating St. Patrick’s Day in a big way, updating many of its mobile titles with leprechauns, pots of gold and other items and quests to help gamers feel festive.</p>
                                                <div class="addthis_native_toolbox"></div>
                                        </div>
                                         <div class="clear"></div>
                                </div>

                                <div class="press__item">
                                        <img src="/img/press/mu.jpg" width="150" height="94" />
                                        <div class="press-content">
                                                <p class="date">12 May 2015</p>
                                                <h3>Toucharcade.com | GDC 2015: ‘X-Mercs’ from Game Insight Combines ‘XCOM’ with ‘Clash of Clans’</h3>
                                                <p>Social and mobile game developer and publisher Game Insight is celebrating St. Patrick’s Day in a big way, updating many of its mobile titles with leprechauns, pots of gold and other items and quests to help gamers feel festive.</p>
                                                <div class="addthis_native_toolbox"></div>
                                        </div>
                                         <div class="clear"></div>
                                </div>
                                {{ include('main/pagination.twig') }}
                                {{ include('main/facebook-container.twig') }}
			</div>

		</div>
	</div>


	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

