{#{% extends 'layouts/two-columns.twig' %}#}
{% extends 'layouts/common.twig' %}

{% set flash = App.user.getFlash(this.action.id) %}

{% block content %}
	{#<h1>{{ Yii.t('restore-password', 'Forgot your password?') }}</h1>#}

	<div class="wrapper">
		<a class="pages__logo" href="/"></a>
	</div>
	<div class="pages pages_bg">

		<div class="wrapper">
			{% if flash == 'success' %}
				<div class="form__success">
					<p class="sign-in__text">{{ Yii.t('restore-password', 'The confirmation is sent to specified email') }}</p>
				</div>
			{% else %}
				<div class="sign-in">
					<h1 class="sign-in__title">{{ Yii.t('restore-password', 'Forgot your password?') }}</h1>

					<div class="sign-in__block">
						<p class="sign-in__text sign-in__text_marginBottom">{{ Yii.t('restore-password', 'To&nbsp;reset your password, enter email indicated during the registration. You will receive an&nbsp;email with further instructions on&nbsp;how to&nbsp;reset your password.') }}</p>

						{% set form = this.beginWidget('CActiveForm', {enableAjaxValidation: false}) %}
						{{ include('common/sign-in-form/email.twig', {form: form, model: model, field: 'email', htmlOptions: {class: 'sign-in__input sign-in__input_email'} }) }}

						<button class="button button_green sign-in__btn"
								type="submit">{{ Yii.t('restore-password', 'Send') }}</button>
						{% do this.endWidget() %}
					</div>

					<div class="sign-in__block">
						<p class="sign-in__text">{{ Yii.t('restore-password', 'if&nbsp;you signed up&nbsp;using your Facebook account, make sure you’re&nbsp;logging in&nbsp;with it. If&nbsp;you forgot your Facebook password, you need to&nbsp;reset your password with it.') }}</p>
					</div>

					<div class="sign-in__block">
						<h2 class="sign-in__h2">{{ Yii.t('signin', 'Already a member?') }}</h2>
						<a href="{{ this.createUrl('main/signIn') }}" class="sign-in__link">{{ Yii.t('signin', 'Sign In here') }}</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

{% block scripts %}
	{{ include('common/sign-in-form/notifier.twig', {flash: flash}) }}
{% endblock %}
