{#{% extends 'layouts/two-columns.twig' %}#}
{% extends 'layouts/common.twig' %}

{% set flash = App.user.getFlash(this.action.id) %}

{% block content %}

	<div class="wrapper">
		<a class="pages__logo" href="/"></a>
	</div>
	<div class="pages pages_bg">

		<div class="wrapper">
			{% if flash == 'success' %}
				<div class="form__success">
					<p class="sign-in__text">{{ Yii.t('restore-password', 'Your password has been changed!') }}</p>
				</div>
			{% else %}
				<div class="sign-in">
					<h1 class="sign-in__title">{{ Yii.t('profile', 'Change password') }}</h1>

					<div class="sign-in__block">
						{% set form = this.beginWidget('CActiveForm', {enableAjaxValidation: false}) %}

						{{ include('common/sign-in-form/password.twig', {form: form, model: model, field: 'newPassword', htmlOptions: {class: 'sign-in__input sign-in__input_password'} }) }}
						{{ include('common/sign-in-form/password.twig', {form: form, model: model, field: 'newPassword_repeat', htmlOptions: {class: 'sign-in__input sign-in__input_password'} }) }}

						<button class="button button_green sign-in__btn"
								type="submit">{{ Yii.t('signin', 'Sign In') }}</button>

						{% do this.endWidget() %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>
{% endblock %}

{% block scripts %}
	{{ include('common/sign-in-form/notifier.twig', {flash: flash}) }}
{% endblock %}
