{#{% extends 'layouts/two-columns.twig' %}#}
{% extends 'layouts/common.twig' %}

{% block content %}
	{#<h1>{{ Yii.t('restore-password', 'Restore Password') }}</h1>#}
	{#{{ include('main/_social-auth.twig') }}#}

	{% set flash = App.user.getFlash(this.action.id) %}

	<div class="wrapper">
		<a class="pages__logo" href="/"></a>
	</div>
	<div class="pages pages_bg">

		<div class="wrapper">
			{#{% if flash == 'success' %}#}
			{#<div class="form__success">#}
			{#<p class="sign-in__text">{{ Yii.t('restore-password', 'The password has been successfully reset. You&rsquo;re already logged in. Go&nbsp;to&nbsp;the homepage and start playing right now!') }}</p>#}
			{#</div>#}
			{#{% endif %}#}

			{% if flash == 'error' %}
				<div class="form__success">
					<p class="sign-in__text">{{ Yii.t('restore-password', 'The confirmation code is not correct or out of date') }}</p>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>
{% endblock %}
