{#{% extends 'layouts/two-columns.twig' %}#}
{% extends 'layouts/common.twig' %}

{% set flash = App.user.getFlash(this.action.id) %}
{% block content %}
	<div class="wrapper">
		<a class="pages__logo" href="/"></a>
	</div>
	<div class="pages pages_bg">

		<div class="wrapper">
			<div class="text_block sign-in">
				<h1 class="sign-in__title">{{ Yii.t('signin', 'Sign in to Manchester United Social Casino') }}</h1>
				<span class="pages-line"></span>
				<p class="sign-in__text">{{ Yii.t('signin', 'Log in with your Facebook profile') }}</p>
				{{ include('main/_social-auth.twig') }}
				<p class="sign-in__text">{{ Yii.t('signin', 'or in with your email') }}</p>
				<div class="sign-in__block">
					{% set form = this.beginWidget('CActiveForm', {enableAjaxValidation: false, htmlOptions: {class: 'sign-in__form'}}  ) %}
						{{ include('common/sign-in-form/email.twig', {form: form, model: model, field: 'login', htmlOptions: {class: 'sign-in__input sign-in__input_email'} }) }}
                                                {{ include('common/sign-in-form/password.twig', {form: form, model: model, field: 'password', htmlOptions: {class: 'sign-in__input sign-in__input_password'} }) }}
						<button class="sign-in__btn" type="submit">{{ Yii.t('signin', 'Sign In') }}</button>
						<a href="{{ this.createUrl('main/restorePassword') }}" class="sign-in__link">{{ Yii.t('signin', 'Forgot Password?') }}</a>
					{% do this.endWidget() %}
				</div>

				<div class="sign-in__block">
					<h2 class="sign-in__h2">{{ Yii.t('signin', 'Not a member yet?') }}</h2>
					<a href="{{ this.createUrl('main/signUp') }}" class="sign-in__link">{{ Yii.t('signin', 'Register here in seconds') }}</a>
				</div>
				{{ include('main/facebook-container.twig') }}
			</div>

		</div>
	</div>


	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>
{% endblock %}

{% block scripts %}
	{{ include('common/sign-in-form/notifier.twig', {flash: flash}) }}
{% endblock %}

