{#{% extends 'layouts/two-columns.twig' %}#}
{% extends 'layouts/common.twig' %}

{% set flash = App.user.getFlash(this.action.id) %}

{% block content %}
	<div class="wrapper">
		<a class="pages__logo" href="/"></a>
	</div>
	<div class="pages pages_bg">

		<div class="wrapper">
			{% if flash == 'success' %}
				<div class="form__success">
					<p class="sign-in__text">{{ Yii.t('signup', 'To complete your registration you must follow the link we emailed you.') }}</p>
				</div>
			{% else %}
				<div class="text_block sign-in">
					{% set form = this.beginWidget('CActiveForm', {htmlOptions: {class: 'sign-in__form'}, enableAjaxValidation: false}) %}
					<h1 class="sign-in__title">{{ Yii.t('signin', 'Create account Manchester United Social Casino') }}</h1>
					<span class="pages-line"></span>

					<p class="sign-in__text">{{ Yii.t('signin', 'Log in with your Facebook profile') }}</p>
					{{ include('main/_social-auth.twig') }}
					<p class="sign-in__text">{{ Yii.t('signin', 'or create new profile') }}</p>

					<div class="sign-in__block">
						{{ form.textField(model, 'nickname', {class: 'sign-in__input sign-in__input_nick', placeholder: 'Nickname'}) }}
						{{ form.emailField(model, 'login', {class: 'sign-in__input sign-in__input_email', placeholder: 'Email'}) }}
						{{ form.passwordField(model, 'password', {class: 'sign-in__input sign-in__input_password', placeholder: 'Password'}) }}
						{{ form.passwordField(model, 'confirmPassword', {class: 'sign-in__input sign-in__input_password', placeholder: 'Confirm password'}) }}
					</div>

					<div class="sign-in__block">
						<label class="sign-in__label">{{ form.checkBox(model, 'subscribe') }}  {{ Yii.t("signin", "I subscribe to the newsletter and news") }}
						</label>
						<label class="sign-in__label">{{ form.checkBox(model, 'agreeWithToU') }} {{ Yii.t("signin", "I agree all") }} <a
									class="sign-in__link" href="{{ this.createUrl('main/tos') }}">Terms of Service</a>
						</label>
						<button class="sign-in__btn" type="submit">{{ Yii.t('signin', 'Create account') }}</button>
					</div>

					{% do this.endWidget() %}

					<div class="sign-in__block">
						<h2 class="sign-in__h2">{{ Yii.t('signin', 'Already a member?') }}</h2>
						<a href="{{ this.createUrl('main/signIn') }}"
						   class="sign-in__link">{{ Yii.t('signin', 'Sign in here') }}</a>
					</div>
					{{ include('main/facebook-container.twig') }}
				</div>
			{% endif %}
		</div>
	</div>


	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>
{% endblock %}

{% block scripts %}
	{{ include('common/sign-in-form/notifier.twig', {flash: flash}) }}
{% endblock %}