{% extends 'layouts/common.twig' %}
{% block content %}
	<div class="legal legal_bg">
		<div class="wrapper wrapper_inner">
			<a class="legal__logo" href="/"></a>
			{#<div class="lang-toolbar">#}
				{#&#123;&#35;<p class="lang-toolbar__label">Language:</p>&#35;&#125;#}
				{#{% set lang_name = App.language %} #}
                                {#{% if App.language == 'en' %}#}
                                    {#{%  set lang_name = 'ENG' %}#}
                                {#{% endif %}#}
				{#<a href="#lang" class="lang lang-toolbar__btn flag flag_{{ App.language }} js-flag">{{ lang_name  }}</a>#}
			{#</div>#}
			<h2 class="legal__title text_title text_line">{{ Yii.t("tos", "tos-title") }}</h2>
			<p class="time">{{ Yii.t("tos", "tos-data") }}</p>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-defintions-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-defintions-1") }}</p>
				<p>{{ Yii.t("tos", "tos-defintions-2") }}</p>
				<p>{{ Yii.t("tos", "tos-defintions-3") }}</p>
				<p>{{ Yii.t("tos", "tos-defintions-4") }}</p>
				<p>{{ Yii.t("tos", "tos-defintions-5") }}</p>
				<p>{{ Yii.t("tos", "tos-defintions-6") }}</p>
				<p>{{ Yii.t("tos", "tos-defintions-7") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-legal-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-legal-1") }}</p>
				<p>{{ Yii.t("tos", "tos-legal-2") }}</p>
				<p>{{ Yii.t("tos", "tos-legal-3") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-license-title") }}</h3>
					<p>{{ Yii.t("tos", "tos-license-1") }}</p>
					<p>{{ Yii.t("tos", "tos-license-2") }}</p>
					<p class="sub-title">{{ Yii.t("tos", "tos-license-2-title-1") }}</p>
						<ul class="sub">
							<li>{{ Yii.t("tos", "tos-license-2-1") }}</li>
							<li>{{ Yii.t("tos", "tos-license-2-2") }}</li>
							<li>{{ Yii.t("tos", "tos-license-2-3") }}</li>
							<li>{{ Yii.t("tos", "tos-license-2-4") }}</li>
						</ul>
					<p class="sub-title">{{ Yii.t("tos", "tos-license-2-title-2") }}</p>
						<ul class="sub">
							<li>{{ Yii.t("tos", "tos-license-2-5") }}</li>
							{#<li>{{ Yii.t("tos", "tos-license-2-6") }}</li>#}
						</ul>
					<p>{{ Yii.t("tos", "tos-license-3") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-reg-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-reg-1") }}</p>
				<p>{{ Yii.t("tos", "tos-reg-2") }}</p>
				<p>{{ Yii.t("tos", "tos-reg-3") }}</p>
				<p>{{ Yii.t("tos", "tos-reg-3-1") }}</p>
				<p>{{ Yii.t("tos", "tos-reg-3-2") }}</p>
				<p>{{ Yii.t("tos", "tos-reg-4") }}</p>
				<p>{{ Yii.t("tos", "tos-reg-5") }}</p>
				<p>{{ Yii.t("tos", "tos-reg-6") }}</p>
				<p>{{ Yii.t("tos", "tos-reg-7") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-u-content-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-u-content-1") }}</p>
				<p>{{ Yii.t("tos", "tos-u-content-1-1") }}</p>
				<p>{{ Yii.t("tos", "tos-u-content-1-2") }}</p>
				<p>{{ Yii.t("tos", "tos-u-content-2") }}</p>
				<p>{{ Yii.t("tos", "tos-u-content-3") }}</p>
				<p>{{ Yii.t("tos", "tos-u-content-4") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-rules-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-rules-0") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-1") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-1-1") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-1-2") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-1-3") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-1-4") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-1-5") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-1-6") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-1-7") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-1-8") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2-1") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2-2") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2-3") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2-4") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2-5") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2-6") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2-7") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2-8") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2-9") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-2-10") }}</p>
				<p>{{ Yii.t("tos", "tos-rules-3") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-fees-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-fees-1") }}</p>
				<p>{{ Yii.t("tos", "tos-fees-2") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-deactivation-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-deactivation-1") }}</p>
				<p>{{ Yii.t("tos", "tos-deactivation-2") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-third-party-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-third-party-1") }}</p>
				<p>{{ Yii.t("tos", "tos-third-party-2") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-communications-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-communications-1") }}</p>
				<p>{{ Yii.t("tos", "tos-communications-2") }}</p>
				<p>{{ Yii.t("tos", "tos-communications-3") }}</p>
				<p>{{ Yii.t("tos", "tos-communications-4") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-rights-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-rights-1") }}</p>
				<p>{{ Yii.t("tos", "tos-rights-2") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-limitations-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-limitations-1") }}</p>
				<p>{{ Yii.t("tos", "tos-limitations-2") }}</p>
				<p>{{ Yii.t("tos", "tos-limitations-3") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-indemnification-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-indemnification-1") }}</p>
				<p>{{ Yii.t("tos", "tos-indemnification-2") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-dispute-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-dispute-0") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-1") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-1-1") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-1-2") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-1-3") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-2") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-2-1") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-2-2") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-2-3") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-3") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-3-1") }}</p>
				<ul class="sub-list">
					<li>{{ Yii.t("tos", "tos-dispute-sub-1") }}</li>
					<li>{{ Yii.t("tos", "tos-dispute-sub-2") }}</li>
					<li>{{ Yii.t("tos", "tos-dispute-sub-3") }}</li>
				</ul>
				<p>{{ Yii.t("tos", "tos-dispute-3-2") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-3-3") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-4") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-4-1") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-4-2") }}</p>
				<p>{{ Yii.t("tos", "tos-dispute-4-3") }}</p>
			</div>
			<div class="text_block">
				<h3>{{ Yii.t("tos", "tos-miscellaneous-title") }}</h3>
				<p>{{ Yii.t("tos", "tos-miscellaneous-1") }}</p>
				<p>{{ Yii.t("tos", "tos-miscellaneous-2") }}</p>
				<p>{{ Yii.t("tos", "tos-miscellaneous-3") }}</p>
				<p>{{ Yii.t("tos", "tos-miscellaneous-4") }}</p>
				<p>{{ Yii.t("tos", "tos-miscellaneous-5") }}</p>
			</div>
		</div>
	</div>


	<div class="wrapper">

		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

