{% extends 'layouts/common.twig' %}
{% block content %}
	<div class="wrapper">
		<a class="pages__logo" href="/"></a>
	</div>
	<div class="pages pages_bg">

		<div class="wrapper">
			<div class="text_block press">
				<h1>Press</h1>
				<span class="pages-line"></span>

				{% for press in pressItems %}
					<div class="press__item">
						{% set image = press.getImage() %}
						{% if image %}
							<a href="{{ this.createUrl('press/item', {alias: press.alias}) }}">
								<div class="press__img"><img src="{{ image }}" width="150" height="94"></div>
							</a>
						{% endif %}

						<div class="press-content">
							<p class="date">{{ press.publicationDate|date('d M Y') }}</p>

							<h3><a href="{{ this.createUrl('press/item', {alias: press.alias}) }}">{{ press.title }}</a></h3>

							{{ press.overview }}

							<div class="addthis_native_toolbox"></div>
						</div>
						<div class="clear"></div>
					</div>
				{% endfor %}
				
				{{ include('common/pagination.twig') }}

				{#{{ include('main/pagination.twig') }}#}
				{{ include('main/facebook-container.twig') }}
			</div>

		</div>
	</div>


	<div class="wrapper">
		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

