<div class="form-group">
	{{ form.labelEx(model, field) }}
	{{ form.textarea(model, field, {class: 'form-control', row: 10}|merge(htmlOptions|default({}))) }}
	{{ form.error(model, field, {class: 'error'}) }}
</div>