<div class="form-group">
	{{ form.labelEx(model, field) }}
	{{ form.textField(model, field, {class: 'form-control'}|merge(htmlOptions|default({}))) }}
	{{ form.error(model, field, {class: 'error'}) }}
</div>
