<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<div  style="max-width: 650px; width: 100%; margin: 0 auto">
	<img src="http://manutdsocialcasino.com/img/letter/body.png" style="width: 100%" alt=""/>
	<p style="padding: 0 25px;"><a href="http://manutdsocialcasino.com/en/" style="color: #E01B22; text-decoration: none" target="_blank">Manchester United</a> Social Casino games are 100% free to play and bring millions of Man Utd fans from around the world together.</p>
	<p style="padding: 0 25px;">We're giving one lucky fan the chance to win a once in a lidetime VIP trip to Old Trafford.</p>
	<p style="padding: 0 25px;">How to enter the draw:</p>
	<ul>
		<li>Simply download Man Utd Social <a href="http://manucasino.com/631" style="color: #E01B22;" target="_blank">Poker</a> or <a href="http://manucasino.com/e26" style="color: #E01B22;" target="_blank">Roulette</a> for one entry</li>
		<li>Download both games and get three entries to the draw!</li>
	</ul>
	<a href="http://manucasino.com/631" style="display: block; margin: 20px 0" target="_blank"><img style="display: block; margin: 0 auto; width: 72%" src="http://manutdsocialcasino.com/img/letter/button.png" alt=""/></a>
	<p style="padding: 0 25px;">For more info visit <a href="http://manutdsocialcasino.com" style="color: #E01B22; text-decoration: none" target="_blank">www.manutdsocialcasino.com</a></p>
	<p style="padding: 0 25px;">Best of luck,<br />The MUSC Team</p>
	<p style="padding: 0 25px;">For full T&C's please <a href="http://www.manutdsocialcasino.com " style="color: #E01B22;" target="_blank">CLICK HERE</a></p>
</div>
</body>
</html>