{% extends 'layouts/common.twig' %}
{% block content %}
        <div class="wrapper">
                <a class="pages__logo" href="/"></a>
        </div>
	<div class="pages pages_bg">
		
                <div class="wrapper">
			<div class="text_block press">
				<h1>{{ Yii.t("ingame", "form-title") }}</h1>
                                <span class="pages-line"></span>
				<p class="pages-description">{{ Yii.t("ingame", "form-text") }}</p>

                                <div class="feedback">

                                        {% if support_success %}
                                                <div class="feedback__message">
                                                        <p class="feedback__text">
                                                                {{ Yii.t("ingame", "form-success") }}
                                                        </p>
                                                </div>
                                        {%else %}
                                                <div class="feedback__form">
                                                        {{ include('feedback/feedback.twig', {message: message}) }}
                                                </div>
                                        {% endif %}

                                </div>
                                {{ include('main/facebook-container.twig') }}       
                                
			</div>
		</div>
	</div>

	<div class="wrapper">

		{{ include('main/footer.twig') }}
	</div>

{% endblock %}







