{% set formIsActive = App.request.isPostRequest or App.user.hasFlash('support_success')  %}
{% set form = this.beginWidget('CActiveForm', { id: 'support-form', enableAjaxValidation: false, htmlOptions: {novalidate: true, class: 'form form__support ' ~ (formIsActive? 'active': '')} }) %}
<label class="form__label">Choose game:</label>
<div class="form-switcher">
        <a class="form-switcher__poker form-switcher_on" id="switch-poker" href="#"></a>
	<a class="form-switcher__slots form-switcher_off" id="switch-slots" href="#"></a>
	<a class="form-switcher__roulette form-switcher_off" id="switch-roulette" href="#"></a>
        <input type="hidden" id="Support_app" name="Support[app]" value="poker">  
</div>
<div class="clear"></div>

{{ include('feedback/fields/text.twig', {form: form, model: message, field: 'name'}) }}
{#{{ include('feedback/fields/text.twig', {form: form, model: message, field: 'company'}) }}#}
{{ include('feedback/fields/email.twig', {form: form, model: message, field: 'email'}) }}
{{ include('feedback/fields/textarea.twig', {form: form, model: message, field: 'message'}) }}
{{ include('feedback/fields/antibot.twig', {form: form, model: message, field: 'antibot'}) }}
<div class="form__row">
	<input class="form__button" type="submit" value='{{ Yii.t("ingame", "form-btn") }}'>
</div>
{{ include('feedback/fields/error.twig', {form: form, model: message, header: Yii.t("ingame", "form-error")}) }}
{% do this.endWidget() %}