{#{% set error = form.error(model, field, {class: 'form__error'}) %}#}

<div class="sign-in__checkbox">
	<label>
		{{ form.checkBox(model, field) }}
		{{ model.getAttributeLabel(field) }}
	</label>
</div>
{#{{ error }}#}