{% set flash = flash|default(App.user.getFlash(this.action.id)) %}

{% if flash %}
	{#{% set text = Yii.t('common', 'Fill in the application form fields and check the correctness of the data') %}#}
	{% set text = model.errors|length? '': text|default(Yii.t('common', flash)|capitalize ~ '!') %}
	{% for field in model.errors %}
		{% for error in field %}
			{% set text = text ~ '<div>' ~ error ~ '</div>' %}
		{% endfor %}
	{% endfor %}
	<script type="text/javascript">
		$(function () {
			$.notify('{{ text|replace('\'', ' ') }}', '', {
//				container: $('.sign-in').closest('.pages_bg'),
				container: $('.pages__logo').closest('.wrapper'),
				{% if model.errors|length %}
				timeout: false,
				{% endif %}
				addClass: 'alert__form alert__{{ flash }}'
			});
		});
	</script>
{% endif %}