{% set error = form.error(model, field, {class: 'help-block'}) %}

<div class="form__row  {{ error is not empty? 'error': '' }}">
    {{ form.labelEx(model, field, {class: 'form__label form__label_input'}) }}
    <div class="form__field">
        {{ form.textField(model, field, htmlOptions) }}
        {#{{ error }}#}
    </div>
</div>
