{% set error = form.error(model, field, {class: 'help-block'}) %}

<div class="form__row form__row_textarea {{ error is not empty? 'error': '' }}">
    {{ form.labelEx(model, field, {class: 'form__label'}) }}
    <div class="form__field">
        {{ form.textArea(model, field, htmlOptions) }}
    </div>
</div>