{% extends 'layouts/common.twig' %}
{% block content %}
        <div class="wrapper">
                <a class="pages__logo" href="/"></a>
        </div>
	<div class="pages pages_bg">
		
                <div class="wrapper">
			<div class="text_block">
				<h1>About Manchester United Social Roulette</h1>
                                <span class="pages-line"></span>
 
                                
                                <p class="pages-description">For all football fans and supporters of the Red Devils. KamaGames and Manchester United present free Manchester United Social  Roulette!</p>

                                <p class="pages-description">Play roulette with hundreds of millions of football fans from around the world. Dive into a world of risk, bets and victories! You can log in to the game using your 
                                    smartphone, tablet or computer anywhere in the world.</p>

                                <p class="pages-description">Play with supporters of your favorite team and win chips! Prove that you're a true victor. Both amateur and professional players will love this challenging and exciting game! 
                                    You need less than a minute to start playing the game. Just make a bet and try your luck!</p>
                                
                                
                                <h3>Screenshots</h3>
                                <div class="carousel">
                                        <a class="carousel-button carousel-button-left" href="#"></a>
                                        <a class="carousel-button carousel-button-right" href="#"></a>
                                        <div class="carousel-wrapper">
                                                <div class="carousel-items">
                                                        <div class="carousel-block">
                                                                <img src="/img/screenshots/roulette/screenshot_01.jpg" alt="" widht="280" height="158"/>
                                                        </div>
                                                        <div class="carousel-block">
                                                                <img src="/img/screenshots/roulette/screenshot_02.jpg" alt="" widht="280" height="158"/>
                                                        </div>
                                                        <div class="carousel-block">
                                                                <img src="/img/screenshots/roulette/screenshot_03.jpg" alt="" widht="280" height="158"/>
                                                        </div>
                                                        <div class="carousel-block">
                                                                <img src="/img/screenshots/roulette/screenshot_04.jpg" alt="" widht="280" height="158"/>
                                                        </div>
                                                        <div class="carousel-block">
                                                                <img src="/img/screenshots/roulette/screenshot_05.jpg" alt="" widht="280" height="158"/>
                                                        </div>
						     <div class="carousel-block">
                                                                <img src="/img/screenshots/roulette/screenshot_06.jpg" alt="" widht="280" height="158"/>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div class="game-available">
                                        <h3>Available</h3> 
                                        <div class="ft-store">
                                                <a target="_balnk" class="ft-store__item ft-store__item_ap" href="https://itunes.apple.com/app/id951094676"></a>
                                                <a target="_balnk" class="ft-store__item ft-store__item_gl" href="https://play.google.com/store/apps/details?id=com.kamagames.roulettemu"></a>
                                                <a target="_balnk" class="ft-store__item ft-store__item_fb" href="https://apps.facebook.com/manutdsocialroulette/"></a>
                                                <a target="_balnk" class="ft-store__item ft-store__item_win" href="https://www.windowsphone.com/s?appid=B95C77C1-8286-4B56-BEAD-EE74E9FD4C42"></a>
                                                <a target="_balnk" class="ft-store__item ft-store__item_amazon" href="http://www.amazon.com/dp/B00U7YXHHM"></a>
                                        </div>
                                </div>
                                
                                <div class="game-features">
                                        <div class="game-features__content">
                                               <h3>Feature</h3>

                                               <ul class="game-features-list">
                                                   <li class="game-features-list__item">THREE VERSIONS OF ROULETTE – Try European, French and American roulettes and chose the best for you.</li>
                                                   <li class="game-features-list__item">CONVENIENT INTERFACE – A simple and attractive interface which gives you the ability to make several bets quickly.</li>
                                                   <li class="game-features-list__item">NO REGISTRATION – Use guest mode to play roulette without registration.</li>
                                                   <li class="game-features-list__item">GIVE GIFTS – Give gifts with Manchester United markings to other players.</li>
                                                   <li class="game-features-list__item">PLAY WITH FRIENDS – Invite your friends to the game through e-mail or Facebook and get bonuses as a reward.</li>
                                                   <li class="game-features-list__item">CHAT WITH OTHER PLAYERS – Use the convenient chat and message system to discuss hands you've won and get even more fun out of the game.</li>
                                                   <li class="game-features-list__item">LEARN TO PLAY – Are you new to roulette, but always wanted to try it? We'll help you take the first step and teach you how to play three roulette versions.</li>
                                                   <li class="game-features-list__item">GET REWARDS – Up the stakes, go all-in and unlock achievements.</li>
                                                   <li class="game-features-list__item">FREE CHIPS – Come back to the game every day and get free chips.</li>
                                                   <li class="game-features-list__item">MANCHESTER UNITED SOCIAL POKER – With one account for Manchester United Social  Roulette and Manchester United Social Poker you can use your contacts, achievements and chips in both apps.</li>
                                                   <li class="game-features-list__item">ONE ACCOUNT – Start playing on your smartphone or tablet and continue playing on Facebook without losing your progress.</li>
                                               </ul>
                                       </div>
                                     
                                       <div class="game-features__play">
                                            <a target="_balnk" href="#casino" class="btn play-now fancy-casino">{{ Yii.t("ingame", "play-now-btn") }}</a>
                                       </div>
                                </div>
                                
                                <div class="clear"></div>
                                
                                {{ include('main/facebook-container.twig') }}
                                
			</div>
			
		</div>
	</div>


	<div class="wrapper">

		{{ include('main/footer.twig') }}
	</div>

{% endblock %}

