/******************************** help ********************************/

.help-section {
	font-family: Helvetica,​Arial,​sans-serif;
	margin-bottom: 8px;
	border-top: 1px solid #ddd;
	
	header {
		margin-bottom: 50px;

		img {
			box-shadow: 0 3px 3px 0px rgba(0, 0, 0, .4);
		}
	}

	.title {
		display: inline-block;
		position: relative;
		margin: 15px 0 10px 0;
		font-size: 20px;
		color: #a56600;
		padding-left: 20px;
		cursor: pointer;


		&::before {
			position: absolute;
			left: 0;
			content: "+";
		}

		&.active {
			&::before {
				content: "-";
			}
		}
	}

	h3 {
		margin: 25px 0 10px 0;
		font-size: 18px;
		color: #0077aa;
	}

	h4 {
		font-size: 18px;
		margin: 20px 0 10px 0;
		color: #0077aa;
	}

	.content {
		display: none;

		p {
			margin: 5px 0;
			font-size: 15px;
			color: #333333;
		}

		ul:not(.vip) {
			list-style-type: circle;
			margin-left: 30px;
		}

		li {
			font-size: 14px;

			img {
				vertical-align: middle;
				margin-right: 15px;
			}

			p {
				display: inline-block;
			}
		}

		li:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	figure {
		text-align: center;
		margin: 20px 0;
	}

	figcaption {
		font-size: 12px;
	}

}