<html>
<body>


<div align='center' width='100%'>
	<div width='97%'>

		<p>{{ Yii.t('unity', 'actions') }}</p>

		<h2 color='#00FFFF'>{{ Yii.t('unity', 'actions_call') }}</h2>

		<p>{{ Yii.t('unity', 'actions_call_content') }}</p>

		<div height="1px"></div>
		<h2 color='#00FFFF'>{{ Yii.t('unity', 'actions_check') }}</h2>

		<p>{{ Yii.t('unity', 'actions_check_content') }}</p>

		<div height="1px"></div>
		<h2 color='#00FFFF'>{{ Yii.t('unity', 'actions_raise') }}</h2>

		<p>{{ Yii.t('unity', 'actions_raise_content') }}</p>

		<div height="1px"></div>
		<h2 color='#00FFFF'>{{ Yii.t('unity', 'actions_fold') }}</h2>

		<p>{{ Yii.t('unity', 'actions_fold_content') }}</p>

	</div>
</div>

</body>
</html>