<html>
<body>
<div align='center' width='100%'>
	<div width='97%'>

		<h2 color="#00FFFF">{{ Yii.t('unity', 'bets_blinds') }}</h2>

		<p>{{ Yii.t('unity', 'bets_blinds_content') }}</p>

		<div height="1px"></div>
		<h2 color="#00FFFF">{{ Yii.t('unity', 'bets_ante') }}</h2>

		<p>{{ Yii.t('unity', 'bets_ante_content') }}</p>

		<div height="1px"></div>
		<h2 color="#00FFFF">{{ Yii.t('unity', 'bets_minimum_raise') }}</h2>

		<p>{{ Yii.t('unity', 'bets_minimum_raise_content') }}</p>

		<div height="1px"></div>
		<h2 color="#00FFFF">{{ Yii.t('unity', 'bets_all_in') }}</h2>

		<p>{{ Yii.t('unity', 'bets_all_in_content') }}</p>

		<div height="1px"></div>
		<h2 color="#00FFFF">{{ Yii.t('unity', 'bets_split_pot') }}</h2>

		<p>{{ Yii.t('unity', 'bets_split_pot_content') }}</p>

	</div>
</div>

</body>
</html>