<html>
<body>

<div align='center' width='100%'>
<div width='97%'>


<p>{{ Yii.t('unity', 'hands_01') }}</p>

<p>{{ Yii.t('unity', 'hands_02') }}</p>

<div height="20"></div>

<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_royal_flush') }}</h2>

<table>
	<tr>
		<td valign='top' width='100%'>
			<div>{{ Yii.t('unity', 'hands_royal_flush_content') }}</div>
		</td>
		<td width='0'></td>
		<td>
			<table>
				<tr>
					<td height="90">
						<img uistyle='AceDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='KingDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='QueenDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='JackDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='TenDiamonds' width='65' effect='highlight' height='80'/>
					</td>
				</tr>
				<tr>
					<td>
						<img uistyle='AceSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='KingSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='QueenSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='JackSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='TenSpades' width='65' effect='highlight' height='80'/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_straight_flush') }}</h2>

<table>
	<tr>
		<td valign='top' width='100%'>
			<div>{{ Yii.t('unity', 'hands_straight_flush_content') }}</div>
		</td>
		<td width='17'></td>
		<td>
			<table>
				<tr>
					<td height="90">
						<img uistyle='JackClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='TenClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='NineClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='EightClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='SevenClubs' width='65' effect='highlight' height='80'/>
					</td>
				</tr>
				<tr>
					<td>
						<img uistyle='QueenHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='JackHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='TenHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='NineHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='EightHearts' width='65' effect='highlight' height='80'/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_four_of_kind') }}</h2>

<table>
	<tr>
		<td valign='top' width='100%'>
			<div>{{ Yii.t('unity', 'hands_four_of_kind_content') }}</div>
		</td>
		<td width='15'></td>
		<td>
			<table>
				<tr>
					<td height="90">
						<img uistyle='SevenDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='SevenHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='SevenSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='SevenClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='AceClubs' width='65' effect='fade' height='80'/>
					</td>
				</tr>
				<tr>
					<td>
						<img uistyle='KingDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='KingHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='KingSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='KingClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='SixDiamonds' width='65' effect='fade' height='80'/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_full_house') }}</h2>

<table>
	<tr>
		<td valign='top' width='100%'>
			<div>{{ Yii.t('unity', 'hands_full_house_content') }}</div>
		</td>
		<td width='17'></td>
		<td>
			<table>
				<tr>
					<td height="90">
						<img uistyle='TwoDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='TwoHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='TwoSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='TenDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='TenClubs' width='65' effect='highlight' height='80'/>
					</td>
				</tr>
				<tr>
					<td>
						<img uistyle='AceHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='AceSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='AceClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='KingDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='KingSpades' width='65' effect='highlight' height='80'/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_flush') }}</h2>

<table>
	<tr>
		<td valign='top' width='100%'>
			<div>{{ Yii.t('unity', 'hands_flush_content') }}</div>
		</td>
		<td width='17'></td>
		<td>
			<table>
				<tr>
					<td height="90">
						<img uistyle='AceClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='QueenClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='EightClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='SixClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='FourClubs' width='65' effect='highlight' height='80'/>
					</td>
				</tr>
				<tr>
					<td>
						<img uistyle='JackDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='NineDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='EightDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='FiveDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='ThreeDiamonds' width='65' effect='highlight' height='80'/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_straight') }}</h2>

<table>
	<tr>
		<td valign='top' width='100%'>
			<div>{{ Yii.t('unity', 'hands_straight_content') }}</div>
		</td>
		<td width='15'></td>
		<td>
			<table>
				<tr>
					<td height="90">
						<img uistyle='EightDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='SevenClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='SixHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='FiveHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='FourSpades' width='65' effect='highlight' height='80'/>
					</td>
				</tr>
				<tr>
					<td>
						<img uistyle='JackHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='TenDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='NineDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='EightSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='SevenClubs' width='65' effect='highlight' height='80'/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_three_of_kind_hands') }}</h2>

<table>
	<tr>
		<td valign='top' width='100%'>
			<div>{{ Yii.t('unity', 'hands_three_of_kind_hands_content') }}</div>
		</td>
		<td width='17'></td>
		<td>
			<table>
				<tr>
					<td height="90">
						<img uistyle='FiveDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='FiveHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='FiveSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='JackDiamonds' width='65' effect='fade' height='80'/>
					</td>
					<td height="90">
						<img uistyle='ThreeSpades' width='65' effect='fade' height='80'/>
					</td>
				</tr>
				<tr>
					<td>
						<img uistyle='AceDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='AceSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='AceClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='QueenHearts' width='65' effect='fade' height='80'/>
					</td>
					<td>
						<img uistyle='SevenDiamonds' width='65' effect='fade' height='80'/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_two_pair') }}</h2>

<table>
	<tr>
		<td valign='top' width='100%'>
			<div>{{ Yii.t('unity', 'hands_two_pair_content') }}</div>
		</td>
		<td width='17'></td>
		<td>
			<table>
				<tr>
					<td height="90">
						<img uistyle='KingDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='KingClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='SevenDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='SevenHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='AceClubs' width='65' effect='fade' height='80'/>
					</td>
				</tr>
				<tr>
					<td>
						<img uistyle='TenDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='TenHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='NineHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='NineSpades' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='EightDiamonds' width='65' effect='fade' height='80'/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_one_pair') }}</h2>

<table>
	<tr>
		<td valign='top' width='100%'>
			<div>{{ Yii.t('unity', 'hands_one_pair_content') }}</div>
		</td>
		<td width='15'></td>
		<td>
			<table>
				<tr>
					<td height="90">
						<img uistyle='ThreeDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='ThreeHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='JackSpades' width='65' effect='fade' height='80'/>
					</td>
					<td height="90">
						<img uistyle='TenSpades' width='65' effect='fade' height='80'/>
					</td>
					<td height="90">
						<img uistyle='EightDiamonds' width='65' effect='fade' height='80'/>
					</td>
				</tr>
				<tr>
					<td>
						<img uistyle='QueenDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='QueenHearts' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='TenSpades' width='65' effect='fade' height='80'/>
					</td>
					<td>
						<img uistyle='FourDiamonds' width='65' effect='fade' height='80'/>
					</td>
					<td>
						<img uistyle='ThreeDiamonds' width='65' effect='fade' height='80'/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_high_card') }}</h2>

<table>
	<tr>
		<td valign='top' width='100%'>
			<div>{{ Yii.t('unity', 'hands_high_card_content') }}</div>
		</td>
		<td width='15'></td>
		<td>
			<table>
				<tr>
					<td height="90">
						<img uistyle='KingDiamonds' width='65' effect='highlight' height='80'/>
					</td>
					<td height="90">
						<img uistyle='TenDiamonds' width='65' effect='fade' height='80'/>
					</td>
					<td height="90">
						<img uistyle='FiveClubs' width='65' effect='fade' height='80'/>
					</td>
					<td height="90">
						<img uistyle='FourHearts' width='65' effect='fade' height='80'/>
					</td>
					<td height="90">
						<img uistyle='ThreeHearts' width='65' effect='fade' height='80'/>
					</td>
				</tr>
				<tr>
					<td>
						<img uistyle='QueenClubs' width='65' effect='highlight' height='80'/>
					</td>
					<td>
						<img uistyle='EightSpades' width='65' effect='fade' height='80'/>
					</td>
					<td>
						<img uistyle='SevenSpades' width='65' effect='fade' height='80'/>
					</td>
					<td>
						<img uistyle='FiveHearts' width='65' effect='fade' height='80'/>
					</td>
					<td>
						<img uistyle='TwoHearts' width='65' effect='fade' height='80'/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2 color='#00FFFF'>{{ Yii.t('unity', 'hands_kicker') }}</h2>

<p>{{ Yii.t('unity', 'hands_kicker_content') }}</p>


</div>
</div>

</body>
</html>

