<html>
<body>


<div align='center' width='100%'>
    <div width='97%'>

        <h2 color="#00FFFF">{{ Yii.t('unity', 'rounds_preflop') }}</h2>

		<p>{{ Yii.t('unity', 'rounds_preflop_content_1') }}</p>
		<p>{{ Yii.t('unity', 'rounds_preflop_content_2') }}</p>
		
        <div height="4"></div>

        <h2 color="#00FFFF">{{ Yii.t('unity', 'rounds_flop') }}
        </h2>
        <table>
            <tr>
                <td><img uistyle='AceClubs' width='65' effect='highlight' height='80'/></td>
                <td><img uistyle='FiveDiamonds' width='65' effect='highlight' height='80'/></td>
                <td><img uistyle='TwoClubs' width='65' effect='highlight' height='80'/></td>
            </tr>
        </table>
		<p>{{ Yii.t('unity', 'rounds_flop_content') }}</p>

        <div height="4"></div>

        <h2 color="#00FFFF">{{ Yii.t('unity', 'rounds_turn') }}
        </h2>
        <table>
            <tr>
                <td><img uistyle='AceClubs' width='65' effect='highlight' height='80'/></td>
                <td><img uistyle='FiveDiamonds' width='65' effect='highlight' height='80'/></td>
                <td><img uistyle='TwoClubs' width='65' effect='highlight' height='80'/></td>
                <td><img uistyle='TenHearts' width='65' effect='highlight' height='80'/></td>
            </tr>
        </table>
        <p>{{ Yii.t('unity', 'rounds_turn_content') }}</p>

        <div height="4"></div>

        <h2 color="#00FFFF">{{ Yii.t('unity', 'rounds_river') }}
        </h2>
        <table>
            <tr>
                <td><img uistyle='AceClubs' width='65' effect='highlight' height='80'/></td>
                <td><img uistyle='FiveDiamonds' width='65' effect='highlight' height='80'/></td>
                <td><img uistyle='TwoClubs' width='65' effect='highlight' height='80'/></td>
                <td><img uistyle='TenHearts' width='65' effect='highlight' height='80'/></td>
                <td><img uistyle='TwoHearts' width='65' effect='highlight' height='80'/></td>
            </tr>
        </table>
        <p>{{ Yii.t('unity', 'rounds_river_content') }}</p>

        <div height="4"></div>

        <h2 color="#00FFFF">{{ Yii.t('unity', 'rounds_showdown') }}
        </h2>
		<p>{{ Yii.t('unity', 'rounds_showdown_content') }}</p>



    </div>
</div>

</body>
</html>