<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div valign="top" align='center' width='100%'>
    <div valign="top" width='97%'>  
    	<h2 color="#FFFFFF">Common questions</h2>
	<ul numeric="true" space="7">   
	    		<li>
			<cut title="What kind of Poker can I play with the app?">
			    With our mobile and social app Man Utd Poker you can play one of the most popular types of Poker- classic unlimited Texas Hold’em. You can either play at the table for chips or join tournaments.
			</cut>
		</li>
	    		<li>
			<cut title="On what platforms is Manchester United Poker available?">
			    <p>The Manchester United Poker app is&nbsp;available for iOS, Android, Windows Phone, Samsung Bada, Mac OS, Facebook, VK&nbsp;and Odnoklassniki. You can also play Manchester United Poker right now on&nbsp;manutdpoker.com.</p>
			</cut>
		</li>
	    		<li>
			<cut title="How to play Man Utd Poker?">
			    To learn more about the rules and game interface please go to «Help» in the main menu or to the website section «How to play Poker». We will tell you about Poker hands, bets and actions.
            Note: these are only basic skills of playing Poker that teach to play, not to win. To succeed you can go to «Academy» section on the website and find out more about game strategy and players’ behavior there as well as improve gaming skills. You can’t even imagine how breathtaking a thoughtful Poker versus an advanced opponent can be!
			</cut>
		</li>
	    		<li>
			<cut title="What is a multiscreen mode?">
			    <p>Multiscreen is a mode with four game screens available simultaneously. With multiscreen you can play in a standard mode, take part in a tournament and chat in the personal messages menu at the same time. This mode is available to all players in the Flash version and to Level 15+ players in the mobile version. In multiscreen mode the main menu, chat menu, lobby and tournaments are available automatically. You can switch it off in the setting menu.</p>
			</cut>
		</li>
	    		<li>
			<cut title="How to use multiscreen mode?">
			    <p>You can switch to the multi-screen mode by tapping an icon in the upper right corner (both in iOS and Flash versions) &ndash; this icon also displays the sector you are in at the moment. To go to particular menu just tap the corresponding sector.On mobile devices you can switch the screens with your finger.</p>
			</cut>
		</li>
	    		<li>
			<cut title="Why can’t I leave the multiscreen mode for one of the screens?">
			    There might be a lock on. To unlock tap the lock sign in the middle of a screen. You can also fix the multiscreen mode display like this. This function is available only for Flash-version.
			</cut>
		</li>
	    		<li>
			<cut title="Where can I find game history?">
			    <p>The game history can be found on the &ldquo;Notifications&rdquo; tab in the personal messages menu. All your achievements and actions are displayed in the chronological sequence, beginning from the latest ones.</p>
			</cut>
		</li>
	    		<li>
			<cut title="What is a «Lobby»?">
			    <p>Lobby is a game mode where you can watch currently active games and learn more about them (game speed, blinds&rsquo; size, number of seats at the table, etc.) and choose the table you&rsquo;d like to join. Advanced players thoroughly study lobby, selecting the average bank and observing players&rsquo; behavior to get benefit in the game. Choosing a table in lobby is very important to choose the most appropriate game and increase your profit.</p>
			</cut>
		</li>
	    		<li>
			<cut title="How can I choose a table at the lobby?">
			    <p>Tap &ldquo;Lobby&rdquo; in the main menu. In this mode, you can choose a table you like and watch the game (imagine you are in a casino, standing behind a table and watching the game). Choose number of seats at the table, speed of the game, set the displaying of full and VIP tables. The blinds&rsquo; level in this case is determined by the amount of chips on your total bill (bankroll). Some players can sort out tables by blinds. Navigate through the tables, watch the games being played and users playing and making their bets. After you have found the table you like, you can take an unavailable seat at this table and make your bet.</p>
			</cut>
		</li>
	    		<li>
			<cut title="Is it possible to play at multiple tables simultaneously?">
			    You can play only at one table.
			</cut>
		</li>
	    		<li>
			<cut title="How can I raise the bet?">
			    To raise the bet for an arbitrary amount tap «Raise» button and HOLD it. Pull the appeared slider up till the bet you need and leave it. Sometimes you can be asked to prove your bet with an additional tap.
			</cut>
		</li>
	    		<li>
			<cut title="How can I take part in tournaments?">
			    Choose «Tournaments» in the main menu. You’ll be offered terms to agree to start the game. Notice that you can only take part in one tournament at a time.
			</cut>
		</li>
	    		<li>
			<cut title="Why am I being «kicked out» from the table and cannot join it?">
			    This may be caused by an unstable Internet connection. When playing, please make sure your connection is stable.
			</cut>
		</li>
	    		<li>
			<cut title="What if I think that the other player won unfairly?">
			     Strong hand doesn’t mean a win yet. Most probably a player with a weaker combination didn’t win but just got his part of the bet that was bigger than yours, if you went all-in — placed all your money.
            Or your hands were equal with opponent’s kicker higher than yours.
            Learn more about Poker rules, read our blogger’s articles so that the game’s final becomes clearer for you.
			</cut>
		</li>
	    		<li>
			<cut title="What does a golden star next to Player’s nickname mean?">
			    A star sign next to your fellow player’s nickname means that this user is on your friend list.
			</cut>
		</li>
	    		<li>
			<cut title="How can I save a screen shot and share it with my friends?">
			    To save and share an extraordinary moment of the game please tap camera sign and choose one of the following options: save on your device, send via e-mail or post it on Facebook wall. If e-mail is not on the list check out whether e-mail is set on your device.
			</cut>
		</li>
	    	</ul> 
    	<h2 color="#FFFFFF">Creating a game profile</h2>
	<ul numeric="true" space="7">   
	    		<li>
			<cut title="What is a guest account?">
			    Registration is not needed to start playing. You can play as guest, but in this case your account will be linked to a certain device. If you would like to continue playing and have all your achievements and score saved, you will have to use this device. You will not be able to restore your guest account, if your device gets lost or broken.
			</cut>
		</li>
	    		<li>
			<cut title="Why do I need to register?">
			    After getting registered you will be able to create your game profile. All your achievements, chips, coins and property will be stored in this profile. You will also be able to add friends and use this profile playing from all iOS or Android devices, social networks and game’s web-site.
			</cut>
		</li>
	    		<li>
			<cut title="How can I register in the game?">
			    Please use the registration form provided in the game menu. You will have to enter your e-mail, password and nickname. If you wish, you can also upload your user pic. We suggest that you use a real email, in order we will be able to help you restore your password. If you have a social network profile, you can use it as a game profile.
			</cut>
		</li>
	    		<li>
			<cut title="I have a Man Utd Roulette profile, can I use it to play Man Utd Poker?">
			    Yes, you can. Man Utd Poker and Man Utd Roulette have an integrated account. Please note that if you already have Man Utd Roulette account registered with a particular e-mail, you won’t be able to create a new account with it. In this case just log in to Man Utd Poker with the same password.
			</cut>
		</li>
	    		<li>
			<cut title="How do I know my ID?">
			    Your ID is of 9 or 10 digit number, indicated in your profile in the application or on the website. Please remember to provide your ID when contacting technical support.
			</cut>
		</li>
	    		<li>
			<cut title="Can I change my login?">
			    Unfortunately, you cannot change your login. But you can register a new account and choose any other username.
			</cut>
		</li>
	    		<li>
			<cut title="How can I restore my password?">
			    To restore your password please tap «Forgot your password?» link and enter your data in the form provided. We suggest that you use a real email. In case you have used non-existent email address or the address you have indicated is not available anymore, please use our contact form to receive any further instructions from our technical support.
			</cut>
		</li>
	    		<li>
			<cut title="Can I delete my account?">
			    <p>An account cannot be deleted. If you wish, you can create a new account. Please note that you can use up to 20 accounts on one device (including the guest account).</p>
			</cut>
		</li>
	    		<li>
			<cut title="How can I enter my game profile settings?">
			    To enter game profile, please tap the block with your userpic, name and balance in the main menu.
			</cut>
		</li>
	    		<li>
			<cut title="How can I change my nickname?">
			    To change your nickname tap on your nickname in the profile settings (or pencil pic next to it) and enter a new one, than tap «Done»
			</cut>
		</li>
	    		<li>
			<cut title="How can I upload or change my userpic?">
			    Tap on your current userpic in the game profile settings. Select «New» in the drop-down menu, then take a picture or choose a photo from your device gallery or another existing photo.
            If you logged in for the first time using your Facebook account, your Facebook avatar will be used.
			</cut>
		</li>
	    		<li>
			<cut title="How can I change my status?">
			    Enter «Profile» in the main menu, then tap the line beyond your avatar and enter a new status. Leave this field empty, if you do not want anything to be displayed in the status field.
			</cut>
		</li>
	    		<li>
			<cut title="How can I determine my location?">
			    «Location» indicates the region you are currently in. To update your location please tap corresponding icon in the game profile. To determine your location on the website profile please tap «Determine» next to «Location» in your ID line on the right from the userpic.
			</cut>
		</li>
	    		<li>
			<cut title="Why my location is not determined?">
			    Please, make sure that the location settings on your device are activated and our application has access to it. If the location is not determined at specified settings, then try to reinstall the application and allow the determination of the location when you first start it.
			</cut>
		</li>
	    		<li>
			<cut title="How can I buy property?">
			    You can buy property with chips or coins. Property does not change anything in the game process, but can indicate your game status.
            To buy property, please sign up to your account, tap «Property» and use purchase menu. You can give property to your friends or any user you like. To sell property please use a corresponding option in the game profile menu. Please take into account that you will get back only 10% of the price. When selling a property given to you by other players, you do not receive anything. Objects are just removed from your profile.
			</cut>
		</li>
	    		<li>
			<cut title="How can I buy gifts?">
			    Sitting at the table please tap on the glass icon next to your userpic, then choose a gift. Gift will be displayed next to the player’s avatar. Property will be displayed in the corresponding tap of the user’s profile.
            Please note, that the gifts are temporary, unlike property that is permanent. The gifts last as long as you play at one table, or several days, if they are VIP gifts.
			</cut>
		</li>
	    		<li>
			<cut title="How can I give gifts to other players?">
			    Tap glass or house icon next to player’s userpic. Choose the gift and confirm the purchase. To give gifts to all the players at the table please choose «buy for all» in the purchase menu.
			</cut>
		</li>
	    		<li>
			<cut title="What can I do, if I do no not like the gift sent to me?">
			    <p>In case you do not like the gift you have bought or you have been given, you can substitute it with a new one. Tap on the current gift (the spot where you usually see the glass icon), then choose a new one. Then it will be displayed next to your avatar. In the exactly same way you can substitute other player&rsquo;s gift. Besides, gifts disappear when you exit the app. VIP gifts are the only exception.</p>
			</cut>
		</li>
	    		<li>
			<cut title="Why can’t I buy alcohol and tobacco?">
			    <p>According to Facebook rules, users cannot buy alcohol and tobacco while playing in this social network.</p>
			</cut>
		</li>
	    		<li>
			<cut title="What can I get achieves for?">
			    Achieves is an indicator of your gaming progress. To look through the list of achieves please go to the profile and tap «Achiev’s». Tap the achieve to know what did you receive it for. You can also look through your achieves on the website profile.
			</cut>
		</li>
	    		<li>
			<cut title="How can I sign out?">
			    In the mobile apps some icons are hidden in the slighting panel — it is shown with page indicators in the lower right corner of the main menu.
            With the move of your finger you can go to Tournaments, Invite, Store, Tutorial and Signing out your profile.
			</cut>
		</li>
	    	</ul> 
    	<h2 color="#FFFFFF">Game settings</h2>
	<ul numeric="true" space="7">   
	    		<li>
			<cut title="How can I enter game settings?">
			    To enter game settings you need to tap the gear icon in the upper right angle of the main menu.
			</cut>
		</li>
	    		<li>
			<cut title="How can I change game language?">
			    Automatically game language is the same as configured in your device. However, you can select English, available in any version of the game. For this enable «Localization» option in the game settings.
			</cut>
		</li>
	    		<li>
			<cut title="How can I turn the sound off?">
			    To turn in-game sound on/off or regulate volume, please use a corresponding slider in the game settings menu.
			</cut>
		</li>
	    		<li>
			<cut title="How can I turn the vibration off?">
			    Vibration reminds you of making a bet. You can turn it off in the setting menu (function available for smartphones only).
			</cut>
		</li>
	    		<li>
			<cut title="How can I block the chat?">
			    You can not only play but also chat at the table. Players’ messages appear in popups above their userpics.
            If it disturbs you can block the chat in a special menu tapping lock pictogram next to the «chat» button. Choose particular players whose messages you don’t want to see. You can also block chats of all players. For this enable chat block in game settings.
			</cut>
		</li>
	    		<li>
			<cut title="How can I disable statuses?">
			    If players’ statuses disturb you can disable them in game settings.
			</cut>
		</li>
	    		<li>
			<cut title="How can I enable cards lightning?">
			    In game settings you can enable lightning of cards that set up a winning combination being in your hand and on the table. It simplifies the game but also affects its interest and suspense.
			</cut>
		</li>
	    		<li>
			<cut title="How can I disable push-notifications?">
			    You can switch off push notifications in the device settings. For this go to Settings/Push notifications/ Man Utd Poker.
			</cut>
		</li>
	    		<li>
			<cut title="How can I disable displaying gifts?">
			    You can disable displaying gifts at the table, if it disturbs you. For this, use the corresponding slider in the setting menu. Note that in this case you won’t be able to give and get gifts.
			</cut>
		</li>
	    		<li>
			<cut title="How can I disable voice messages recognition?">
			    Enter game settings, then choose «Voice» tab. You can enable/disable voice messages recognition and choose a language of the messages to be recognized.
			</cut>
		</li>
	    	</ul> 
    	<h2 color="#FFFFFF">Financial issues</h2>
	<ul numeric="true" space="7">   
	    		<li>
			<cut title="Do I play with real money or virtual chips?">
			    We use virtual currency, your account remains untouched. But you can use real money to buy chips, coins or VIP-status in our Store.
			</cut>
		</li>
	    		<li>
			<cut title="How can I get free chips?">
			    You can get free chips, if you:
            — participate in everyday lottery;
                — download bonus apps (only for Android-users);
                — invite your friends to play.
            Besides, your friends can give you as gift up to 100 000 chips a day.
			</cut>
		</li>
	    		<li>
			<cut title="What if I played out all the chips and have a zero balance?">
			    <p>For the first five times, your account will be refilled with 500 free chips and you&rsquo;ll be able to continue the game.</p>
			</cut>
		</li>
	    		<li>
			<cut title="How can I buy chips?">
			    — Tap «Store» in the main menu and buy a necessary amount of chips via iTunes or Google Play Store. The payment will be made with your credit card linked to account. You can also use iTunes gift card.
            — If you play using your account in a social network, you can buy chips with virtual currency of a particular social network (e.g. Facebook credits).
            — You can also buy chips on our website manutdpoker.com going to your profile and tapping «Buy chips»
			</cut>
		</li>
	    		<li>
			<cut title="How can I buy coins? What do I need them for?">
			    You need coins to byu upscale gifts and property. The coins can be purchased in the Store as well as chips.
            You can also receive coins for coming back after being absent for more than a week. Sometimes you can get them as a gift from game developers.
			</cut>
		</li>
	    		<li>
			<cut title="Can I cancel a purchase?">
			    Yes you can, but for that, you need to apply to that payment system which you use for making this purchase. We don`t work with payment systems directly, so we cannot cancel your purchases.
			</cut>
		</li>
	    		<li>
			<cut title="How does bonus level change amount of purchased chips and coins?">
			    Bonus level allows you to receive an appreciable raise when you buy chips or coins for first three times. By default, you receive the first level and get 100% bonus chips for free. After first purchase you will be switched to the second bonus level and receive 200% bonus chips for free when buying chips or coins next time. Finally, having reached the third bonus level you will receive 300% of chips or coins being purchased.
			</cut>
		</li>
	    		<li>
			<cut title="How can I buy additional chips for the game?">
			    You are sitting at a table, but do not have any chips? Tap your avatar and then tap the chip icon in the profile window. Please enter a necessary amount of chips and come back to play.
            You can also simply «Stand up» or «Sit out» and then «Sit» at the table again. In this case you will be offered to take with you a necessary amount of chips.
			</cut>
		</li>
	    		<li>
			<cut title="Can I exchange chips for coins and coins for chips?">
			    The coins cannot be exchanged for the chips. The chips also cannot be exchanged for the coins, you can buy the coins only in the Store. To buy them, tap «Store» in the main menu.
			</cut>
		</li>
	    		<li>
			<cut title="What can I do to restore «vanished» chips?">
			    If you enter the game and notice you have fewer chips and lower level, first, check whether you have logged in to the same account. You may have logged in as guest or using another account. If you are sure it is not related to any of the above, please contact our technical support, we will be glad to help you.
			</cut>
		</li>
	    		<li>
			<cut title="How can I get bonus chips for installing other apps?">
			    Note: at this moment the bonus system works only for Android. Download, install and run bonus app to get bonus chips. Sometimes you have to wait rerun the game or even log in again to see the received chips.
			</cut>
		</li>
	    		<li>
			<cut title="How can I transfer chips to another account?">
			    <p>Transferring chips from one user&rsquo;s account to another is prohibited.</p>
			</cut>
		</li>
	    	</ul> 
    	<h2 color="#FFFFFF">Friends</h2>
	<ul numeric="true" space="7">   
	    		<li>
			<cut title="How do I use Friends tab in the main menu?">
			    In the main menu you can see the list of your friends below your profile thumbnail. The upper avatar is a profile of a friend you have chosen (in the center of the screen you can see the friend info and action buttons).
            Lower you can see the two-row list of the rest of your friends’ avatars thumbnails. To see the whole list of the friends scroll the list with avatars thumbnails. In the very bottom of the screen you can see avatars of randomly chosen players.
			</cut>
		</li>
	    		<li>
			<cut title="How can I add other Players to «Friends»?">
			    — Enter «Friends» section in the main menu and go to «Search» tab. You can search for users by their nicknames, e-mail addresses or IDs and tap «Add to friends»
            — Playing at the table you can send friend requests to users who play at the same table as you. For this open his profile and tap «Add to friends». You can also offer friendship to other players using functional in your profile on the site manutdpoker.com. For this, find the user by his nickname, ID or email, go to his profile page and send a request.
			</cut>
		</li>
	    		<li>
			<cut title="How can I give chips as a gift to my Friend?">
			    Enter the «Friends» section in the main menu, choose a friend and tap «Send chips». You can give as gift up to 100 000 chips a day.
			</cut>
		</li>
	    		<li>
			<cut title="How can I purchase chips for my Friend?">
			    Enter a friend’s profile, tap «Send chips» and slide the slider bar to a maximum value, then you will see a button «Buy and send chips». After tapping it you will be automatically redirected to the «Store» section. The chips you buy the will be sent to your friend.
			</cut>
		</li>
	    		<li>
			<cut title="How many chips can I buy for my friends?">
			    If you give chips as a gift to your friends, the amount is limited. But you can buy an unlimited amount of chips for your friends.
			</cut>
		</li>
	    		<li>
			<cut title="How can I make a gift to my Friend or send him my property?">
			    You can buy property and gifts for other players. Tap the «glass» or «house» icon next to your friend’s avatar.
            You can also choose «Buy for all» and give gifts to all users playing at the table.
            Please note, that the gifts are temporaryunlike property that is permanent. Some gifts can stay for several days, these are VIP gifts.
			</cut>
		</li>
	    		<li>
			<cut title="How can I join the table my Friend is playing at?">
			    Enter «Friends» section in the main menu and select a friend’s profile. If the user is playing, tap «Join this table». If you would like to invite a friend to a table you are currently playing at, tap on the empty chair and choose the friend from the list. Your friend will receive an invitation to play.
			</cut>
		</li>
	    		<li>
			<cut title="How can I delete users from «Friends»?">
			    To delete a user from the friends list, choose «Friends» in the main menu of the game. Choose a friend you would like to delete, tap «Delete from the friends list».
			</cut>
		</li>
	    		<li>
			<cut title="How can I get chips or other bonuses for inviting friends?">
			    Tap «Friends» in the main menu and choose «Invite». Then send your friends a request to join you in Man Utd Poker by SMS, e-mail or Facebook. If you friends follow the link attached you get the bonus.
            If you play on Facebook tap «Free chips» and get chips for every player you invite.
			</cut>
		</li>
	    	</ul> 
    	<h2 color="#FFFFFF">Communication with other players</h2>
	<ul numeric="true" space="7">   
	    		<li>
			<cut title="What personal messages are?">
			    Personal messages are messages you send to a certain player. Hence, only he/she can read them. In the personal messages history you can find not only the messages you have sent during a current conversation, but also the archive of messages with indication of dates and time.
			</cut>
		</li>
	    		<li>
			<cut title="How do I enter the personal messages menu?">
			    To enter personal messages menu, tap envelope icon «Messages» in the main menu. You can also choose a friend with whom you would like to start a conversation and tap envelope button in his/her profile.
			</cut>
		</li>
	    		<li>
			<cut title="How does the personal messages menu work?">
			    On the left you can see the list of the friends, you have already been in conversation with. To add a new user to this list tap «Add» (pencil-with-plus icon located in the lower left angle of the screen.
            You can also go to your friend’s profile and perform some actions, for example, send chips or join a game.
			</cut>
		</li>
	    		<li>
			<cut title="How can I send a message?">
			    Choose a friend you would like to send a message to, tap a special field to type some text. Type your message and tap «Send».
			</cut>
		</li>
	    		<li>
			<cut title="Can I send a message to a friend who is offline?">
			    You can send a message to a friend who is offline too. The messages you have received being offline are displayed as numbers on the «messages» icon.
			</cut>
		</li>
	    		<li>
			<cut title="How do I delete personal messages?">
			    Tap and hold the message you’d like to delete, than choose «Delete» in the appeared menu.
			</cut>
		</li>
	    		<li>
			<cut title="How do I write something on chat?">
			    Playing at the table open chat screen by tapping «Messages» icon in the right lower corner of the screen. Type your message and tap «Enter», then «Done».
			</cut>
		</li>
	    		<li>
			<cut title="How do I use voice messages?">
			    You can communicate with other players not only with text messages, but also with voice messages. Tap a microphone icon in the lower right corner of the screen and pronounce a message you would like to share with your opponents. The system recognizes your speech and converts it into text on the other players’ screens. The period you can use this function within is limited, it can be purchased with coins at our Store. Please use bonus programs to prolong this service.
			</cut>
		</li>
	    	</ul> 
       
    </div>
</div>
</body>
</html>
