<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Yii.t('policy', 'Terms of use') }}</title>
    {#<link href="{{ App.urlManager.staticHost }}/css/main.css" media="all" rel="stylesheet" type="text/css"/>#}
</head>
{% if App.language=='ar' %}
<body class="in-no-bg" style="direction: rtl">
{% else %}
<body class="in-no-bg">
{% endif %}

    <h1>{{ Yii.t('policy', 'Terms of use') }}</h1>

    {#<p>{{ Yii.t('policy', 'Last updated December 10, 2013') }}</p>#}
    <p>{{ Yii.t('policy', 'Last updated August 29, 2013') }}</p>
    <h2>{{ Yii.t('policy', 'Legal Agreement') }}</h2>
    <p>{{ Yii.t('policy', '1.1. The following terms and conditions, which include and hereby incorporate the Privacy Policy (collectively, these &laquo;Terms of&nbsp;Service&raquo;) are binding legal agreement between you and KAMAGAMES LTD., its subsidiaries and affiliated companies (KamaGames) that govern your use of&nbsp;(a) the website located at&nbsp;www.kamagames.com, manutdpoker.com (the &laquo;Site&raquo;), including any services, features and content accessible or&nbsp;downloadable from the Site, and (b) any other KamaGames websites, applications, services or&nbsp;products licensed, downloaded or&nbsp;otherwise accessed by&nbsp;you through third party websites or&nbsp;sources ((a) and (b) collectively, the &laquo;Service&raquo;). By&nbsp;using this Website or&nbsp;accessing any of&nbsp;our games, you agree to&nbsp;accept and be&nbsp;bound by&nbsp;the terms and conditions appearing in&nbsp;this document, and agree to&nbsp;comply with any Rules of&nbsp;Conduct and the Privacy Policy.') }}</p>
    <p>{{ Yii.t('policy', '1.2. KamaGames reserves the right, at&nbsp;our discretion, to&nbsp;change, modify, add or&nbsp;remove portions of&nbsp;these Terms of&nbsp;Service and its Privacy Policy at&nbsp;any time by&nbsp;posting the amended Terms on&nbsp;or&nbsp;within the Service. You will be&nbsp;deemed to&nbsp;have accepted such changes by&nbsp;continuing to&nbsp;use the Service. Except as&nbsp;otherwise stated, all amended terms shall automatically be&nbsp;effective 30 days after they are initially posted.') }}</p>
    <p>{{ Yii.t('policy', '1.3. You hereby represent that you have the legal capacity to&nbsp;enter into this Agreement and you are not barred from receiving services offered by&nbsp;KamaGames under the laws of&nbsp;applicable jurisdiction. The Service is&nbsp;not intended for use by&nbsp;children under 13 years of&nbsp;age.') }}</p>
    <h2>{{ Yii.t('policy', 'License') }}</h2>
    <p>{{ Yii.t('policy', '2.1. KamaGames hereby grants you a&nbsp;limited, revocable, non-exclusive, non-sublicensable, and non-transferable right and license to&nbsp;use the Site and the services offered by&nbsp;our Site (the &laquo;Services&raquo;) as&nbsp;well as&nbsp;any software (the &laquo;Software&raquo;) in&nbsp;connection with the Services only for the purposes of&nbsp;accessing, viewing or&nbsp;playing content, posting or&nbsp;submitting User Content, using the embedded link function, placing product orders or&nbsp;for accessing information, Applications and services solely for you noncommercial, limited personal use and for no&nbsp;other purposes.') }}</p>
    <p>{{ Yii.t('policy', '2.2. The rights granted to&nbsp;you under this Agreement are subject to&nbsp;the following conditions:') }}</p>
    <ul class="list-01">
        <li>{{ Yii.t('policy', 'You may not (a) sublicense, rent, lease, loan, sell or&nbsp;otherwise transfer the Software or&nbsp;the Services (or&nbsp;any part thereof) (b) modify, adapt, reverse engineer or&nbsp;decompile the Software, or&nbsp;otherwise attempt to&nbsp;derive source code from the Software; &copy; create any derivative works in&nbsp;respect of&nbsp;the Software or&nbsp;the Service; or&nbsp;(d) otherwise use the Software or&nbsp;the Service except as&nbsp;expressly provided in&nbsp;this Agreement. Title to&nbsp;the Software, and all rights with respect to&nbsp;the Software and Service not specifically granted under this Agreement, including without limitation all rights of&nbsp;reproduction, modification, distribution, display, disassembly and de-compilation and all copyright, patent, trademark, trade secret and other proprietary rights and interests are reserved to&nbsp;KamaGames or&nbsp;its licensor(s).') }}</li>
        <li>{{ Yii.t('policy', 'You may not, nor will you allow any third party (whether or&nbsp;not for your benefit (a) alter, delete or&nbsp;conceal any copyright or&nbsp;other notices contained on&nbsp;the Site, including notices on&nbsp;any Content you download, transmit, display, print or&nbsp;reproduce from the Site; (b) reproduce, modify, create derivative works from, display, perform, publish, distribute, disseminate, broadcast or&nbsp;circulate to&nbsp;any third party (including, without limitation, on&nbsp;or&nbsp;via a&nbsp;third party website), or&nbsp;otherwise use, any Content without the express prior written consent of&nbsp;KamaGames. Any unauthorized or&nbsp;prohibited us&nbsp;of&nbsp;any Content may subject you to&nbsp;civil liability, criminal prosecution, or&nbsp;both, under applicable federal, state and local laws.') }}</li>
    </ul>
    <p>{{ Yii.t('policy', '2.3. If&nbsp;you access one of&nbsp;our KamaGames Software, you may have the opportunity to&nbsp;get a&nbsp;limited and revocable license to&nbsp;use virtual, in-game currency or&nbsp;items that can be&nbsp;used while playing such Software. You may be&nbsp;required to&nbsp;pay a&nbsp;fee to&nbsp;obtain virtual currency and/or items. You understand that &laquo;Virtual Items&raquo; including but not limited to&nbsp;virtual coins, tokens, points, goods that you may &laquo;earn&raquo;, &laquo;purchase&raquo; or&nbsp;&laquo;give as&nbsp;a&nbsp;gift&raquo; exist solely in&nbsp;the virtual world and have no&nbsp;monetary value, and cannot be&nbsp;used to&nbsp;purchase or&nbsp;use products or&nbsp;services other than within the applicable Software. Price and availability of&nbsp;virtual currency and virtual items are subject to&nbsp;change without notice.') }}</p>
    <h2>{{ Yii.t('policy', 'Account Registration') }}</h2>
    <p>{{ Yii.t('policy', '3.1. You may be&nbsp;required to&nbsp;create an&nbsp;account (an&nbsp;&laquo;Account&raquo;) to&nbsp;access our Site and our Services. If&nbsp;you have questions about Account registration, please contact our Support Team at&nbsp;<a href="mailto:support@kamagames.com">support@kamagames.com</a>. Accounts are available only to&nbsp;individuals 13 years of&nbsp;age or&nbsp;older (if&nbsp;it&nbsp;is&nbsp;not specially stated for certain portions of&nbsp;the Site or&nbsp;the Services that they contain mature contents and are not suitable for anyone younger than 18 years of&nbsp;age or&nbsp;the applicable age of&nbsp;majority in&nbsp;the jurisdiction in&nbsp;which you reside). If&nbsp;you are over 13 years of&nbsp;age but are still considered a&nbsp;minor, we&nbsp;ask that you review these terms with your parents or&nbsp;guardian to&nbsp;ensure they understand them and agree to&nbsp;them. By&nbsp;accepting the terms of&nbsp;use in&nbsp;the Agreement, you represent that you are 13 years of&nbsp;age or&nbsp;older. We&nbsp;shall not be&nbsp;responsible in&nbsp;any way for your failure to&nbsp;accurately confirm your age per the terms hereunder.') }}</p>
    <p>{{ Yii.t('policy', '3.2. Only one person may use an&nbsp;Account and you may not have more than four Accounts. KamaGames reserves the right to&nbsp;set limits on&nbsp;the number of&nbsp;Accounts over time in&nbsp;its sole discretion.') }}</p>
    <p>{{ Yii.t('policy', '3.3. When creating a&nbsp;user identity (&laquo;User ID&raquo;) you agree to&nbsp;(i) provide true, accurate, current and complete information as&nbsp;requested in&nbsp;the required fields and (ii) promptly maintain and update such User ID&nbsp;to&nbsp;keep it&nbsp;true, accurate, current and complete. The information you provided shall be&nbsp;subject to&nbsp;our Privacy Policy. Your Nick Name or&nbsp;User ID, which is&nbsp;considered open information for other Users, may be&nbsp;transferred by&nbsp;KamaGames to&nbsp;other Users to&nbsp;create connections and increase social relations of&nbsp;the Users.') }}</p>
    <p>{{ Yii.t('policy', '3.4. You are liable for all activities conducted through your Account. Your Account may be&nbsp;blocked if&nbsp;someone else uses it&nbsp;to&nbsp;engage in&nbsp;activity that violates the Terms of&nbsp;Service or&nbsp;is&nbsp;otherwise improper or&nbsp;illegal. You should not reveal your Account password to&nbsp;others. KamaGames will not ask you to&nbsp;reveal your password, or&nbsp;initiate contact with you asking for answers to&nbsp;your password security questions.') }}</p>
    <p>{{ Yii.t('policy', '3.5. You shall not have an&nbsp;Account or&nbsp;use the Service if&nbsp;you have previously been removed by&nbsp;KamaGames or&nbsp;previously been banned from playing any KamaGames game.') }}</p>
    <p>{{ Yii.t('policy', '3.6. Your User ID&nbsp;may be&nbsp;deactivated if&nbsp;you do&nbsp;not use it&nbsp;within six months after the date that it&nbsp;was created or&nbsp;for any continuous period of&nbsp;six months after creation. If&nbsp;you do&nbsp;not use your User ID&nbsp;for six or&nbsp;more months, it&nbsp;may be&nbsp;removed and deleted by&nbsp;the Website administrator at&nbsp;its sole discretion without preliminary notification.') }}</p>
    <h2>{{ Yii.t('policy', 'User Content') }}</h2>
    <p>{{ Yii.t('policy', '4.1. We&nbsp;expressly reserve the right, but have no&nbsp;obligation, to: (a) monitor any communications within the KamaGames Site, other websites, forums, chats or&nbsp;other channels, including, without limitation, to&nbsp;ensure that appropriate standards of&nbsp;online conduct are being observed, and (b) immediately or&nbsp;at&nbsp;any time remove any content that we&nbsp;deem objectionable or&nbsp;unsuitable in&nbsp;our sole discretion. KamaGames does not endorse, approve, or&nbsp;prescreen any content that you or&nbsp;other users post or&nbsp;communicate in&nbsp;connection with use of&nbsp;any KamaGames Services. KamaGames does not assume any responsibility or&nbsp;liability for any content that is&nbsp;generated, posted or&nbsp;communicated by&nbsp;any user in&nbsp;connection with use of&nbsp;any KamaGames Services. You agree to&nbsp;indemnify KamaGames and its Affiliates and each of&nbsp;their respective employees, contractors, officers, directors, shareholders, agents, representatives, vendors, and content providers from any liability or&nbsp;damages arising out of&nbsp;or&nbsp;resulting from any content you post or&nbsp;communicate.') }}</p>
    <p>{{ Yii.t('policy', '4.2. You acknowledge and agree that your submitted content, including your reviews and your communications with other users via online messaging, forums or&nbsp;bulletin boards, and any other similar types of&nbsp;communications and submissions in&nbsp;regard of&nbsp;use of&nbsp;any KamaGames Services, are non-confidential, public communications, and you have no&nbsp;expectation of&nbsp;privacy concerning such communications. You acknowledge that personal information that you communicate publicly may be&nbsp;seen and used by&nbsp;others and may result in&nbsp;unsolicited communications. KamaGames is&nbsp;not liable for any information that you choose to&nbsp;submit or&nbsp;communicate to&nbsp;other users, or&nbsp;for the actions of&nbsp;any other users.') }}</p>
    <p>{{ Yii.t('policy', '4.3. You represent and warrant that you have all necessary rights in&nbsp;and to&nbsp;any Content that you post, that such Content do&nbsp;not infringe any proprietary or&nbsp;other rights of&nbsp;third parties, that all such content is&nbsp;accurate and will not cause injury to&nbsp;any person or&nbsp;entity, and that you will indemnify KamaGames and its Affiliates and their respective employees, contractors, officers, directors, shareholders, agents, representatives, vendors, and content providers for all claims resulting from your submitted and posted content. If&nbsp;any such Content incorporate the name, voice, likeness and/or image of&nbsp;any individual, you represent and warrant that you have the right to&nbsp;grant KamaGames permission to&nbsp;use any such name, voice, likeness and/or image of&nbsp;such individual appearing in&nbsp;the Content you post throughout the world in&nbsp;perpetuity. Once you post or&nbsp;communicate any content or&nbsp;Content on&nbsp;KamaGames Site or&nbsp;Software, you expressly grant KamaGames the complete, worldwide, fully sublicensable and irrevocable right to&nbsp;quote, re-post, use, reproduce, modify, adapt, publish, translate, create derivative works from, display, distribute, transmit, and broadcast such content or&nbsp;Content, including without limitation the name you submit in&nbsp;connection with such content or&nbsp;Content, in&nbsp;any form, with or&nbsp;without attribution to&nbsp;you, and without any notice or&nbsp;compensation to&nbsp;you of&nbsp;any kind. We&nbsp;reserve the right to&nbsp;immediately remove any content that may be&nbsp;considered, in&nbsp;our sole discretion, in&nbsp;violation of&nbsp;the rights of&nbsp;any third party.') }}</p>
    <p>{{ Yii.t('policy', '4.4. It&nbsp;is&nbsp;KamaGames’ policy to&nbsp;respond to&nbsp;notices of&nbsp;alleged copyright infringement that comply with the Digital Millennium Copyright Act (&laquo;DMCA&raquo;). If&nbsp;You believe that you copyrighted work has been copied, reproduced, displayed, duplicated, performed, distributed, or&nbsp;otherwise infringed without your authorization and is&nbsp;available on&nbsp;the Service or&nbsp;in&nbsp;a&nbsp;KamaGames’ game in&nbsp;a&nbsp;way that may constitute copyright infringement, you may provide notice of&nbsp;your claim to&nbsp;the following e-mail address: <a href="mailto:support@kamagames.com">support@kamagames.com</a>') }}</p>
    <h2>{{ Yii.t('policy', 'Rules of&nbsp;Conduct') }}</h2>
    <p>{{ Yii.t('policy', 'As&nbsp;a&nbsp;condition of&nbsp;your use of&nbsp;the Service, and without limiting any other obligations under these Terms of&nbsp;Service, you agree to&nbsp;comply with the limitations and rules of&nbsp;use set forth in&nbsp;this Section as&nbsp;well as&nbsp;any additional restrictions or&nbsp;rules (such as&nbsp;application-specific rules) set forth. Any use of&nbsp;the Service in&nbsp;violation of&nbsp;these Rules of&nbsp;Conduct is&nbsp;strictly prohibited, can result in&nbsp;the immediate revocation of&nbsp;your limited license granted by&nbsp;Section 2, and may subject you to&nbsp;liability for violations of&nbsp;law.') }}</p>
    <p>{{ Yii.t('policy', '5.1. ILLEGAL CONTENT. You agree that you will not transmit, make available or&nbsp;otherwise promote or&nbsp;support, under any circumstances:') }}</p>
    <p>{{ Yii.t('policy', '(a) any Content that is&nbsp;unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, pornographic, sexual, libelous, invasive of&nbsp;another’s&nbsp;privacy, hateful, discriminatory or&nbsp;disparaging or&nbsp;otherwise objectionable or&nbsp;inappropriate;') }}</p>
    <p>{{ Yii.t('policy', '(b) any abusive, offensive, or&nbsp;defamatory screen names and/or avatars;') }}</p>
    <p>{{ Yii.t('policy', '(c) any Content that promotes illegal activity, such as&nbsp;drug use;') }}</p>
    <p>{{ Yii.t('policy', '(d) any Content that infringes any patent, trademark, trade secret, copyright or&nbsp;other intellectual property, proprietary or&nbsp;other rights of&nbsp;any party;') }}</p>
    <p>{{ Yii.t('policy', '(e) any unsolicited or&nbsp;unauthorized advertising, promotional Content, &laquo;junk mail&raquo;, &laquo;spam&raquo;, &laquo;chain letters, &laquo;pyramid schemes&raquo;, or&nbsp;any other form of&nbsp;solicitation;') }}</p>
    <p>{{ Yii.t('policy', '(f) any spyware, passive collection mechanism or&nbsp;any other code or&nbsp;Content that acts as&nbsp;a&nbsp;passive or&nbsp;active information collection or&nbsp;transmission mechanism;') }}</p>
    <p>{{ Yii.t('policy', '(g) cheats, hacks, cracks, malicious programs, viruses or&nbsp;any other computer code, files or&nbsp;programs that have the effect of&nbsp;or&nbsp;are intended to&nbsp;modify, impair, disrupt, destroy, interfere with or&nbsp;limit the functionality of&nbsp;the Service or&nbsp;any part thereof, take control of&nbsp;any computer software, hardware or&nbsp;telecommunications equipment or&nbsp;interrupt any user’s&nbsp;uninterrupted use and enjoyment of&nbsp;the Service; ') }}</p>
    <p>{{ Yii.t('policy', '(h) unreleased Service content (such as&nbsp;in-game items or&nbsp;equipment), areas that have been unlocked by&nbsp;hacking into client data files, or&nbsp;data not available through normal operation or&nbsp;game play on&nbsp;any part of&nbsp;the Service.') }}</p>
    <p>{{ Yii.t('policy', '5.2. ILLEGAL ACTIVITY. You agree that you will not, under any circumstances:') }}</p>
    <p>{{ Yii.t('policy', '(i) organize, effectuate or&nbsp;participate in&nbsp;any activity, group, guild that is&nbsp;harmful, abusive, hateful, racially, ethnically, religiously or&nbsp;otherwise offensive, obscene, threatening, bullying, vulgar, sexually explicit, defamatory, infringing, invasive of&nbsp;personal privacy or&nbsp;publicity rights, encourages conduct that would violate a&nbsp;law or&nbsp;in&nbsp;a&nbsp;reasonable person’s&nbsp;view, objectionable and/or inappropriate and defraud or&nbsp;mislead KamaGames or&nbsp;other users or&nbsp;otherwise engage in&nbsp;any suspicious activity; ') }}</p>
    <p>{{ Yii.t('policy', '(j) promote, encourage or&nbsp;take part in&nbsp;any activity involving hacking, cracking, phishing, taking advantage of&nbsp;exploits or&nbsp;cheats and/or distribution of&nbsp;counterfeit software and/or virtual currency/items; ') }}</p>
    <p>{{ Yii.t('policy', '(k) interfere with, disrupt or&nbsp;circumvent any security feature of&nbsp;the Service or&nbsp;any feature that restricts or&nbsp;enforces limitations on&nbsp;use of&nbsp;or&nbsp;access to&nbsp;the Service;') }}</p>
    <p>{{ Yii.t('policy', '(l) upload files that contain a&nbsp;virus, worm, spyware, time bombs, corrupted data or&nbsp;other computer programs that may damage, interfere with or&nbsp;disrupt KamaGames Services;') }}</p>
    <p>{{ Yii.t('policy', '(m) interfere with or&nbsp;disrupt the Service or&nbsp;servers or&nbsp;networks connected to&nbsp;the Service, or&nbsp;disobey any requirements, procedures, policies or&nbsp;regulations of&nbsp;networks connected to&nbsp;the Service; ') }}</p>
    <p>{{ Yii.t('policy', '(n) create any Account by&nbsp;automated means or&nbsp;false pretenses, create more than one Account per Device, or&nbsp;use any other user’s&nbsp;Account for any purpose, including to&nbsp;circumvent a&nbsp;suspension or&nbsp;ban;') }}</p>
    <p>{{ Yii.t('policy', '(o) cheat or&nbsp;use, develop or&nbsp;distribute automation software programs (&laquo;bots&raquo;), &laquo;macro&raquo; software programs or&nbsp;other &laquo;cheat utility&raquo; software program or&nbsp;applications which are designed to&nbsp;modify the experience to&nbsp;the detriment of&nbsp;fair play; or&nbsp;') }}</p>
    <p>{{ Yii.t('policy', '(p) use the Service to&nbsp;intentionally or&nbsp;unintentionally violate any applicable local, state, national or&nbsp;international law;') }}</p>
    <p>{{ Yii.t('policy', '(q) abuse or&nbsp;exploit bugs, undocumented features, design errors or&nbsp;problems in&nbsp;the game;') }}</p>
    <p>{{ Yii.t('policy', '(r) sublicense, rent, lease, sell, trade, gift, bequeath or otherwise transfer your Account or any Virtual Items or Virtual Currency associated with your Account to anyone without KamaGames’s written permission;') }}</p>
	<p>{{ Yii.t('policy', '(s) use the Service to&nbsp;engage in&nbsp;any commercial activity, including without limitation any attempt to&nbsp;raise money for any party or&nbsp;any purpose or&nbsp;advertise, promote or&nbsp;attempt to&nbsp;trade or&nbsp;sell a&nbsp;website, pyramid scheme, multi-tiered marketing scheme or&nbsp;any other product or&nbsp;service of&nbsp;any kind;') }}</p>
    <p>{{ Yii.t('policy', '5.3. These Rules of&nbsp;Conduct are not meant to&nbsp;be&nbsp;exhaustive, and KamaGames reserves the right to&nbsp;determine what conduct it&nbsp;considers to&nbsp;be&nbsp;in&nbsp;violation of&nbsp;the rules of&nbsp;use or&nbsp;otherwise outside the spirit of&nbsp;the Services and to&nbsp;take action&nbsp;&mdash; up&nbsp;to&nbsp;and including termination of&nbsp;User Account and exclusion from further participation in&nbsp;the Services.') }}</p>
    <h2>{{ Yii.t('policy', 'Fees and Purchase Terms') }}</h2>
    <p>{{ Yii.t('policy', '6.1. Certain areas of&nbsp;the Site and the Services may charge fees to&nbsp;purchase a&nbsp;license to&nbsp;access and acquire certain virtual game items or&nbsp;participate in&nbsp;game activities on&nbsp;the Site or&nbsp;other platforms. You can license Virtual Items by&nbsp;visiting the purchase page in&nbsp;one of&nbsp;our games, providing your billing information, confirming the particulars of&nbsp;your purchase and re-affirming your agreement to&nbsp;these Terms. You agree to&nbsp;pay all fees and applicable taxes incurred by&nbsp;you or&nbsp;anyone using an&nbsp;Account registered to&nbsp;you. YOU ACKNOWLEDGE THAT KAMAGAMES IS&nbsp;NOT REQUIRED TO&nbsp;PROVIDE A&nbsp;REFUND FOR ANY REASON, AND THAT YOU WILL NOT RECEIVE MONEY OR&nbsp;OTHER COMPENSATION FOR UNUSED VIRTUAL ITEMS WHEN AN&nbsp;ACCOUNT IS&nbsp;CLOSED, WHETHER SUCH CLOSURE WAS VOLUNTARY OR&nbsp;INVOLUNTARY.') }}</p>
    <p>{{ Yii.t('policy', '6.2. KamaGames may, from time to&nbsp;time, modify, amend, or&nbsp;supplement its fee and billing methods, and post those changes in&nbsp;this Agreement or&nbsp;elsewhere on&nbsp;the Site. Such modifications, amendments or&nbsp;supplements shall be&nbsp;effective immediately upon posting on&nbsp;the site. If&nbsp;any change is&nbsp;unacceptable to&nbsp;you, you may cancel you r&nbsp;account at&nbsp;any time.') }}</p>
    <h2>{{ Yii.t('policy', 'Deactivation/Termination of&nbsp;Your Registration or&nbsp;Use') }}</h2>
    <p>{{ Yii.t('policy', '7.1. KamaGames and you each have the right to&nbsp;terminate or&nbsp;cancel any of&nbsp;your KamaGames account(s), if&nbsp;applicable, at&nbsp;any time for any reason. You understand and agree that cancellation of&nbsp;your KamaGames account(s) and/or ceasing use of&nbsp;any and all KamaGames Services is&nbsp;your sole right and remedy with respect to&nbsp;any dispute with KamaGames.') }}</p>
    <p>{{ Yii.t('policy', '7.2. If&nbsp;you violate these Terms of&nbsp;Service, KamaGames may issue you a&nbsp;warning regarding the violation, or, in&nbsp;KamaGames sole discretion, immediately block or&nbsp;terminate any and all KamaGames accounts and/or cancel access to&nbsp;the KamaGames Service. You acknowledge that KamaGames is&nbsp;not required to&nbsp;provide you with any notice or&nbsp;warning prior to&nbsp;any such cancellation under this Section.') }}</p>
    <h2>{{ Yii.t('policy', 'Third Party Sites') }}</h2>
    <p>{{ Yii.t('policy', '8.1. Clicking a&nbsp;hyperlink may direct you away from the Site or&nbsp;the Software. KamaGames does not endorse or&nbsp;control any third-party linked sites, is&nbsp;not responsible for their content and has no&nbsp;association with the owners or&nbsp;operators of&nbsp;such sites. Also, other sites may have different terms of&nbsp;service and different privacy policies.') }}</p>
    <p>{{ Yii.t('policy', '8.2. Your correspondence or&nbsp;business dealings with, or&nbsp;participation in&nbsp;promotions of, advertisers found on&nbsp;or&nbsp;through the Site or&nbsp;Software, including payment and delivery of&nbsp;related goods or&nbsp;services, and any other terms, conditions, warranties or&nbsp;representations associated with such dealings, are solely between you and such advertiser. You agree that KamaGames shall not be&nbsp;responsible or&nbsp;liable for any loss or&nbsp;damage of&nbsp;any sort incurred as&nbsp;the result of&nbsp;any such dealings or&nbsp;as&nbsp;the result of&nbsp;the presence of&nbsp;such advertisers on&nbsp;the Site.') }}</p>
    <h2>{{ Yii.t('policy', 'Intellectual Property Rights') }}</h2>
    <p>{{ Yii.t('policy', '9.1. KamaGames reserves all right, title and interest in&nbsp;the Site and the Software and all associated copyrights, trademarks, and other intellectual property rights therein that are not expressly granted to&nbsp;you in&nbsp;these Terms of&nbsp;Service.') }}</p>
    <p>{{ Yii.t('policy', '9.2. The names and logos, and other graphics, logos, icons, and service names associated with the KamaGames Site or&nbsp;Service, trademarks, registered trademarks or&nbsp;trade dress of&nbsp;KamaGames or&nbsp;its licensors or&nbsp;Affiliates in&nbsp;the United States and/or other countries is&nbsp;the property of&nbsp;KamaGames Ltd. KamaGames’ trademarks and trade dress may not be&nbsp;used in&nbsp;connection with any product or&nbsp;service that is&nbsp;not owned or&nbsp;operated by&nbsp;or&nbsp;on&nbsp;behalf of&nbsp;KamaGames or&nbsp;its Affiliates, or&nbsp;in&nbsp;any manner that is&nbsp;likely to&nbsp;cause confusion among consumers or&nbsp;that disparages or&nbsp;discredits KamaGames, its Affiliates, or&nbsp;any KamaGames Service. The compilation of&nbsp;all content of&nbsp;the KamaGames Site, other websites, applications and games is&nbsp;the exclusive property of&nbsp;KamaGames or&nbsp;its Affiliates and is&nbsp;protected by&nbsp;United States and international copyright laws. You may not use, copy, transmit, modify, distribute, or&nbsp;create any derivative works from any content from the KamaGames Site or&nbsp;Software unless we&nbsp;have expressly authorized you to&nbsp;do&nbsp;so&nbsp;in&nbsp;writing. If&nbsp;you fail to&nbsp;adhere to&nbsp;these Terms of&nbsp;Service, other content owners may take criminal or&nbsp;civil action against you. In&nbsp;the event legal action is&nbsp;taken against you for your acts and/or omissions with regard to&nbsp;any content of&nbsp;the KamaGames Site or&nbsp;Software, you agree to&nbsp;indemnify and hold harmless KamaGames and its Affiliates and their respective employees, contractors, officers, directors, shareholders, agents, representatives, vendors, and content providers.') }}</p>
    <h2>{{ Yii.t('policy', 'Acknowledgements/Limitation on&nbsp;Warranty and Liability') }}</h2>
    <p>{{ Yii.t('policy', '10.1. TO&nbsp;THE MAXIMUM EXTENT PERMITTED BY&nbsp;APPLICABLE LAW, YOU EXPRESSLY AGREE THAT THE USE OF&nbsp;KAMAGAMES SERVICES, KAMAGAMES SOFTWARE, AND THE INTERNET IS&nbsp;AT&nbsp;YOUR SOLE RISK. KAMAGAMES SERVICES, KAMAGAMES SOFTWARE, KAMAGAMES PRODUCTS AND THIRD-PARTY SERVICES AND PRODUCTS ARE PROVIDED ON&nbsp;AN&nbsp;&laquo;AS&nbsp;IS&raquo; AND &laquo;AS&nbsp;AVAILABLE&raquo; BASIS FOR YOUR USE, WITHOUT WARRANTIES OF&nbsp;ANY KIND, EITHER EXPRESS OR&nbsp;IMPLIED, UNLESS SUCH WARRANTIES ARE LEGALLY INCAPABLE OF&nbsp;EXCLUSION. NO&nbsp;WARRANTY IS&nbsp;GIVEN ABOUT THE QUALITY, FUNCTIONALITY, AVAILABILITY OR&nbsp;PERFORMANCE OF&nbsp;KAMAGAMES SOFTWARE OR&nbsp;KAMAGAMES SERVICES. KAMAGAMES DOES NOT ASSUME LIABILITY FOR INABILITY TO&nbsp;OBTAIN OR&nbsp;USE ANY CONTENT, ENTITLEMENTS, GOODS OR&nbsp;SERVICES. KAMAGAMES PROVIDES KAMAGAMES SERVICES ON&nbsp;A&nbsp;COMMERCIALLY REASONABLE BASIS AND DOES NOT GUARANTEE THAT YOU WILL BE&nbsp;ABLE TO&nbsp;ACCESS OR&nbsp;USE KAMAGAMES SERVICES AT&nbsp;TIMES OR&nbsp;LOCATIONS OF&nbsp;YOUR CHOOSING, OR&nbsp;THAT KAMAGAMES WILL HAVE ADEQUATE CAPACITY FOR KAMAGAMES SERVICES AS&nbsp;A&nbsp;WHOLE OR&nbsp;IN&nbsp;ANY SPECIFIC GEOGRAPHIC AREA.') }}</p>
    <p>{{ Yii.t('policy', '10.2. YOU ACKNOWLEDGE AND AGREE THAT KAMAGAMES AND AFFILIATES ARE NOT LIABLE FOR ANY ACT OR&nbsp;FAILURE TO&nbsp;ACT BY&nbsp;THEM OR&nbsp;ANY OTHER PERSON REGARDING CONDUCT, COMMUNICATION OR&nbsp;CONTENT ON&nbsp;KAMAGAMES SERVICES OR&nbsp;USE OF&nbsp;KAMAGAMES SOFTWARE. IN&nbsp;NO&nbsp;CASE SHALL KAMAGAMES OR&nbsp;ITS LICENSORS’, LICENSEES’, AFFILIATES’, EMPLOYEES’, OFFICERS’, OR&nbsp;DIRECTORS’ (COLLECTIVELY, &laquo;KAMAGAMES AFFILIATES&raquo;) LIABILITY TO&nbsp;YOU EXCEED THE AMOUNT THAT YOU PAID TO&nbsp;KAMAGAMES FOR KAMAGAMES SERVICES. IN&nbsp;NO&nbsp;CASE SHALL KAMAGAMES’ LIABILITY TO&nbsp;YOU EXCEED $100 (ONE HUNDRED) US&nbsp;DOLLARS. IN&nbsp;NO&nbsp;CASE SHALL KAMAGAMES OR&nbsp;KAMAGAMES AFFILIATES BE&nbsp;LIABLE FOR INCIDENTAL OR&nbsp;CONSEQUENTIAL DAMAGES ARISING FROM YOUR USE OF&nbsp;KAMAGAMES SERVICES, KAMAGAMES SOFTWARE, THE INTERNET OR&nbsp;FOR ANY OTHER CLAIM RELATED IN&nbsp;ANY WAY TO&nbsp;YOUR USE OF&nbsp;KAMAGAMES SERVICES OR&nbsp;ACCOUNTS. WHILE KAMAGAMES USES COMMERCIALLY REASONABLE MEANS TO&nbsp;PROTECT YOUR PERSONAL INFORMATION, KAMAGAMES AND ITS LICENSORS ASSUME NO&nbsp;LIABILITY FOR LOSS OF&nbsp;DATA, DAMAGE CAUSED TO&nbsp;YOUR SOFTWARE OR&nbsp;HARDWARE, AND ANY OTHER LOSS OR&nbsp;DAMAGE SUFFERED BY&nbsp;YOU OR&nbsp;ANY THIRD PARTY, WHETHER DIRECT, INDIRECT, INCIDENTAL, SPECIAL, OR&nbsp;CONSEQUENTIAL AND, HOWEVER, ARISING, AS&nbsp;A&nbsp;RESULT OF&nbsp;ACCESSING OR&nbsp;USING ANY KAMAGAMES SERVICE, CONTENT, KAMAGAMES SOFTWARE TO&nbsp;YOUR COMPUTER AND/OR DEVICE.') }}</p>
    <p>{{ Yii.t('policy', '10.3. BECAUSE SOME STATES OR&nbsp;JURISDICTIONS DO&nbsp;NOT ALLOW THE EXCLUSION OR&nbsp;THE LIMITATION OF&nbsp;LIABILITY FOR CONSEQUENTIAL OR&nbsp;INCIDENTAL DAMAGES, IN&nbsp;SUCH STATES OR&nbsp;JURISDICTIONS, KAMAGAMES, KAMAGAME’S&nbsp;LICENSORS AND KAMAGAMES’ AFFILIATES LIABILITY SHALL BE&nbsp;LIMITED TO&nbsp;THE FULL EXTENT PERMITTED BY&nbsp;LAW.') }}</p>
    <h2>{{ Yii.t('policy', 'Indemnification') }}</h2>
    <p>{{ Yii.t('policy', '11.1. Upon KamaGames’ request, you agree to&nbsp;defend, indemnify and hold harmless KamaGames and KamaGames Affiliates, contractors, vendors, and content providers from all liabilities, claims and expenses, including attorneys’ fees, that arise from or&nbsp;relate to&nbsp;a&nbsp;breach of&nbsp;these Terms of&nbsp;Service for which you are responsible or&nbsp;in&nbsp;connection with your distribution of&nbsp;any Content on&nbsp;or&nbsp;through KamaGames Services. Without limiting the generality of&nbsp;the foregoing, you agree to&nbsp;indemnify and hold KamaGames harmless for any improper or&nbsp;illegal use of&nbsp;your Account, including the illegal or&nbsp;improper use of&nbsp;your Account by&nbsp;someone to&nbsp;whom you have given permission to&nbsp;use your Account. You agree that you will be&nbsp;personally responsible for your use of&nbsp;KamaGames Services and for all of&nbsp;your communication and activity on&nbsp;KamaGames Services, including any Content you contribute, and that you will indemnify and hold harmless KamaGames and KamaGames Affiliates from any liability or&nbsp;damages arising from your conduct on&nbsp;KamaGames Services, including any Content that you contribute.') }}</p>
    <p>{{ Yii.t('policy', '11.2. KamaGames reserves the right, at&nbsp;their own expense, to&nbsp;assume the exclusive defense and control of&nbsp;any matter otherwise subject to&nbsp;indemnification by&nbsp;you. In&nbsp;that event, you shall have no&nbsp;further obligation to&nbsp;provide indemnification to&nbsp;KamaGames in&nbsp;that matter. This Section shall survive termination of&nbsp;this Terms of&nbsp;Service.') }}</p>
    <h2>{{ Yii.t('policy', 'Dispute Resolution') }}</h2>
    <p>{{ Yii.t('policy', 'If&nbsp;a&nbsp;dispute arises between you and KamaGames, our goal is&nbsp;to&nbsp;provide you with a&nbsp;neutral and cost effective means of&nbsp;resolving the dispute quickly. Accordingly, you and KamaGames agree that we&nbsp;will resolve any claim or&nbsp;controversy at&nbsp;law or&nbsp;equity that arises out of&nbsp;this Agreement or&nbsp;the Service (a&nbsp;&laquo;Claim&raquo;) in&nbsp;accordance with one of&nbsp;the subsections below or&nbsp;as&nbsp;We&nbsp;and you otherwise agree in&nbsp;writing.') }}</p>
    <p>{{ Yii.t('policy', '12.1. Informal Negotiations/Notice of&nbsp;Dispute. You and KamaGames agree to&nbsp;first attempt to&nbsp;negotiate any Dispute informally for at&nbsp;least 30 days before initiating arbitration. Such informal negotiations commence upon receipt of&nbsp;written notice from one person to&nbsp;the other (&laquo;Notice of&nbsp;Dispute&raquo;). Notices of&nbsp;Dispute must: (a) include the full name and contact information of&nbsp;the complaining party; (b) describe the nature and basis of&nbsp;the claim or&nbsp;dispute; and &copy; set forth the specific relief sought (&laquo;Demand&raquo;). KamaGames will send its Notice of&nbsp;Dispute to&nbsp;your billing address (if&nbsp;you provided it&nbsp;to&nbsp;us) or&nbsp;to&nbsp;the email address you provided to&nbsp;us. You will send your Notice of&nbsp;Dispute to: Dimokritou 15, Panaretos Eliana Complex, Office 104, Potamos Germasogeias, 4041, Limassol, Cyprus, ATTENTION: Legal Department.') }}</p>
    <p>{{ Yii.t('policy', '12.2. Arbitration Option. For any claim (excluding claims for injunctive or&nbsp;other equitable relief) where the total amount of&nbsp;the award sought is&nbsp;less than $10,000, the party requesting relief may elect to&nbsp;resolve the dispute in&nbsp;a&nbsp;cost effective manner through binding non-appearance-based arbitration. In&nbsp;the event a&nbsp;party elects arbitration, they shall initiate such arbitration through an&nbsp;established alternative dispute resolution (&laquo;ADR&raquo;) provider mutually agreed upon by&nbsp;the parties. The ADR provider and the parties must comply with the following rules: (a) the arbitration shall be&nbsp;conducted by&nbsp;telephone, online and/or be&nbsp;solely based on&nbsp;written submissions, and the specific manner shall be&nbsp;chosen by&nbsp;the party initiating the arbitration; (b) the arbitration shall not involve any personal appearance by&nbsp;the parties or&nbsp;witnesses unless otherwise mutually agreed by&nbsp;the parties; and &copy; any judgment on&nbsp;the award rendered by&nbsp;the arbitrator shall be&nbsp;final and may be&nbsp;entered in&nbsp;any court of&nbsp;competent jurisdiction.') }}</p>
    <p>{{ Yii.t('policy', '12.3. In&nbsp;case such dispute, controversies or&nbsp;differences cannot be&nbsp;settled amicably through negotiations within a&nbsp;thirty 30-day period, it&nbsp;or&nbsp;they shall be&nbsp;submitted to&nbsp;arbitration administered by&nbsp;the American Arbitration Association in&nbsp;accordance with its International Arbitration Rules.') }}</p>
    <ul class="list-01">
        <li>{{ Yii.t('policy', 'The number of&nbsp;arbitrators shall be&nbsp;one.') }}</li>
        <li>{{ Yii.t('policy', 'The place of&nbsp;arbitration shall be&nbsp;New York, New York.') }}</li>
        <li>{{ Yii.t('policy', 'The arbitration shall be&nbsp;held, and the award rendered, in&nbsp;English.') }}</li>
    </ul>
    <p>{{ Yii.t('policy', 'Each Party shall bear its own expenses, but Parties shall share equally in&nbsp;the expenses of&nbsp;the arbitration tribunal.') }}</p>
    <p>{{ Yii.t('policy', 'The Parties agree that all arbitration proceedings conducted pursuant to&nbsp;this Section shall be&nbsp;kept strictly confidential, and all information disclosed in&nbsp;the course of&nbsp;such arbitration proceedings shall be&nbsp;used solely for the purpose of&nbsp;those proceedings. Any election to&nbsp;arbitrate by&nbsp;one party shall be&nbsp;final and binding on&nbsp;the other.') }}</p>
    <p>{{ Yii.t('policy', '12.4. Restrictions. You and KamaGames agree that any arbitration shall be&nbsp;limited to&nbsp;a&nbsp;dispute between you and KamaGames individually. To&nbsp;the full extent permitted by&nbsp;law, (1) no&nbsp;arbitration shall be&nbsp;joined with any other; (2) there is&nbsp;no&nbsp;right or&nbsp;authority for any dispute to&nbsp;be&nbsp;arbitrated on&nbsp;a&nbsp;class action-basis or&nbsp;to&nbsp;utilize class action procedures; and (3) there is&nbsp;no&nbsp;right or&nbsp;authority for any dispute to&nbsp;be&nbsp;brought in&nbsp;a&nbsp;purported representative capacity on&nbsp;behalf of&nbsp;the general public or&nbsp;any other persons. YOU AND KAMAGAMES AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN&nbsp;YOUR OR&nbsp;ITS INDIVIDUAL CAPACITY, AND NOT AS&nbsp;A&nbsp;PLAINTIFF OR&nbsp;CLASS MEMBER IN&nbsp;ANY PURPORTED CLASS OR&nbsp;REPRESENTATIVE PROCEEDING. Further, unless both you and KamaGames agree otherwise, the arbitrator may not consolidate more than one person’s&nbsp;claims, and may not otherwise preside over any form of&nbsp;a&nbsp;representative or&nbsp;class proceeding.') }}</p>
    <h2>{{ Yii.t('policy', 'Micellanious') }}</h2>
    <p>{{ Yii.t('policy', '13.1. Entire Agreement. These Terms of&nbsp;Service, any supplemental policies and any documents expressly incorporated by&nbsp;reference herein constitutes the entire agreement between you and KamaGames hereto with respect to&nbsp;the subject matter hereof and supersedes all prior understandings or&nbsp;arrangements, oral or&nbsp;written, between you and us&nbsp;with respect to&nbsp;the subject matter hereof.') }}</p>
    <p>{{ Yii.t('policy', '13.2. Waiver. The failure of&nbsp;KamaGames of&nbsp;require or&nbsp;enforce strict performance by&nbsp;you of&nbsp;any provision of&nbsp;these Terms of&nbsp;Service or&nbsp;failure to&nbsp;exercise any right shall not be&nbsp;construed as&nbsp;a&nbsp;waiver or&nbsp;relinquishment of&nbsp;KamaGames’s&nbsp;right to&nbsp;assert or&nbsp;rely upon any such provision or&nbsp;right in&nbsp;that or&nbsp;any other instance. The express waiver by&nbsp;KamaGames of&nbsp;any provision, condition, or&nbsp;requirement of&nbsp;these Terms of&nbsp;Service shall not constitute a&nbsp;waiver of&nbsp;any future obligation to&nbsp;comply with such provision, condition or&nbsp;requirement. Except as&nbsp;expressly and specifically set forth in&nbsp;this these Terms of&nbsp;Service, no&nbsp;representations, statements, consents, waivers, or&nbsp;other acts or&nbsp;omissions by&nbsp;KamaGames shall be&nbsp;deemed a&nbsp;modification of&nbsp;these Terms of&nbsp;Service nor be&nbsp;legally binding, unless documented in&nbsp;physical writing, hand signed by&nbsp;You and a&nbsp;duly appointed officer of&nbsp;KamaGames.') }}</p>
    <p>{{ Yii.t('policy', '13.3. Notice. We&nbsp;may notify you via postings on&nbsp;www.kamagames.com, www.manutdpoker.com or&nbsp;other KamaGames websites, and via e-mail or&nbsp;any other communications means to&nbsp;contact information you provide to&nbsp;Us. All notices given by&nbsp;you or&nbsp;required from you under these Terms of&nbsp;Service or&nbsp;the KamaGames Privacy Policy shall be&nbsp;in&nbsp;writing and addressed to: KAMAGAMES LTD., Attn: LEGAL DEPARTMENT, Dimokritou 15, Panaretos Eliana Complex, Office 104, Potamos Germasogeias, 4041, Limassol, Cyprus. Any notices that you provide without compliance with this Section on&nbsp;Notices shall have no&nbsp;legal effect.') }}</p>
    <p>{{ Yii.t('policy', '13.4. Severability. The invalidity, illegality or&nbsp;unenforceability of&nbsp;any provision of&nbsp;this Agreement shall not affect the validity, legality or&nbsp;enforceability of&nbsp;any other provisions. This Agreement shall continue in&nbsp;full force and effect except for any such invalid, illegal or&nbsp;unenforceable provision.') }}</p>
    <p>{{ Yii.t('policy', '13.5. Force Majeure. KamaGames shall not be&nbsp;liable for any delay or&nbsp;failure to&nbsp;perform resulting from causes outside the reasonable control of&nbsp;KamaGames, including without limitation any failure to&nbsp;perform hereunder due to&nbsp;unforeseen circumstances or&nbsp;cause beyond KamaGames’s&nbsp;control such as&nbsp;acts of&nbsp;God, war, terrorism, riots, embargoes, acts of&nbsp;civil or&nbsp;military authorities, fire, floods, accidents, network infrastructure failures, strikes, or&nbsp;shortages of&nbsp;transportation facilities, fuel, energy, labor or&nbsp;Content.') }}</p>
	<p>{{ Yii.t('policy', '13.6. Language. These Terms of Service has been written in English and translated into 8 languages for convenience purposes.  In the event of any ambiguity of interpretation thereof, and for all official purposes, the provisions set forth in in English version of these Terms of Service shall prevail. ') }}</p>


</body>
</html>
